<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.manage.product.mapper.ProductMngMapper">
    <select id="getQueryTotalCnt" resultType="int">
		SELECT FOUND_ROWS()
	</select>
    <select id="goodsMngListRetrieve" parameterType="hashMap" resultType="hashMap">
        SELECT SQL_CALC_FOUND_ROWS
            goods_cd
            , goods_nm
            , category
            , (SELECT code_nm FROM tbl_code WHERE code = tb.category AND code_grp_cd = 'CATEGORY') as category_nm
            , sub_category
            , (SELECT code_nm FROM tbl_code WHERE code = tb.sub_category AND code_grp_cd = 'SUB_CATEGORY') as sub_category_nm
            , contents
            , goods_amt
            , chapter_info
            , requirements_info
            , goals_info
            , video_url
            , image_url
            , DATE_FORMAT(ent_dttm, '%Y-%m-%d') as ent_dttm
            , ent_user_id
            , DATE_FORMAT(upt_dttm, '%Y-%m-%d') as upt_dttm
            , upt_user_id
        FROM
            tbl_goods tb
        WHERE
            1=1
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="sub_category != null and sub_category != ''">
                AND sub_category = #{sub_category}
            </if>
            <if test="goods_nm != null and goods_nm != ''">
                AND goods_nm LIKE CONCAT('%', #{goods_nm}, '%')
            </if>
        ORDER BY
            goods_cd DESC
        LIMIT
            #{start}, ${end}
    </select>
    <insert id="create" parameterType="hashMap" useGeneratedKeys="true" keyProperty="goods_cd">
    INSERT INTO tbl_goods (
         goods_nm
        , category
        , sub_category
        , contents
        , goods_amt
        , chapter_info
        , requirements_info
        , goals_info
        , video_url
        , ent_dttm
        , ent_user_id
        , upt_dttm
        , upt_user_id
        )
        VALUES
        (
             #{goods_nm}
            , #{category}
            , #{sub_category}
            , #{course-description}
            , #{goods_amt}
            , #{chapterList}
            , #{requirements}
            , #{goals}
            , #{video_url}
            , NOW()
            , #{ent_user_id}
            , NOW()
            , #{upt_user_id}
        )
    </insert>
    <update id="update" parameterType="hashMap">
        UPDATE tbl_goods
        SET
            goods_nm = #{goods_nm}
            , category = #{category}
            , sub_category = #{sub_category}
            , contents = #{course-description}
            , goods_amt = #{goods_amt}
            , chapter_info = #{chapterList}
            , requirements_info = #{requirements}
            , goals_info = #{goals}
            , video_url = #{video_url}
            , upt_dttm = NOW()
            , upt_user_id = #{upt_user_id}
        WHERE
            goods_cd = #{goods_cd}
    </update>
    <update id="imgUrlUpdate" parameterType="hashMap">
        UPDATE tbl_goods
        SET image_url = #{image_url}
        WHERE
            goods_cd = #{goods_cd}
    </update>
    <select id="goodsMngDetailRetrieve" parameterType="hashMap" resultType="hashMap">
        SELECT
            goods_cd
            , goods_nm
            , category
            , (SELECT code_nm FROM tbl_code WHERE code = tb.category AND code_grp_cd = 'CATEGORY') as category_nm
            , sub_category
            , (SELECT code_nm FROM tbl_code WHERE code = tb.sub_category AND code_grp_cd = 'SUB_CATEGORY') as sub_category_nm
            , contents
            , goods_amt
            , chapter_info
            , requirements_info
            , goals_info
            , video_url
            , image_url
            , DATE_FORMAT(ent_dttm, '%Y-%m-%d') as ent_dttm
            , ent_user_id
            , DATE_FORMAT(upt_dttm, '%Y-%m-%d') as upt_dttm
            , upt_user_id
        FROM
            tbl_goods tb
        WHERE
            goods_cd = #{goods_cd}
    </select>
</mapper>