<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>전문문 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />   
    <!-- ✅ Select2 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- ✅ XLSX (SheetJS) 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <!-- Select2 Bootstrap5 Theme -->
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.1.1/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" /> 
    <!-- DataTables Select CSS 추가 -->
    <link rel="stylesheet" href="/css/custom-salesm.css" />

    <script th:inline="none">      
      $(document).ready(function () {           
        $('#frm_sch').onLoadFunction();      
        callAjax('/common/getAgencyList', "", fn_agency_list_setting);
        function fn_agency_list_setting(data) {
          codeSetting('AGENCY_CD', data.data, '#sch_agency_cd', '대리점', '', ''); 
        }

        callAjax('/common/totalCodelist', "code_grp_cd=('SUB_TYPE')", fn_sub_type_setting);      
        function fn_sub_type_setting(data) {
          codeSetting('SUB_TYPE', data.data, '#sch_sub_type', '차감유형', '', '');
        }
        
        callAjax('/common/totalCodelist', "code_grp_cd=('SUB_STATUS')", fn_sub_status_setting);      
        function fn_sub_status_setting(data) {
          codeSetting('SUB_STATUS', data.data, '#sch_sub_status', '진행상태', '', '');
        } 

        // Set default values for sch_reg_sdt and sch_reg_edt
        var toDay = returnDate('today');
        var thirtyDayAgo = returnDate('thirtyDayAgo');
        $('#sch_reg_sdt').val(thirtyDayAgo);
        $('#sch_reg_edt').val(toDay);  

        // Enter key event for sch_chain_nm
        $('#sch_chain_no').on("change", function (e) {
          $("#btn_search").click();
        });

				$('#sch_chain_no').select2({
          theme: 'bootstrap-5',
          placeholder: '가맹점 선택',
          allowClear: true,
          minimumInputLength: 2,
          // width: 'resolve',
          // selectionCssClass: 'form-select-sm',
          // dropdownCssClass: 'form-select-sm',
          ajax: {
            url: '/common/getChainSchList',
            type: 'GET',
            dataType: 'json',
            delay: 300,
            cache: true,
            data: function (params) {
              return {
                keyword: params.term || ''
              };
            },
            processResults: function (data) {
              return {
                results: (data || []).map(function (item) {
                  return {
                    id: item.code,
                    text: item.codeNm
                  };
                })
              };
            }
          }
        });
        
        $('#btn_search').click(function () {   
          tbl_substat_summ.ajax.reload();
          $('#sch_list_chain_no').val('');          
          $('#sch_list_reg_sdt').val('');          
          $('#sch_list_reg_edt').val('');  
          tbl_sub_list.ajax.reload();
        });  

        $('#btn_list_search').click(function () {   
          tbl_sub_list.ajax.reload();
        });

        var tbl_substat_summ = $('#tbl_substat_summ').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          ajax: {
            url: '/withdraw/subtract/subStat/subStatSummary',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              formData = $('#frm_sch').serializeObject();
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
            dataSrc: function (json) {
                // totalSummary 저장
                totalSumm = json.totalSumm || {};
                return json.data;
            },
            // 서버 에러 처리 등 추가 가능
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("DataTables Ajax Error: ", textStatus, errorThrown);
                // 사용자에게 에러 메시지 표시 등
            }
          },
            columns: [
                    { data: 'chain_nm' },
                    { data: 'biz_no' },
                    { data: 'count_o', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'occur_amt_o', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'recv_amt_o', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'remain_amt_o', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'count_i', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'occur_amt_i', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'recv_amt_i', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'remain_amt_i', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'count_l', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'occur_amt_l', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'recv_amt_l', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'remain_amt_l', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'count_m', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'occur_amt_m', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'recv_amt_m', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'remain_amt_m', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'count_etc', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'occur_amt_etc', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'recv_amt_etc', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'remain_amt_etc', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'tot_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'occur_amt_tot', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'recv_amt_tot', render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: 'remain_amt_tot', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                    , { data: 'chain_no', visible: false }
              ],
            columnDefs: [           
                { targets: 0, width: '200px', className: 'text-left px-1' }
                , { targets: 1, width: '150px', className: 'text-left px-1' }    
                             
                , { targets: 2, width: '90px', className: 'text-right px-1' }
                , { targets: 3, width: '120px', className: 'text-right px-1' }
                , { targets: 4, width: '120px', className: 'text-right px-1' }
                , { targets: 5, width: '120px', className: 'text-right px-1' }

                , { targets: 6, width: '90px', className: 'text-right px-1' }
                , { targets: 7, width: '120px', className: 'text-right px-1' }
                , { targets: 8, width: '120px', className: 'text-right px-1' }
                , { targets: 9, width: '120px', className: 'text-right px-1' }

                , { targets: 10, width: '90px', className: 'text-right px-1' }
                , { targets: 11, width: '120px', className: 'text-right px-1' }
                , { targets: 12, width: '120px', className: 'text-right px-1' }
                , { targets: 13, width: '120px', className: 'text-right px-1' }

                , { targets: 14, width: '90px', className: 'text-right px-1' }
                , { targets: 15, width: '120px', className: 'text-right px-1' }
                , { targets: 16, width: '120px', className: 'text-right px-1' }
                , { targets: 17, width: '120px', className: 'text-right px-1' }

                , { targets: 18, width: '90px', className: 'text-right px-1' }
                , { targets: 19, width: '120px', className: 'text-right px-1' }
                , { targets: 20, width: '120px', className: 'text-right px-1' }
                , { targets: 21, width: '120px', className: 'text-right px-1' }

                , { targets: 22, width: '90px', className: 'text-right px-1' }
                , { targets: 23, width: '120px', className: 'text-right px-1' }
                , { targets: 24, width: '120px', className: 'text-right px-1' }
                , { targets: 25, width: '120px', className: 'text-right px-1' }                
              ],
          order: [[26, 'desc']],
            paging: true,
            lengthChange: false,
            searching: false,
            ordering: true,
            autoWidth: false,
            scrollX: true,
            // responsive: false,             
            // scrollCollapse: true,
            pageLength: 20,
            scrollY: '430px',
            info: false,
            language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          }, 
          footerCallback: function (row, data, start, end, display) {
                var api = this.api();
                const renderNumber = $.fn.dataTable.render.number(',', '.', 0, '').display;
                const colMap = {
                    2: 'count_o',
                    3: 'occur_amt_o',
                    4: 'recv_amt_o',
                    5: 'remain_amt_o',
                    6: 'count_i', 
                    7: 'occur_amt_i',
                    8: 'recv_amt_i',
                    9: 'remain_amt_i', 
                    10: 'count_l', 
                    11: 'occur_amt_l',
                    12: 'recv_amt_l',
                    13: 'remain_amt_l',
                    14: 'count_m',
                    15: 'occur_amt_m',
                    16: 'recv_amt_m',
                    17: 'remain_amt_m', 
                    18: 'count_etc', 
                    19: 'occur_amt_etc',
                    20: 'recv_amt_etc',
                    21: 'remain_amt_etc',
                    22: 'tot_cnt',
                    23: 'occur_amt_tot',
                    24: 'recv_amt_tot',
                    25: 'remain_amt_tot',
                };

                Object.entries(colMap).forEach(([colIdx, key]) => {
                    const footer = api.column(Number(colIdx)).footer();
                    if (footer) {
                        const val = totalSumm[key] || 0;
                        $(footer).html(renderNumber(val));
                    }
                });

                // 기타 푸터 설정
                // $(api.column(0).footer()).html('');
                // $(api.column(1).footer()).html('합계:'); 
          },      
        });  
 
        $('#tbl_substat_summ').on('click', 'tr', function (e) {
          if ($(this).hasClass('selected')) {
              $(this).removeClass('selected');
          } else {
              tbl_substat_summ.$('tr.selected').removeClass('selected');
              $(this).addClass('selected');
          }
          
          var row = tbl_substat_summ.row(this).data();
          $('#sch_list_chain_no').val(row.chain_no);          
          $('#sch_list_reg_sdt').val(row.min_reg_dt);          
          $('#sch_list_reg_edt').val(row.max_reg_dt);  
          tbl_sub_list.ajax.reload(); 

        });
        
        // Excel download button click event
        $('#btn_list_excel').click(function () {
          var formData = $('#frm_sch').serializeObject();
          $('#globalLoadingBar').show();
          $.ajax({
            url: '/withdraw/subtract/subStat/downExcelSubSumm',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            xhrFields: {
              responseType: 'blob'
            },
            success: function (data, status, xhr) {
              var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = '차감내역.xlsx';
              link.click();
            },
            error: function (xhr, status, error) {
              alert('Excel download failed.');
            }
            , complete: function () {
              // 🔴 로딩바 숨기기 (성공/실패 관계없이)
              $('#globalLoadingBar').hide();
            }
          });
        });  
        
        var tbl_sub_list = $('#tbl_sub_list').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/withdraw/subtract/subStat/subStatDetail',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              formData = $('#frm_sch_list').serializeObject();
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          }, 
          columns: [
              { data: 'sub_no' }
            , { data: 'reg_date' }
            , { data: 'sub_type_nm' }
            , { data: 'sub_code_nm' }
            , { data: 'sub_memo' }
            , { data: 'sub_status_nm' }
            , { data: 'occur_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
            , { data: 'recv_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
            , { data: 'remain_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }             
            , { data: 'upt_user_id' }
            , {  
              data: null,
              render: function (data, type, row) {
                if (row.recv_amt > 0) {
                    return '<button class="btn btn-primary btn-sm btn-view-recv" data-sub-no="' + row.sub_no + '" >수납내역</button>';
                }
                return '';
              },
              className: 'text-center',
              orderable: false,
              width: '100px'
            } 
          ],
          columnDefs: [
              { targets: 0, width: '120px', className: 'text-left' }
            , { targets: 1, width: '120px', className: 'text-center' }
            , { targets: 2, width: '100px', className: 'text-left' }
            , { targets: 3, width: '200px', className: 'text-left' }
            , { targets: 4, width: '300px', className: 'text-right' }
            , { targets: 5, width: '120px', className: 'text-left' }
            , { targets: 6, width: '130px', className: 'text-center' }
            , { targets: 7, width: '130px', className: 'text-center' }
            , { targets: 8, width: '130px', className: 'text-center' }
            , { targets: 9, width: '120px', className: 'text-center' }
            , { targets: 10, width: '150px', className: 'text-center' }
          ],
          order: [[1, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          responsive: true,
          scrollCollapse: true,
          pageLength: 20,
          scrollY: '580px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        }); 

        $('#tbl_sub_list tbody').on('click', '.btn-view-recv', function () {
            const subno = $(this).data('sub-no');            
            $('#modal_sub_no').val(subno);
            $('#modal_sub_recv').modal('show');
        }); 
        
        // 모달 창 표시될때 초기화 처리
        $('#modal_sub_recv').on('shown.bs.modal', function() {  
          // 모달 열릴 때 첫 번째 포커스 가능 요소로 이동          
          
          $(this).data('trigger-element', document.activeElement);
          if ($.fn.DataTable.isDataTable('#tbl_sub_recv_list')) {
            $('#tbl_sub_recv_list').DataTable().destroy();
          }                    
          var formParam = {
            sub_no : $('#modal_sub_no').val(),
          }
          
          $('#tbl_sub_recv_list').DataTable({ 
              processing: true,
              serverSide: true,
              select: true,
              responsive: true,
              ajax: {
                url: '/withdraw/subtract/subMng/subReceiveList',
                contentType: 'application/json',
                dataType: 'JSON',
                type: 'POST',
                data: function (postData) {
                  // formData = $('#frm_sub_recv').serializeObject();
                  Object.assign(postData, formParam);
                  return JSON.stringify(postData);
                },
              },
              columns: [
                    { data: 'recv_date' }
                  , { data: 'recv_type_nm' }
                  , { data: 'recv_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                  , { data: 'recv_base_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                  , { data: 'recv_svc_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') } 
                  , { data: 'recv_crd_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') } 
                  , { data: 'memo' }
                  , { data: 'trans_chk' }
                ],
              columnDefs: [
                  { targets: 0, width: '120px', className: 'text-left' }
                , { targets: 1, width: '150px', className: 'text-center' }
                , { targets: 2, width: '120px', className: 'text-right' }
                , { targets: 3, width: '120px', className: 'text-right' }
                , { targets: 4, width: '120px', className: 'text-right' }
                , { targets: 4, width: '120px', className: 'text-right' }
                , { targets: 5, width: '300px', className: 'text-left' }
                , { targets: 6, width: '100px', className: 'align-middle white-space-nowrap text-center pe-0' }
              ],
              order: [[1, 'desc']],
              paging: true,
              lengthChange: false,
              searching: false,
              ordering: true,
              autoWidth: false,
              responsive: true,
              scrollCollapse: true,
              pageLength: 5,
              scrollY: '150px',
              info: false,
              language: {
                emptyTable: '데이터가 없습니다.',
                search: '검색:',
                zeroRecords: '일치하는 데이터가 없습니다.',
                loadingRecords: '로딩중...',
                processing: '처리중...',
              },
          });
          // 첫 번째 포커스 가능 요소로 이동
          $(this).find('button:not([disabled]), input:not([disabled])').first().focus();
           
        });
        
        // 모달이 닫힐 때 포커스 복원
        $('#modal_sub_recv').on('hidden.bs.modal', function() {
          console.log('close Modal');
          var triggerElement = $(this).data('trigger-element');
          if (triggerElement) {
            $(triggerElement).focus();
          } 
          return true; // 모달 닫기 허용
        });
      });
    </script>
  </head>
  <div class="content">    
    <div class="row g-1 mb-1">
      <div class="card" style="height:80px;">
        <div class="card-header">          
          <div class="row flex-between-end">
            <div class="col-lg-2 align-self-center">
              <h4 class="mb-0">차감 정산 현황</h4>
            </div>            
            <div class="col-lg-10">
              <form id="frm_sch" name="frm_sch" onsubmit="return false;" novalidate=""> 
                <div class="row mb-1">  
                  <div class="col-sm-4">
                    <div class="input-group">    
                      <div class="input-group input-group-sm mb-1 me-1">
                        <label class="col-sm-2 col-form-label col-form-label-sm" for="ceo_birth_dt">등록일</label>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm " id="sch_reg_sdt" type="text" name="sch_reg_sdt" istyle="date" maxlength="10" required />
                        </div>   
                        <span class="input-group-text">~</span>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm" id="sch_reg_edt" type="text" name="sch_reg_edt" istyle="date" maxlength="10" required />
                        </div>   
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-1">
                      <select class="form-select form-control-sm me-1" id="sch_agency_cd" name="sch_agency_cd" style="width: 75px">
                        <option value="">대리점</option>
                      </select>                      
                    </div>                    
                  </div> 
                  <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-1">
                      <select class="form-select form-control-sm me-1" id="sch_chain_no" name="sch_chain_no">
                        <option value=""></option>
                      </select> 
                      <button type="button" class="btn btn-primary btn-sm" id="btn_search" name="btn_search">조회</button>
                    </div>
                  </div> 
                  <div class="col-sm-2 text-center">
                    <button type="button" class="btn btn-primary btn-sm" id="btn_list_excel" name="btn_list_search">Excel</button>
                  </div>
                </div> 
              </form>
            </div>
          </div>          
        </div>
      </div>
    </div>   
    <div class="row g-1 mb-1">
      <div class="col-lg-12">
        <div class="card" style="height:600px;">
            <div class="card-body pt-0 px-0" style="padding-top: 0px">
              <div class="table-responsive scrollbar" style="overflow-x: auto; min-width: 1600px;">
                <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable table-bordered" id="tbl_substat_summ" style="min-width: 3050px; border-collapse: collapse;">
                  <thead>
                    <tr>
                      <th rowspan="2" class="text-center">가맹점 명</th>                      
                      <th rowspan="2" class="text-center">사업자번호</th>
                      <th colspan="4" class="text-center">출금차감</th>
                      <th colspan="4" class="text-center">입금차감</th>
                      <th colspan="4" class="text-center">대출차감</th>
                      <th colspan="4" class="text-center">수기차감</th>
                      <th colspan="4" class="text-center">기타차감</th>
                      <th colspan="4" class="text-center">총계</th>                      
                    </tr>
                    <tr>
                      <th class="text-center">건</th>
                      <th class="text-center">발생금액</th>
                      <th class="text-center">차감금액</th>                
                      <th class="text-center">미차감액</th>
                      <th class="text-center">건</th>
                      <th class="text-center">발생금액</th>
                      <th class="text-center">차감금액</th>                
                      <th class="text-center">미차감액</th>
                      <th class="text-center">건</th>
                      <th class="text-center">발생금액</th>
                      <th class="text-center">차감금액</th>                
                      <th class="text-center">미차감액</th>
                      <th class="text-center">건</th>
                      <th class="text-center">발생금액</th>
                      <th class="text-center">차감금액</th>                
                      <th class="text-center">미차감액</th>
                      <th class="text-center">건</th>
                      <th class="text-center">발생금액</th>
                      <th class="text-center">차감금액</th>                
                      <th class="text-center">미차감액</th>
                      <th class="text-center">건</th>
                      <th class="text-center">발생금액</th>
                      <th class="text-center">차감금액</th>                
                      <th class="text-center">미차감액</th>                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th colspan="2" class="text-center">총계</th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>

                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>

                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>

                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>

                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>

                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>

                    </tr>
                  </tfoot>
                  <tbody class="list"></tbody>
                </table>
              </div>
            </div>
        </div>      
      </div>
    </div>     
    <div class="row g-1 mb-1">
      <div class="card">
        <div class="card-header" style="height:70px;"> 
          <div class="row flex-between-end">              
            <div class="col-lg-7 align-self-center">
              <h4 class="mb-0">차감상세 List</h4>
            </div>     
            <div class="col-lg-5">
              <form id="frm_sch_list" name="frm_sch_list" onsubmit="return false;" novalidate="">       
                <input type="hidden" id="sch_list_chain_no" name="sch_list_chain_no" />
                <input type="hidden" id="sch_list_reg_sdt" name="sch_list_reg_sdt" />
                <input type="hidden" id="sch_list_reg_edt" name="sch_list_reg_edt" />
                <div class="row mb-1">
                  <div class="col-sm-10">
                    <div class="input-group input-group-sm mb-1">                                               
                      <select class="form-select form-control-sm me-1" id="sch_sub_type" name="sch_sub_type" style="width: 75px">
                        <option value="">차감유형</option>
                      </select>
                      <select class="form-select form-control-sm me-1" id="sch_sub_status" name="sch_sub_status" style="width: 75px">
                        <option value="">진행상태</option>
                      </select>
                      <button type="button" class="btn btn-primary btn-sm" id="btn_list_search" name="btn_list_search">조회</button>                       
                    </div>
                  </div> 
                </div> 
              </form>
            </div>
          </div>          
        </div>
        <div class="card-body pt-0 px-0" style="padding-top: 0px">
          <div class="table-responsive scrollbar">
            <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_sub_list">  
              <thead>
                  <tr>
                    <th class="text-center">차감번호</th> 
                    <th class="text-center">등록일</th>
                    <th class="text-center">차감구분</th>
                    <th class="text-center">차감사유</th>                
                    <th class="text-center">등록 내용</th>
                    <th class="text-center">처리여부</th>
                    <th class="text-center">등록금액</th>
                    <th class="text-center">수납금액</th>
                    <th class="text-center">미수금액</th>
                    <th class="text-center">등록자</th>
                    <th class="text-center">관리</th>
                  </tr>  
              </thead>
              <tbody class="list"></tbody>
            </table>
          </div>
        </div>        
      </div>     
    </div>    
  </div>
  
  <div class="modal fade" id="modal_sub_recv" tabindex="-1" aria-labelledby="unprocessedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Changed modal-lg to modal-xl for larger size -->
      <div class="modal-content">
        <form class="needs-validation" novalidate="" id="frm_sub_recv" name="frm_sub_recv" onsubmit="return false;">           
          <input id="modal_sub_no" type="hidden" name="modal_sub_no"/> 
          <div class="modal-header">
            <h5 class="modal-title">차감 수납 내역</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_sub_recv_list">  
                <thead>
                    <tr>
                      <th class="text-center" style="width: 120px;">실행일</th>
                      <th class="text-center" style="width: 150px;">실행유형</th>
                      <th class="text-center" style="width: 120px;">수납금액</th>
                      <th class="text-center" style="width: 120px;">원금</th>
                      <th class="text-center" style="width: 120px;">수수료</th>
                      <th class="text-center" style="width: 120px;">이자</th>
                      <th class="text-center" style="width: 300px;">비고</th> 
                    </tr>   
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" aria-label="모달 닫기">닫기</button>
          </div>          
        </form>
      </div>
    </div>
  </div>
</html>
