<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>가맹점 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />
     
    <!-- DataTables Select CSS 추가 -->
    <link rel="stylesheet" href="/css/custom-salesm.css" />

    <script th:inline="none">      
       
      $(document).ready(function () {             
        $('#frm_sch_sub').onLoadFunction();  
        $('#frm_sub_mst').onLoadFunction();  
        $('#frm_sub_mng').onLoadFunction();  
        
        var isListClick = false;
        callAjax('/common/totalCodelist', "code_grp_cd=('SUB_TYPE')", fn_sub_type_setting);      
        function fn_sub_type_setting(data) {
          codeSetting('SUB_TYPE', data.data, '#sch_sub_type', '차감유형', '', ''); 
          codeSetting('SUB_TYPE', data.data, '#sub_type', '1', '', ''); 
        }

        callAjax('/common/totalCodelist', "code_grp_cd=('SUB_CODE') AND CHK_CD1 = '" + $('#sch_sub_type').val() + "'", fn_sch_sub_code_setting);      
        function fn_sch_sub_code_setting(data) {
          codeSetting('SUB_CODE', data.data, '#sch_sub_code', '차감코드', '', ''); 
        }

        callAjax('/common/totalCodelist', "code_grp_cd=('SUB_STATUS')", fn_sub_status_setting);      
        function fn_sub_status_setting(data) {
          codeSetting('SUB_STATUS', data.data, '#sch_sub_status', '진행상태', '', '');
          codeSetting('SUB_STATUS', data.data, '#sub_status', '1', '', '');
        } 
        // Set default values for sch_reg_sdt and sch_reg_edt
        
        
        var toDay = returnDate('today'); // 오늘 날짜 계산
        var thirtyDayAgo = returnDate('thirtyDayAgo'); // 1 달 전 날짜 계산

        $('#sch_reg_sdt').val(thirtyDayAgo);
        $('#sch_reg_edt').val(toDay); 
        $('#reg_date').val(toDay); 
        $('#resv_date').val(toDay); 
        
        var tbl_sub_summary = $('#tbl_sub_summary').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/withdraw/subtract/subMng/subSummary',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',            
            data: function (postData) {
              formData = $('#frm_sch_chain').serializeObject(); 
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          },
            columns: [
                { data: 'chain_nm' }
                , { data: 'occur_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'recv_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'remain_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') } 
                , { data: 'chain_no', visible: false }
              ],
            columnDefs: [           
            { targets: 0, width: '150px', className: 'text-left' }
            , { targets: 1, width: '120px', className: 'text-right' }
            , { targets: 2, width: '120px', className: 'text-right' }
            , { targets: 3, width: '120px', className: 'text-right' }
          ],  
          order: [[4, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          // responsive: true,
          // scrollCollapse: true,
          pageLength: 20,
          scrollY: '580px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });

        $('#btn_search').click(function () {
          tbl_sub_summary.ajax.reload();
          $('#tbl_sub_list').DataTable().clear().draw();
          $('#frm_sub_mst')[0].reset();
          $('#tbl_sub_recv_list').DataTable().clear().draw();
        });

        $('#sch_all').change(function () {          
          $('#btn_search').click();          
        });

        $('#sch_sub_type').change(function () {
          if (isListClick) return; // 리스트 클릭 상태일 때는 무시
          var sub_type = $('#sch_sub_type').val(); 
          
          if (sub_type != '') {
            callAjax('/common/totalCodelist', "code_grp_cd=('SUB_CODE') AND CHK_CD1 = '" + sub_type + "'", fn_sch_sub_code_setting);      
          }
        });  
 
        $('#sub_type').change(function () {
          if (isListClick) return; // 리스트 클릭 상태일 때는 무시
          var sub_type = $('#sub_type').val(); 
          
          if (sub_type != '') {
            callAjax('/common/totalCodelist', "code_grp_cd=('SUB_CODE') AND CHK_CD1 = '" + sub_type + "'", fn_sub_code_setting);      
          }
        });  

        function fn_sch_sub_code_setting(data) {
          codeSetting('SUB_CODE', data.data, '#sch_sub_code', '차감코드', '', ''); 
        }

        function fn_sub_code_setting(data) {
          codeSetting('SUB_CODE', data.data, '#sub_code', '1', '', ''); 
        }

        $('#tbl_sub_summary').on('click', 'tr', function () {
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          } else {
            tbl_sub_summary.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
          }
          var data = tbl_sub_summary.row(this).data();
          if (data) {            
            $('#frm_sch_sub')[0].reset();
            $('#frm_sub_mst')[0].reset();       
            $('#sch_reg_sdt').val(data.min_reg_date);
            $('#sch_reg_edt').val(data.max_reg_date);
            $('#sch_chain_no').val(data.chain_no); 
            $('#chain_no').val(data.chain_no);                        
            tbl_sub_list.ajax.reload();            
          }
          fn_frm_sub_mst_clear();      
        });    
        
        $('#btn_list_search').click(function () { 
          tbl_sub_list.ajax.reload();
          $('#frm_sub_mst')[0].reset();
          $('#tbl_sub_recv_list').DataTable().clear().draw();
        });
         
        // --------------------------------------------------------------- frm_sch_sub 정보 처리 ---------------------------------------------------
        var tbl_sub_list = $('#tbl_sub_list').DataTable({
            processing: true,
            serverSide: true,
            select: true,
            responsive: true,
            ajax: {
              url: '/withdraw/subtract/subMng/chainSubList',
              contentType: 'application/json',
              dataType: 'JSON',
              type: 'POST',
              data: function (postData) {
                formData = $('#frm_sch_sub').serializeObject();
                Object.assign(postData, formData);
                return JSON.stringify(postData);
              },
            },
              columns: [
                    { data: 'sub_code_nm' }
                  , { data: 'reg_date' }
                  , { data: 'resv_date' }
                  , { data: 'occur_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                  , { data: 'recv_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                  , { data: 'remain_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') } 
                  , { data: 'sub_memo' }
                  , { data: 'sub_status_nm' }
                ],
              columnDefs: [
                { targets: 0, width: '150px', className: 'text-left' }
              , { targets: 1, width: '100px', className: 'text-center' }
              , { targets: 2, width: '100px', className: 'text-center' }
              , { targets: 3, width: '120px', className: 'text-right' }
              , { targets: 4, width: '120px', className: 'text-right' }
              , { targets: 5, width: '120px', className: 'text-right' }
              , { targets: 6, width: '300px', className: 'text-left' }
              , { targets: 7, width: '100px', className: 'align-middle white-space-nowrap text-center pe-0' }
            ],
            order: [[1, 'desc']],
            paging: true,
            lengthChange: false,
            searching: false,
            ordering: true,
            autoWidth: false,
            // responsive: true,
            // scrollCollapse: true,
            pageLength: 10,
            scrollY: '290px',
            info: false,
            language: {
              emptyTable: '데이터가 없습니다.',
              search: '검색:',
              zeroRecords: '일치하는 데이터가 없습니다.',
              loadingRecords: '로딩중...',
              processing: '처리중...',
            },
          }); 

        $('#tbl_sub_list').on('click', 'tr', function () {
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          } else {
            tbl_sub_list.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
          }
          var data = tbl_sub_list.row(this).data();
          isListClick = true;
          if (data) {
            $('#frm_sub_mst')[0].reset();             
            $('#sub_no').val(data.sub_no); 
            $('#sub_type').val(data.sub_type).prop('selected', true).trigger('change');                 
            callAjax('/common/totalCodelist', "code_grp_cd=('SUB_CODE') AND CHK_CD1 = '" + data.sub_type + "'", fn_sub_code_setting)
            .then(() => {       
              $('#sub_code').val(data.sub_code).prop('selected', true);
            });
 
            $('#sub_status').val(data.sub_status);
            $('#reg_date').val(data.reg_date); 
            $('#resv_date').val(data.resv_date); 
            $('#sub_memo').val(data.sub_memo);

            $('#occur_crd_amt').val(Number(data.occur_crd_amt).toLocaleString());
            $('#occur_svc_amt').val(Number(data.occur_svc_amt).toLocaleString());
            $('#occur_base_amt').val(Number(data.occur_base_amt).toLocaleString());
            $('#occur_amt').val(Number(data.occur_amt).toLocaleString());
            
            $('#recv_crd_amt').val(Number(data.recv_crd_amt).toLocaleString());
            $('#recv_svc_amt').val(Number(data.recv_svc_amt).toLocaleString());
            $('#recv_base_amt').val(Number(data.recv_base_amt).toLocaleString());
            $('#recv_amt').val(Number(data.recv_amt).toLocaleString());
            
            $('#remain_crd_amt').val(Number(data.remain_crd_amt).toLocaleString());
            $('#remain_svc_amt').val(Number(data.remain_svc_amt).toLocaleString());
            $('#remain_base_amt').val(Number(data.remain_base_amt).toLocaleString());
            $('#remain_amt').val(Number(data.remain_amt).toLocaleString());

            if (data.sub_status == '500000'){
              $('#btn_receipt_process').hide();
            } else{
              $('#btn_receipt_process').show();
            }
            // 금액을 조금이라도 수납하면. 수정 불가 
            if (data.recv_amt > '0') {
              $('#occur_crd_amt').prop('readonly', true);
              $('#occur_svc_amt').prop('readonly', true);
              $('#occur_base_amt').prop('readonly', true); 
            }else{
              $('#occur_crd_amt').prop('readonly', false);
              $('#occur_svc_amt').prop('readonly', false);
              $('#occur_base_amt').prop('readonly', false); 
            } 
            $("input:radio[name='use_yn'][value='" + data.use_yn + "']").prop('checked', true);  
            $('#upt_user_id').val(data.upt_user_id);
            $('#upt_dttm').val(data.upt_dttm);   

            $('#crud').val('update');
            $('#btn_update').show();
            $('#btn_create').hide();

            tbl_sub_recv_list.ajax.reload();
            isListClick = false;
          }  
        });
        
         
        var tbl_sub_recv_list = $('#tbl_sub_recv_list').DataTable({
            processing: true,
            serverSide: true,
            select: true,
            responsive: true,
            ajax: {
              url: '/withdraw/subtract/subMng/subReceiveList',
              contentType: 'application/json',
              dataType: 'JSON',
              type: 'POST',
              data: function (postData) {
                formData = $('#frm_sub_mst').serializeObject();
                Object.assign(postData, formData);
                return JSON.stringify(postData);
              },
            },
            columns: [
                  { data: 'recv_date' }
                , { data: 'recv_type_nm' }
                , { data: 'recv_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'recv_base_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'recv_svc_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') } 
                , { data: 'recv_crd_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') } 
                , { data: 'memo' }
                , { data: 'trans_chk' }
              ],
            columnDefs: [
                { targets: 0, width: '120px', className: 'text-left' }
              , { targets: 1, width: '150px', className: 'text-center' }
              , { targets: 2, width: '120px', className: 'text-right' }
              , { targets: 3, width: '120px', className: 'text-right' }
              , { targets: 4, width: '120px', className: 'text-right' }
              , { targets: 5, width: '120px', className: 'text-right' }
              , { targets: 6, width: '300px', className: 'text-left' }
              , { targets: 7, width: '100px', className: 'align-middle white-space-nowrap text-center pe-0' }
            ],
            order: [[1, 'desc']],
            paging: true,
            lengthChange: false,
            searching: false,
            ordering: true,
            autoWidth: false,
            responsive: true,
            scrollCollapse: true,
            pageLength: 10,
            scrollY: '250px',
            info: false,
            language: {
              emptyTable: '데이터가 없습니다.',
              search: '검색:',
              zeroRecords: '일치하는 데이터가 없습니다.',
              loadingRecords: '로딩중...',
              processing: '처리중...',
            },
        }); 

        $('#btn_clear').click(function () {     
          fn_frm_sub_mst_clear(); 
        });

        function fn_frm_sub_mst_clear(){
          var chain_no = $('#chain_no').val();           
          $('#frm_sub_mst')[0].reset();
          $('#reg_date').val(toDay);
          $('#sub_type').val('M').prop('selected', true).trigger('change');                      
          $('#sub_status').val('000000');
          $("input:radio[name='use_yn'][value='Y']").prop('checked', true);
          $('#tbl_sub_recv_list').DataTable().clear().draw();

          $('#chain_no').val(chain_no); 
          $('#crud').val('create');
          $('#btn_update').hide();
          $('#btn_create').show();      
          
        }
        
        $('#btn_create').click(function () {    
          $('#crud').val('create');      
          var checked = true;
          if($('#chain_no').val() == '') {
            swal('실패', "가맹점을 먼저 선택해주세요.", 'error');
            checked = false;
            return;
          } 
          var form = $('#frm_sub_mst');          
          if (!form[0].checkValidity()) {
            form[0].reportValidity(); // 브라우저가 어떤 항목이 잘못됐는지 보여줌
            checked = false;
            return;
          }
          
          if (checked) {
            ConfirmdialogToAjax('create', '/withdraw/subtract/subMng/insertSubMst', $('#frm_sub_mst').serialize(), fn_return_result);
          }  
        });

        $('#btn_update').click(function () {
          $('#crud').val('update');
          var form = $('#frm_sub_mst');
          var checked = true;
          var sub_no = $('#sub_no').val();
          if(sub_no == '') {
            swal('실패', "차감번호를 먼저 선택해주세요.", 'error');
            checked = false;
            return;
          }
          if ($('#recv_amt').val() > 0 && $("input[name='use_yn']:checked").val() === 'N') {
            swal('실패', "수납금액이 존재하면 사용여부를 '아니요'로 설정할 수 없습니다.", 'error');
            checked = false;
            return;
          }
          if (!form[0].checkValidity()) {
            form[0].reportValidity(); // 브라우저가 어떤 항목이 잘못됐는지 보여줌
            checked = false;
            return;
          }       
          if (checked) {
            ConfirmdialogToAjax('update', '/withdraw/subtract/subMng/updateSubMst', $('#frm_sub_mst').serialize(), fn_return_result);
          }  
        });     

        function fn_return_result(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;   
          if (resultCode == 'S000') {                               
            swal('성공', '작업을 정상적으로 완료하였습니다.', 'success');            
            var selectedRowData = tbl_sub_summary.row('.selected').data(); // 현재 선택된 데이터 저장            
            tbl_sub_summary.ajax.reload(function () {
              if (selectedRowData) {
                tbl_sub_summary.rows().every(function () {
                  if (this.data().chain_no === selectedRowData.chain_no) { // 저장된 데이터와 매칭
                    $(this.node()).addClass('selected'); // 다시 선택
                  }
                });
              }
            });
            tbl_sub_list.ajax.reload();
            fn_frm_sub_mst_clear();
            
          } else { 
            swal('실패', resultMsg, 'error');
          }
        }  

        $('#btn_receipt_process').click(function () {
          var selectedRow = tbl_sub_list.row('.selected').data();
          if (!selectedRow) {
            swal('실패', '차감 상세 항목을 선택해주세요.', 'error');
            return;
          } 

          $('#frm_sub_mng')[0].reset();
          // Populate modal fields with selected row data
          $('#mng_remain_amt').val(selectedRow.remain_amt);
          $('#mng_deposit_amt').val(selectedRow.remain_amt);
          $('#mng_remain_base_amt').val(selectedRow.remain_base_amt);
          $('#mng_remain_crd_amt').val(selectedRow.remain_crd_amt);
          $('#mng_remain_svc_amt').val(selectedRow.remain_svc_amt);
          $('#mng_sub_no').val(selectedRow.sub_no);            

          // Show the modal
          $('#modal_sub_mng').modal('show');
        });

          // 모달 창 표시될때 초기화 처리
        $('#modal_sub_mng').on('shown.bs.modal', function() {  
            // 모달 열릴 때 첫 번째 포커스 가능 요소로 이동          
            $(this).data('trigger-element', document.activeElement);            
            var chainNo = $('#chain_no').val();
            if (chainNo != '') {
              callAjax('/common/getShiftChainList', "chain_no=" + chainNo , fn_link_chain_setting);      
            } else {
              swal('실패', '가맹점을 선택해주세요.', 'error');
              return; 
            }
            $(this).find('button:not([disabled]), input:not([disabled])').first().focus();
            
          });
        
        function fn_link_chain_setting(data) { 
            codeSetting('LINK_CHAIN', data.data, '#mng_shift_chain_no', '1', '', ''); 
        }

      // 모달이 닫힐 때 포커스 복원
        $('#modal_sub_mng').on('hidden.bs.modal', function() {
            var triggerElement = $(this).data('trigger-element');
            if (triggerElement) {
          $(triggerElement).focus();
            }            
            tbl_sub_summary.ajax.reload();
            tbl_sub_list.ajax.reload();
            fn_frm_sub_mst_clear();
            return true; // 모달 닫기 허용
        });

        $('input[name="mng_recv_type"]').on('change', function() {
          if ($(this).val() === 'M10000') {           // 수가 차감            
            $('#mng_sub_shift_div').hide();
          } else {
            $('#mng_sub_shift_div').show();
          }
        });

        $('#btn_sub_mng').click(function () {
          $('#crud').val('update');
          var form = $('#frm_sub_mng');
          var checked = true;
          var sub_no = $('#mng_sub_no').val();
          if(sub_no == '') {
            swal('실패', "차감번호를 먼저 선택해주세요.", 'error');
            checked = false;
            return;
          }
          if (!form[0].checkValidity()) {
            form[0].reportValidity(); // 브라우저가 어떤 항목이 잘못됐는지 보여줌
            checked = false;
            return;
          }
          // 대체 차감의 경우 체크
          var selectedRecvType = $('input[name="mng_recv_type"]:checked').val();          
          if(selectedRecvType == 'O20000') {
            if($('#mng_shift_chain_no').val() == '') {
              swal('실패', "대체 가맹점을 먼저 선택해주세요.", 'error');
              checked = false;
              return;   
            }            
          }           
          var formData = {
            subNo         : $('#mng_sub_no').val(),
            recvType      : selectedRecvType,    
            shiftChainNo  : $('#mng_shift_chain_no').val(),                 
            actionNo      : '',    
            recvAmt       : parseInt($('#mng_deposit_amt').val().replace(/,/g, ''), 10),
            memo          : $('#mng_sub_memo').val(),                        
          }
          if (checked) {
            ConfirmdialogToAjax('execute', '/withdraw/subtract/subMng/callProcSubReceive', formData, fn_return_subReveive_result);            
          }  
          // Show the modal
          $('#modal_sub_mng').modal('hide');
        });     

        function fn_return_subReveive_result(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;  

          if (resultCode == 'S000') {            
            swal('성공', '작업을 정상적으로 완료하였습니다.', 'success');
            tbl_sub_summary.ajax.reload();
            tbl_sub_list.ajax.reload();
            fn_frm_sub_mst_clear();
          } else { 
            swal('실패', resultMsg, 'error');
          }
        }
      });
    </script>
  </head>
  <div class="content">
    <div class="row g-3 mb-2">  
      <div class="col-lg-4">
        <div class="card" style="height:800px;">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">가맹점 목록</h5>
              </div>              
              <div class="col-lg-9">
                <form id="frm_sch_chain" name="frm_sch_chain" onsubmit="return false;" novalidate="">
                  <div class="row mb-0">
                    <div class="col-sm-4">
                      <div class="input-group input-group-sm mb-0">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="sch_all" name="sch_all" />
                          <label class="form-check-label" for="sch_all">완료포함</label>
                        </div> 
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="input-group input-group-sm mb-0">
                        <label class="col-sm-3 col-form-label col-form-label-sm" for="sch_chain_nm">가맹점 명</label>
                        <input type="text" class="form-control form-control-sm" id="sch_chain_nm" name="sch_chain_nm" />     
                        <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" id="btn_search" name="btn_search">조회</button></span> 
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>          
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0 table-hover table-bordered" id="tbl_sub_summary">
                <thead>
                  <tr>
                    <th class="text-center">가맹점명</th>
                    <th class="text-center">등록금액</th>
                    <th class="text-center">차감액</th>
                    <th class="text-center">미차감액</th>
                  </tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">차감 상세</h5>
              </div>
              <div class="col-sm-10">
                <form id="frm_sch_sub" name="frm_sch_sub" onsubmit="return false;" novalidate="">
                <div class="row mb-1">  
                  <div class="col-sm-6">
                    <div class="input-group">
                      <div class="input-group input-group-sm mb-1 me-1">
                        <label class="col-sm-2 col-form-label col-form-label-sm" for="sch_reg_sdt">발생일</label>
                        <input class="form-control form-control-sm" id="sch_chain_no" type="hidden" name="sch_chain_no" readonly="readonly"/>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm " id="sch_reg_sdt" type="text" name="sch_reg_sdt" istyle="date" maxlength="10" required />
                        </div>   
                        <span class="input-group-text">~</span>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm" id="sch_reg_edt" type="text" name="sch_reg_edt" istyle="date" maxlength="10" required />
                        </div>   
                      </div>
                    </div> 
                  </div>
                  <div class="col-sm-6 text-start">
                    <div class="input-group input-group-sm px-3">
                      <!-- <label class="col-sm-2 col-form-label col-form-label-sm" for="sch_reg_sdate">차감유형</label> -->
                      <select class="form-select form-control-sm" id="sch_sub_type" name="sch_sub_type" style="width: 100px">
                        <option value="">선 택</option>
                      </select>                    
                      <select class="form-select form-control-sm" id="sch_sub_code" name="sch_sub_code" style="width: 120px">
                        <option value="">선택</option> 
                      </select>                    
                      <select class="form-select form-control-sm" id="sch_sub_status" name="sch_sub_status" style="width: 100px">
                        <option value="">선택</option> 
                      </select>
                      <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" id="btn_list_search" name="btn_list_search">조회</button></span> 
                    </div>
                  </div>                  
                </div>
              </form>
            </div>
          </div>
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="min-vh-50">              
              <div class="table-responsive scrollbar">
                <table class="table table-striped table-sm fs-9 mb-0 table-hover table-bordered" id="tbl_sub_list">
                  <thead class="bg-200">
                    <tr>
                      <th class="text-center" style="width: 150px;">차감 코드명</th>
                      <th class="text-center" style="width: 100px;">등록일</th>
                      <th class="text-center" style="width: 100px;">차감예정</th>
                      <th class="text-center" style="width: 120px;">등록금액</th>
                      <th class="text-center" style="width: 120px;">실행금액</th>
                      <th class="text-center" style="width: 120px;">미차감</th>
                      <th class="text-center" style="width: 300px;">비고</th>
                      <th class="text-center" style="width: 100px;">관리</th>
                    </tr>
                  </thead>
                  <tbody class="list"></tbody>
                </table>
              </div> 
              <div class="row flex-between-end">
                <div class="d-flex justify-content-between align-items-center mt-3 mb-3 fw-bold fs-8 border-bottom pb-1 text-primary">
                  <span>상세정보</span>
                  <div>
                    <button type="button" class="btn btn-success me-2" id="btn_receipt_process">수납처리</button> 
                  </div>
                </div>
                
                <form class="needs-validation" id="frm_sub_mst" name="frm_sub_mst" onsubmit="return false;" method="post" novalidate=""> 
                  <div class="row mb-1">
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="sub_no">차감번호</label> 
                        <input class="form-control form-control-sm" id="chain_no" type="hidden" name="chain_no" readonly="readonly"/>
                        <input class="form-control form-control-sm bg-light" id="sub_no" type="text" name="sub_no" readonly="readonly"/>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="sub_type">차감유형</label> 
                        <select class="form-select form-control-sm" id="sub_type" name="sub_type" style="width: 120px" required>
                          <option value="">선택</option> 
                        </select>                    
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="sub_code">차감사유</label> 
                        <select class="form-select form-control-sm" id="sub_code" name="sub_code" style="width: 120px" required>
                          <option value="">선택</option> 
                        </select>   
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="reg_date">발생일</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm " id="reg_date" type="text" name="reg_date" istyle="date" maxlength="10" required />
                        </div>    
                      </div>
                    </div>
                  </div>  
                  <div class="row mb-1">
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="resv_date">차감예정일</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm " id="resv_date" type="text" name="resv_date" istyle="date" maxlength="10" required />
                        </div>                        
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-1 col-form-label col-form-label-sm" for="sub_type">비고</label> 
                        <input class="form-control form-control-sm" id="sub_memo" type="text" name="sub_memo" maxlength="50" />
                      </div>
                    </div>                     
                  </div>
                  <div class="row mb-1">
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="occur_crd_amt">등록 이자</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end " id="occur_crd_amt" type="text" name="occur_crd_amt" istyle="amount" value="0" />
                        </div>  
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="occur_svc_amt">등록 수수료</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end" id="occur_svc_amt" type="text" name="occur_svc_amt" istyle="amount" value="0" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="occur_base_amt">등록 원금</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end" id="occur_base_amt" type="text" name="occur_base_amt" istyle="amount" value="0" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="occur_amt">등록 금액</label> 
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm text-end bg-light" id="occur_amt" type="text" name="occur_amt" istyle="amount" value="0" readonly />
                            <script>
                              document.addEventListener('DOMContentLoaded', function () {
                                const occurCrdAmt = document.getElementById('occur_crd_amt');
                                const remainCrdAmt = document.getElementById('remain_crd_amt');

                                occurCrdAmt.addEventListener('input', function () {
                                  remainCrdAmt.value = occurCrdAmt.value;
                                });
                                const occurSvcAmt = document.getElementById('occur_svc_amt');
                                const remainSvcAmt = document.getElementById('remain_svc_amt');

                                occurSvcAmt.addEventListener('input', function () {
                                  remainSvcAmt.value = occurSvcAmt.value;
                                });
                                const occurBaseAmt = document.getElementById('occur_base_amt');
                                const remainBaseAmt = document.getElementById('remain_base_amt');

                                occurBaseAmt.addEventListener('input', function () {
                                  remainBaseAmt.value = occurBaseAmt.value;
                                });

                                const occurAmt = document.getElementById('occur_amt');
                                const remainAmt = document.getElementById('remain_amt');

                                function calculateTotal() {
                                  const crdAmt = parseFloat(occurCrdAmt.value.replace(/,/g, '')) || 0;
                                  const svcAmt = parseFloat(occurSvcAmt.value.replace(/,/g, '')) || 0;
                                  const baseAmt = parseFloat(occurBaseAmt.value.replace(/,/g, '')) || 0;
                                  const total = crdAmt + svcAmt + baseAmt;
                                  occurAmt.value = total.toLocaleString();
                                  remainAmt.value = occurAmt.value;
                                }

                                occurCrdAmt.addEventListener('input', calculateTotal);
                                occurSvcAmt.addEventListener('input', calculateTotal);
                                occurBaseAmt.addEventListener('input', calculateTotal);
                              });
                            </script>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-1">
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="recv_crd_amt">수납 이자</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end bg-light" id="recv_crd_amt" type="text" name="recv_crd_amt" istyle="amount" value="0" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="recv_svc_amt">수납 수수료</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end bg-light" id="recv_svc_amt" type="text" name="recv_svc_amt" istyle="amount" value="0" readonly/>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="recv_base_amt">수납 원금</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end bg-light" id="recv_base_amt" type="text" name="recv_base_amt" istyle="amount" value="0" readonly/>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="recv_amt">수납 금액</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end bg-light" id="recv_amt" type="text" name="recv_amt" istyle="amount"  value="0" readonly />                           
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-1">
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="remain_crd_amt">미수 이자</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end bg-light" id="remain_crd_amt" type="text" name="remain_crd_amt" istyle="amount" value="0" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="remain_svc_amt">미수 수수료</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end bg-light" id="remain_svc_amt" type="text" name="remain_svc_amt" istyle="amount" value="0" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="remain_base_amt">미수 원금</label> 
                        <div class="col-sm-8">
                          <input class="form-control form-control-sm text-end bg-light" id="remain_base_amt" type="text" name="remain_base_amt" istyle="amount" value="0" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="remain_amt">미수 금액</label> 
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm text-end bg-light" id="remain_amt" type="text" name="remain_amt" istyle="amount" value="0" readonly />
                        </div>
                      </div>
                    </div>
                  </div>                  
                                    
                  <div class="row mb-1">
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="sub_status">진행상태</label> 
                        <select class="form-select form-control-sm" id="sub_status" name="sub_status" style="width: 120px" required>
                          <option value="">선택</option> 
                        </select>   
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="use_yn">사용여부</label>
                        <div class="col-sm-8">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" id="use_yn_y" type="radio" name="use_yn" value="Y" required />
                            <label class="form-check-label" for="use_yn_y">예</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" id="use_yn_n" type="radio" name="use_yn" value="N" required />
                            <label class="form-check-label" for="use_yn_n">아니요</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="sub_memo">최종수정자</label> 
                        <input type="text" class="form-control form-control-sm" id="upt_user_id" name="upt_user_id" readonly="readonly" disabled />
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm mb-1">
                        <label class="col-sm-4 col-form-label col-form-label-sm" for="upt_user_id">최종 수정일</label>                         
                        <input type="text" class="form-control form-control-sm" id="upt_dttm" name="upt_dttm" readonly="readonly" disabled /> 
                      </div>
                    </div>
                  </div>    
                  <div class="card-footer">
                    <p class="text-end pb-1 mb-1 pd-1">
                      <button type="button" class="btn btn-info text-end" id="btn_clear"><i class="fa fa-check"></i>신규</button>
                      <button type="button" class="btn btn-primary text-end" id="btn_update" style="display: none"><i class="fa fa-paste"></i>저장</button>
                      <button type="button" class="btn btn-primary text-end" id="btn_create"><i class="fa fa-paste"></i>저장</button>
                    </p>
                  </div>
                </form>
              </div>
              <div class="card-body pt-0 px-0" style="padding-top: 0px">
                <div class="table-responsive scrollbar">
                  <table class="table table-striped table-sm fs-9 mb-0 table-hover" id="tbl_sub_recv_list">
                    <thead class="bg-200">
                      <tr>
                        <th class="text-center" style="width: 120px;">실행일</th>
                        <th class="text-center" style="width: 150px;">실행유형</th>
                        <th class="text-center" style="width: 120px;">수납금액</th>
                        <th class="text-center" style="width: 120px;">원금</th>
                        <th class="text-center" style="width: 120px;">수수료</th>
                        <th class="text-center" style="width: 120px;">이자</th>
                        <th class="text-center" style="width: 300px;">비고</th>
                        <th class="text-center" style="width: 100px;">관리</th>
                      </tr>
                    </thead>
                    <tbody class="list"></tbody>
                  </table>
                </div>
              </div>
               
            </div>  
          </div>
        </div>
      </div>      
    </div>    
  </div>
  <div class="modal fade" id="modal_sub_mng" tabindex="-1" aria-labelledby="subtractmanage" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form class="needs-validation" novalidate="" id="frm_sub_mng" name="frm_sub_mng" onsubmit="return false;">           
          <input id="mng_sub_no" type="hidden" name="mng_sub_no"/>
          <div class="modal-header">
            <h5 class="modal-title">차감관리</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <div class="row mb-1">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-1">
                  <label class="col-sm-4 col-form-label col-form-label-sm" for="mng_remain_amt">미차감액</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm text-end bg-light" id="mng_remain_amt" type="text" name="mng_remain_amt" value="0" readonly />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-1">
                  <label class="col-sm-4 col-form-label col-form-label-sm" for="remain_base_amt">원금</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm text-end bg-light" id="mng_remain_base_amt" type="text" name="mng_remain_base_amt" value="0" readonly />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-1">
                  <label class="col-sm-4 col-form-label col-form-label-sm" for="mng_remain_crd_amt">이자</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm text-end bg-light" id="mng_remain_crd_amt" type="text" name="mng_remain_crd_amt" value="0" readonly />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-1">
                  <label class="col-sm-4 col-form-label col-form-label-sm" for="mng_remain_svc_amt">수수료</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm text-end bg-light" id="mng_remain_svc_amt" type="text" name="mng_remain_svc_amt" value="0" readonly />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-sm-4">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="mng_recv_type" id="mng_recv_type" value="M10000" checked />
                  <label class="form-check-label" for="mng_action_deposit">입금</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="mng_recv_type" id="mng_recv_type" value="O20000" />
                  <label class="form-check-label" for="mng_action_alternative">대체차감</label>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="input-group input-group-sm mb-1" id="mng_sub_deposit_div">
                  <label class="col-sm-4 col-form-label col-form-label-sm" for="mng_deposit_amt">입금액</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm text-end" id="mng_deposit_amt" type="text" name="mng_deposit_amt" istyle="amount" placeholder="0" />
                    <script>
                      document.addEventListener('DOMContentLoaded', function () {
                      const depositAmtInput = document.getElementById('mng_deposit_amt');
                      const remainAmtInput = document.getElementById('mng_remain_amt');

                      depositAmtInput.addEventListener('input', function () {
                          const depositAmt = parseFloat(depositAmtInput.value.replace(/,/g, '')) || 0;
                          const remainAmt = parseFloat(remainAmtInput.value.replace(/,/g, '')) || 0;

                          if (depositAmt > remainAmt) {
                            alert('입금액은 미차감액보다 클 수 없습니다.');
                            depositAmtInput.value = remainAmt.toLocaleString();
                          }
                        });
                      });
                    </script>
                  </div>
                  <div class="input-group input-group-sm mb-1" style="display: none;" id="mng_sub_shift_div">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="alternative_chain">대체차감</label>
                    <select class="form-select form-control-sm" id="mng_shift_chain_no" name="mng_shift_chain_no">
                      <option value="">-- 선택 --</option>
                    </select>
                  </div>
                </div>
              </div>  
            </div>            
            <div class="row mb-1">
              <div class="col-sm-12">
                <div class="input-group input-group-sm mb-1">
                  <label class="col-sm-2 col-form-label col-form-label-sm" for="mng_sub_memo">비고</label>
                  <input class="form-control form-control-sm" id="mng_sub_memo" type="text" name="mng_sub_memo" maxlength="100" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_sub_mng" aria-label="처리">적용</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="모달 닫기">닫기</button>
          </div>          
        </form>
      </div>
    </div>
  </div>  
</html>
