<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>전문문 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />    
    <!-- DataTables Select CSS 추가 -->
    <link rel="stylesheet" href="/css/custom-salesm.css" />

    <script th:inline="none">      
      $(document).ready(function () {           
        $('#frm_sch').onLoadFunction();      
        $('#frm_sch_card').onLoadFunction();      

        callAjax('/common/getCreditCorpList', "", fn_corp_list_setting);
        function fn_corp_list_setting(data) {
          codeSetting('CORP_CD', data.data, '#sch_corp_no', '1', '', ''); 
        }

        callAjax('/common/getAgencyList', "", fn_agency_list_setting);
        function fn_agency_list_setting(data) {
          codeSetting('AGENCY_NO', data.data, '#sch_agency_no', '1', '', ''); 
        }

        callAjax('/common/totalCodelist', "code_grp_cd=('WD_STATUS')", fn_wd_status_setting);      
        function fn_wd_status_setting(data) {
          codeSetting('WD_STATUS', data.data, '#sch_list_wd_status', '1', '', '');
        } 

        // Set default values for sch_reg_sdt and sch_reg_edt
        var today = new Date();        
        $('#sch_work_date').val(today.toISOString().split('T')[0]); 
 

        $('#btn_search').click(function () {   
          tbl_wd_summ.ajax.reload();
        });  

        $('#btn_list_search').click(function () {   
          tbl_wd_resv_list.ajax.reload();
        });
 
        var tbl_wd_summ = $('#tbl_wd_summ').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/withdraw/withdraw/wdMng/wdSummary',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              formData = $('#frm_sch').serializeObject();
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          },
            columns: [
                  { data: 'chain_nm' }                
                , { data: 'risk_grade' }
                , { data: 'conf_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'conf_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'cncl_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') }                
                , { data: 'cncl_amt', render: $.fn.dataTable.render.number(',', '.', 0, '')}  
                , { data: 'remit_conf_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') }                
                , { data: 'remit_conf_amt', render: $.fn.dataTable.render.number(',', '.', 0, '')}  
              ],
            columnDefs: [           
                  { targets: 0, width: '150px', className: 'text-left px-1' }
                , { targets: 1, width: '80px', className: 'text-left px-1' }                  
                , { targets: 2, width: '80px', className: 'text-right px-1' }
                , { targets: 3, width: '130px', className: 'text-right px-1' }
                , { targets: 4, width: '80px', className: 'text-right px-1' }
                , { targets: 5, width: '130px', className: 'text-right px-1' }
                , { targets: 6, width: '80px', className: 'text-right px-1' }
                , { targets: 7, width: '130px', className: 'text-right px-1' } 
              ],
          order: [[1, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          responsive: true,
          scrollCollapse: true,
          pageLength: 10,
          scrollY: '400px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          }, 
          footerCallback: function (row, data, start, end, display) {
            var api = this.api();
            var intVal = function (i) {
              return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
            var totals = [2, 3, 4, 5, 6, 7].map(colIdx =>
              api.column(colIdx).data().reduce((a, b) => intVal(a) + intVal(b), 0)
            );

            [2, 3, 4, 5, 6, 7].forEach((colIdx, i) => {
              var footer = api.column(colIdx).footer();
              if (footer) {  // 🚀 undefined 방지
                $(footer).html($.fn.dataTable.render.number(',', '.', 0, '').display(totals[i]));
              }
            });
          },          
        });  
 
        $('#tbl_wd_summ').on('click', 'tr', function (e) {
          if ($(this).hasClass('selected')) {
              $(this).removeClass('selected');
          } else {
              tbl_wd_summ.$('tr.selected').removeClass('selected');
              $(this).addClass('selected');
          } 
          // 수정된 부분: 클릭된 셀 정보 가져오기
          var clickedCell = $(e.target).closest('td');
          var clickedColumnIndex = clickedCell.index();
          if (clickedColumnIndex == 1 && row.risk_grade > 0) {
              // Show modal_risk              
              $('#risk_chain_no').val(row.chain_no);              
              $('#modal_risk').modal('show');   
              $('#tbl_risk_list').DataTable().ajax.reload(); 
          }
          var row = tbl_wd_summ.row(this).data();
          $('#frm_sch_card')[0].reset();   
          $('#frm_sch_list')[0].reset();
          
          $('#sch_card_chain_no').val(row.chain_no);
          $('#sch_list_chain_no').val(row.chain_no);   // list 검색 조건
          $('#sch_risk_chain_no').val(row.chain_no);   // risk 검색 조건

          $('#sch_card_work_date').val($('#sch_work_date').val());   // 카드 작업일 설정
          $('#sch_list_work_date').val($('#sch_work_date').val());   // risk 작업일 설정
           

          $('#tot_conf_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.conf_amt));
          $('#card_fee_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.card_fee_amt));
          $('#card_resv_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.card_resv_amt));
          $('#svc_fee_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.svc_fee_amt));      
          $('#crd_fee_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.crd_fee_amt));
          $('#wd_base_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.wd_base_amt));

          if (row.sub_amt > 0) {
            $('#sub_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.sub_amt))
              .css({ 'color': 'red', 'font-weight': 'bold' });
          } else {
            $('#sub_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.sub_amt))
              .css({ 'color': '', 'font-weight': '' });
          }
          
          $('#exc_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.exc_amt));
          if (row.remit_amt > 0) {
            $('#remit_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.remit_amt))
              .css({ 'color': 'blue', 'font-weight': 'bold' });
          } else if (row.remit_amt < 0) {
            $('#remit_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.remit_amt))
              .css({ 'color': 'red', 'font-weight': 'bold' });
          } else {
            $('#remit_amt').val($.fn.dataTable.render.number(',', '.', 0, '').display(row.remit_amt))
              .css({ 'color': '', 'font-weight': '' });
          }
          $('#tbl_card_summ').DataTable().ajax.reload(); 
          if ($('#sch_list_chain_no').val() && $('#sch_list_work_date').val()) {
            tbl_wd_resv_list.ajax.reload();
          } 

        });
        
        var tbl_card_summ = $('#tbl_card_summ').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/withdraw/withdraw/wdMng/wdCardSummary',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              formData = $('#frm_sch_card').serializeObject(); 
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          },
          columns: [
            { 
              data: 'card_acq', 
              render: function(data, type, row) {
              return '<input type="checkbox" class="form-check-input" value="' + data + '">';
              },
              orderable: false,
              className: 'text-center'
            },
            { data: 'card_acq_nm' },
            { data: 'conf_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'conf_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'cncl_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'cncl_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'tot_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'tot_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
          ],
          columnDefs: [
            { targets: 0, width: '50px', className: 'text-center' },
            { targets: 1, width: '120px', className: 'text-left' },
            { targets: 2, width: '90px', className: 'text-end' },
            { targets: 3, width: '130px', className: 'text-end' },
            { targets: 4, width: '90px', className: 'text-end' },
            { targets: 5, width: '130px', className: 'text-end' },
            { targets: 6, width: '90px', className: 'text-end' },
            { targets: 7, width: '130px', className: 'text-end' },
          ],
          order: [[1, 'asc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          responsive: true,
          scrollCollapse: true,
          pageLength: 15,
          scrollY: '200px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });

        var tbl_wd_resv_list = $('#tbl_wd_resv_list').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/withdraw/withdraw/wdMng/wdResvList',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              formData = $('#frm_sch_list').serializeObject();
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          }, 
          columns: [
            { 
              data: 'wd_no', 
              render: function(data, type, row) {
                return '<input type="checkbox" class="form-check-input" value="' + data + '">';
              },
              orderable: false,
              className: 'text-left'
            },
            { data: 'wd_status_nm' },
            { data: 'card_acq_nm' },
            { data: 'card_no' },
            { data: 'card_type_nm' },
            { data: 'conf_gb_nm' },
            { data: 'conf_no' },
            { data: 'conf_dttm' },
            { data: 'card_resv_date' },
            { data: 'conf_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'card_fee_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'card_resv_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'svc_fee_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'wd_base_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'crd_fee_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'remit_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'wd_memo' },
          ],
          columnDefs: [
            { targets: 0, width: '120px', className: 'text-left' },
            { targets: 1, width: '100px', className: 'text-center' },
            { targets: 2, width: '100px', className: 'text-center' },
            { targets: 3, width: '150px', className: 'text-center' },
            { targets: 4, width: '80px', className: 'text-center' },
            { targets: 5, width: '80px', className: 'text-center' },
            { targets: 6, width: '100px', className: 'text-center' },
            { targets: 7, width: '150px', className: 'text-center' },
            { targets: 8, width: '120px', className: 'text-center' },
            { targets: 9, width: '120px', className: 'text-end' },
            { targets: 10, width: '100px', className: 'text-end' },
            { targets: 11, width: '120px', className: 'text-end' },
            { targets: 12, width: '100px', className: 'text-end' },
            { targets: 13, width: '120px', className: 'text-end' },
            { targets: 14, width: '100px', className: 'text-end' },
            { targets: 15, width: '120px', className: 'text-end' },
            { targets: 16, width: '100px', className: 'text-center' },            
          ],
          order: [[1, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: true,
          responsive: true,
          scrollCollapse: true,
          pageLength: 20,
          scrollY: '580px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });
        
        $('#tbl_card_summ').on('click', 'tr', function () {            
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          } else {
            $(this).addClass('selected');
          }

          var row = tbl_card_summ.row(this).data();
          var currentValue = $('#sch_list_card_acq').val();
          var newValue = row.card_acq;
          
          if (currentValue.includes(newValue)) {
            // Remove the value if it already exists
            var updatedValue = currentValue.split(',').filter(function (value) {
              return value !== newValue;
            }).join(',');
            $('#sch_list_card_acq').val(updatedValue);
          } else {
            // Add the value if it doesn't exist
            if (currentValue) {
              $('#sch_list_card_acq').val(currentValue + ',' + newValue);
            } else {
              $('#sch_list_card_acq').val(newValue);
            }
          } 

          if ($('#sch_list_chain_no').val() && $('#sch_list_work_date').val()) {
            tbl_wd_resv_list.ajax.reload();
          } 
        });   

        // Excel download button click event
        $('#btn_list_excel').click(function () {
          var formData = $('#frm_sch_list').serializeObject();
          $.ajax({
            url: '/withdraw/withdraw/wdMng/wdResvListExcel',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            xhrFields: {
              responseType: 'blob'
            },
            success: function (data, status, xhr) {
              var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = 'DocuList.xlsx';
              link.click();
            },
            error: function (xhr, status, error) {
              alert('Excel download failed.');
            }
          });
        }); 
        
        // 모달 창 표시될때 초기화 처리
        $('#modal_risk').on('shown.bs.modal', function() {  
          // 모달 열릴 때 첫 번째 포커스 가능 요소로 이동          
          $(this).data('trigger-element', document.activeElement);
          if ($.fn.DataTable.isDataTable('#tbl_risk_list')) {
            $('#tbl_risk_list').DataTable().destroy();
          }          
          // 새로 초기화
          $('#tbl_risk_list').DataTable({ 
              processing: true,
              serverSide: true,
              select: true,
              responsive: true,
              ajax: {
                url: '/withdraw/withdraw/wdMng/getRiskList',
                contentType: 'application/json',
                dataType: 'JSON',
                type: 'POST',
                data: function (postData) {
                  formData = $('#frm_risk').serializeObject();
                  Object.assign(postData, formData);
                  return JSON.stringify(postData);
                },
              },
              columns: [
                  { data: 'chain_no' },
                  { data: 'chain_nm' },
                  { data: 'proc_result' },
                  { data: 'un_proc_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },  
              ],
              columnDefs: [
                  { targets: 0, width: '100px', className: 'text-left' },
                  { targets: 1, width: '120px', className: 'text-left' },
                  { targets: 2, width: '500px', className: 'text-left' },
                  { targets: 3, width: '100px', className: 'text-end' },
              ],
              order: [[1, 'desc']],
              paging: true,
              lengthChange: false,
              searching: false,
              ordering: true,
              autoWidth: false,
              responsive: true,
              scrollCollapse: true,
              pageLength: 20,
              scrollY: '580px',
              info: false,
              language: {
                emptyTable: '데이터가 없습니다.',
                search: '검색:',
                zeroRecords: '일치하는 데이터가 없습니다.',
                loadingRecords: '로딩중...',
                processing: '처리중...',
              },
          });
          // 첫 번째 포커스 가능 요소로 이동
          $(this).find('button:not([disabled]), input:not([disabled])').first().focus();
           
        });
        
        // 모달이 닫힐 때 포커스 복원
        $('#modal_risk').on('hidden.bs.modal', function() {
          var triggerElement = $(this).data('trigger-element');
          if (triggerElement) {
            $(triggerElement).focus();
          } 
          return true; // 모달 닫기 허용
        });

          
      });
    </script>
  </head>
  <div class="content">    
    <!-- <div class="row g-1 mb-1">
      <div class="card">
        <div class="card-header">          
          <div class="row flex-between-end">
            <div class="col-lg-2 align-self-center">
              <h4 class="mb-0">사전 정산</h4>
            </div>            
            <div class="col-lg-10">
              <form id="frm_sch" name="frm_sch" onsubmit="return false;" novalidate=""> 
                <div class="row mb-1">  
                  <div class="col-sm-4">
                    <div class="input-group">
                      <div class="input-group input-group-sm mb-1 me-1">
                        <label class="col-sm-2 col-form-label col-form-label-sm" for="sch_work_date">작업일</label>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm" id="sch_work_date" type="text" name="sch_work_date" istyle="date" maxlength="10" required />
                        </div>   
                      </div> 
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="input-group input-group-sm mb-1">
                      <select class="form-select form-control-sm me-1" id="sch_corp_no" name="sch_corp_no" style="width: 75px">
                        <option value="">여신사</option>
                      </select>
                      <select class="form-select form-control-sm me-1" id="sch_agency_no" name="sch_agency_no" style="width: 75px">
                        <option value="">대리점</option>
                      </select>                      
                      <select class="form-select form-control-sm me-1" id="schgb_chain" name="schgb_chain" style="width: 75px">
                        <option value="">가맹점 정보</option>
                        <option value="schgb_chain_nm">가맹점 명</option>
                        <option value="schgb_biz_no">사업자 번호</option>
                      </select>
                      <input type="text" class="form-control form-control-sm me-1" id="schgb_chain_val" name="schgb_chain_val" style="width:150px" />
                      <button type="button" class="btn btn-primary btn-sm" id="btn_search" name="btn_search">조회</button>
                    </div>
                  </div> 
                </div> 
              </form>
            </div>
          </div>          
        </div>
      </div>
    </div>    -->
    <div class="row g-1 mb-1">
      <div class="col-lg-6">
        <div class="card" style="height: 580px;">
          <div class="card-header">          
            <div class="row flex-between-end">
              <div class="col-lg-2 align-self-center">
                <h4 class="mb-0">사전 정산</h4>
              </div>            
              <div class="col-lg-10">
                <form id="frm_sch" name="frm_sch" onsubmit="return false;" novalidate=""> 
                  <div class="row mb-1">
                    <div class="col-sm-12">
                      <div class="input-group input-group-sm mb-1">
                        <div class="col-sm-3">
                          <input class="form-control form-control-sm" id="sch_work_date" type="text" name="sch_work_date" istyle="date" maxlength="10" required />
                        </div>   
                        <select class="form-select form-control-sm me-1" id="sch_corp_no" name="sch_corp_no" style="width: 75px">
                          <option value="">여신사</option>
                        </select>
                        <select class="form-select form-control-sm me-1" id="sch_agency_no" name="sch_agency_no" style="width: 75px">
                          <option value="">대리점</option>
                        </select>                      
                        <!-- <select class="form-select form-control-sm me-1" id="schgb_chain" name="schgb_chain" style="width: 75px">
                          <option value="">가맹점 정보</option>
                          <option value="schgb_chain_nm">가맹점 명</option>
                          <option value="schgb_biz_no">사업자 번호</option>
                        </select> -->
                        <input type="text" class="form-control form-control-sm me-1" id="schgb_chain_val" name="schgb_chain_val" style="width:100px" />
                        <button type="button" class="btn btn-primary btn-sm" id="btn_search" name="btn_search">조회</button>
                      </div>
                    </div> 
                  </div> 
                </form>                
              </div>
            </div>          
          </div>
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_wd_summ">  
                <thead>
                  <tr>
                    <th class="text-center">가맹점 명</th>
                    <th class="text-center">Risk</th>
                    <th class="text-center">승인 건</th>
                    <th class="text-center">승인 금액</th>
                    <th class="text-center">취소 건</th>
                    <th class="text-center">취소 금액</th>                
                    <th class="text-center">정산 건</th>
                    <th class="text-center">정산 금액</th> 
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th colspan="2" class="text-center">총계</th>
                    <th class="text-right px-2"></th>
                    <th class="text-right px-2"></th>
                    <th class="text-right px-2"></th>
                    <th class="text-right px-2"></th>
                    <th class="text-right px-2"></th>
                    <th class="text-right px-2"></th> 
                  </tr>
                </tfoot>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>      
      </div>
      <div class="col-lg-6">
        <div class="card" style="height: 580px;">    
          <div class="card-header">            
            <form id="frm_sch_card" name="frm_sch_card" onsubmit="return false;" novalidate="">
              <input class="form-control form-control-sm" id="sch_card_chain_no" type="hidden" name="sch_card_chain_no" readonly="readonly" />
              <input class="form-control form-control-sm" id="sch_card_work_date" type="hidden" name="sch_card_work_date"/>                
            </form>          
            <div class="row flex-between-end">
              <div class="row mb-1">
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="tot_conf_amt">총 정산금액</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="tot_conf_amt" type="text" name="tot_conf_amt" istyle="amount" readonly />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="card_fee_amt">카드 수수료</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="card_fee_amt" type="text" name="card_fee_amt" istyle="amount" readonly/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="card_resv_amt">입금 예정액</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="card_resv_amt" type="text" name="card_resv_amt" istyle="amount" readonly/>
                    </div>
                  </div>
                </div>
              </div>  
              <div class="row mb-1">
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="svc_fee_amt">운영 수수료</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="svc_fee_amt" type="text" name="svc_fee_amt" istyle="amount" readonly/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="crd_fee_amt">여신 수수료</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="crd_fee_amt" type="text" name="crd_fee_amt" istyle="amount"  readonly />                           
                    </div>
                  </div>
                </div>              
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="wd_base_amt">원    금</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="wd_base_amt" type="text" name="wd_base_amt" istyle="amount" readonly />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="sub_amt">차 감 액</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="sub_amt" type="text" name="sub_amt" istyle="amount" readonly/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="exc_amt">과 입 금</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="exc_amt" type="text" name="exc_amt" istyle="amount" readonly/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-1">
                    <label class="col-sm-4 col-form-label col-form-label-sm" for="remit_amt">출금 예정액</label> 
                    <div class="col-sm-8">
                      <input class="form-control form-control-sm text-end bg-light" id="remit_amt" type="text" name="remit_amt" istyle="amount"  readonly />                           
                    </div>
                  </div>
                </div>
              </div>     
            </div>
          </div>
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="table-responsive scrollbar">              
              <table class="table table-striped table-sm fs-9 mb-0 table-hover" id="tbl_card_summ">
                <thead>
                  <tr>    
                    <th class="text-center">
                      <input type="checkbox" id="chk_card_all" class="form-check-input" />
                    </th>
                    <th class="text-center">카드(매입)사</th>
                    <th class="text-center">승인 건</th>
                    <th class="text-center">승인 금액</th>
                    <th class="text-center">취소 건</th>
                    <th class="text-center">취소 금액</th>   
                    <th class="text-center">출금 건</th>
                    <th class="text-center">출금 금액</th>
                  </tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div> 
        </div>      
      </div>        
    </div>     
    <div class="row g-1 mb-1">
      <div class="card">
        <div class="card-header"> 
          <div class="row flex-between-end">              
            <div class="col-lg-2 align-self-center">
              <h4 class="mb-0">승인전문 상세 List</h4>
            </div>     
            <div class="col-lg-10">
              <form id="frm_sch_list" name="frm_sch_list" onsubmit="return false;" novalidate=""> 
                <input id="sch_list_chain_no"  type="hidden" name="sch_list_chain_no" />
                <input id="sch_list_chain_nm"  type="hidden" name="sch_list_chain_nm" />
                <input id="sch_list_work_date" type="hidden" name="sch_list_work_date"/>
                <input id="sch_list_card_acq"  type="hidden" name="sch_list_card_acq" />
                <div class="row mb-1">
                  <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-1"> 
                      <select class="form-select form-control-sm me-1" id="sch_list_wd_status" name="sch_list_wd_status" style="width: 120px">
                        <option value="">진행상태</option>
                      </select>                     
                      <select class="form-select form-control-sm me-1" id="sch_list_gb" name="sch_list_gb" style="width: 75px">
                        <option value="sch_list_gb_conf_no">승인 번호</option>
                        <option value="sch_list_gb_card_no">카드 번호</option>
                        <option value="sch_list_gb_conf_amt">승인 금액</option>
                      </select>
                      <input type="text" class="form-control form-control-sm me-1" id="sch_list_gb_conf_val" name="sch_list_gb_conf_val" style="width:150px" />                        
                      <button type="button" class="btn btn-primary btn-sm" id="btn_list_search" name="btn_list_search">조회</button> 
                    </div>
                  </div> 
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-sm" id="btn_list_excel" name="btn_list_search">Excel</button>
                  </div>
                </div> 
              </form>
            </div>
          </div>          
        </div>
        <div class="card-body pt-0 px-0" style="padding-top: 0px">
          <div class="table-responsive scrollbar">
            <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_wd_resv_list">  
              <thead>
                  <tr>
                    <th class="text-center">정산 번호</th> 
                    <th class="text-center">정산 상태</th>
                    <th class="text-center">매입사</th>
                    <th class="text-center">카드번호</th>
                    <th class="text-center">카드유형</th>
                    <th class="text-center">구분</th>
                    <th class="text-center">승인번호</th>
                    <th class="text-center">승인일시</th>
                    <th class="text-center">입금예정일</th>
                    <th class="text-center">승인금액</th>                    
                    <th class="text-center">카드수수료</th>
                    <th class="text-center">입금예정액</th>
                    <th class="text-center">서비스수수료</th>
                    <th class="text-center">정산 원금</th>
                    <th class="text-center">여신수수료</th>
                    <th class="text-center">출금예정액</th>
                    <th class="text-center">비고</th>
                  </tr>  
              </thead>
              <tbody class="list"></tbody>
            </table>
          </div>
        </div>        
      </div>     
    </div>    
  </div>

  <div class="modal fade" id="modal_risk" tabindex="-1" aria-labelledby="unprocessedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Changed modal-lg to modal-xl for larger size -->
      <div class="modal-content">
        <form class="needs-validation" novalidate="" id="frm_risk" name="frm_risk" onsubmit="return false;">           
          <input id="sch_risk_chain_no" type="hidden" name="sch_risk_chain_no"/> 
          <div class="modal-header">
            <h5 class="modal-title">Risk Check</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_risk_list">  
                <thead>
                    <tr>
                      <th class="text-center">가맹점 명</th> 
                      <th class="text-center">Risk</th>
                      <th class="text-center">내용</th>
                      <th class="text-center">미처리 건</th>   
                    </tr>   
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <h6 class="text-start text-primary">※미처리 메세지 내용에 대한 조치를 먼저한 후 적용 버튼을 클릭하세요.</h6> -->
            <button class="btn btn-primary" id="btn_process" type="submit" aria-label="처리">적용</button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" aria-label="모달 닫기">닫기</button>
          </div>          
        </form>
      </div>
    </div>
  </div>
</html>
