<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
<head>
  <title>전문 관리</title>
  <script src="/vendors/tinymce/tinymce.min.js"></script>
  <script src="/vendors/datatables.net/dataTables.min.js"></script>
  <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
  <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
  <script src="/vendors/dropzone/dropzone-min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- ✅ XLSX (SheetJS) 추가 -->
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
  <!-- Select2 Bootstrap5 Theme -->
  <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.1.1/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />    
  <link rel="stylesheet" href="/css/custom-salesm.css" />

    <script th:inline="none">      
    $(document).ready(function () {

        $('#btn_upload').hide(); // 초기에는 업로드 버튼 숨김 

        // callAjax('/common/getChainList', "", fn_chain_list_setting);
        // function fn_chain_list_setting(data) {
        //   codeSetting('CHAIN_NO', data.data, '#corp_cd', '1', '', '');
        // }

        callAjax('/common/getOpCorpList', "", fn_corp_list_setting);
        function fn_corp_list_setting(data) {
          codeSetting('CORP_CD', data.data, '#corp_cd', '1', 'OP00001', '');
        }
        
        $('#corp_type').change(function() {
          var corpType = $('#corp_type').val();
          if (corpType === '') {
            alert('구분을 선택해주세요.');
            return false;
          } else if (corpType === 'CH') {
            $('#corp_select_chain').show();
            $('#corp_select_op').hide();
            // callAjax('/common/getChainList', "", fn_chain_list_setting);
          } else if (corpType === 'OP') {
            $('#corp_select_chain').hide();
            $('#corp_select_op').show();
            // callAjax('/common/getOpCorpList', { 'corp_type': corpType }, fn_corp_list_setting);
          }          
        }); 

        $('#chain_no').select2({            
            theme: 'bootstrap-5',
            placeholder: '가맹점 선택',
            minimumInputLength: 1, // 1글자 이상 입력해야 검색 시작
            ajax: {
                url: '/common/getChainSchList',  // 서버 API
                type: 'GET',
                dataType: 'json',
                delay: 300,
                data: function (params) {
                    return {
                        keyword: params.term   // 검색어
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.map(item => ({
                            id: item.code,
                            text: item.codeNm
                        }))
                    };
                }
            }
        });


        // DataTable 초기화
        $('#tbl_upload_data').DataTable({
            "paging": false,
            "searching": false,
            "info": false,
            "ordering": false,
            "scrollY": "600px",
            "scrollCollapse": true,
            "language": {
                "emptyTable": "데이터가 없습니다."
            }
        });        
        
        // Clear file input when clicked
        $('#excel_file').on('click', function() {
            $(this).val('');
            $('#listBody').empty();
            $('#btn_upload').hide();
        });

        $('#excel_file').on('change', function() {
            const fileInput = $(this)[0];
            const fileName = fileInput.files[0] ? fileInput.files[0].name : '';
            console.log('Selected file:', fileName);
            const file = fileInput.files[0]; 
            
            if (fileName) {
                const reader = new FileReader();
                reader.onload = function(e) {
                const data = new Uint8Array(e.target.result);
                const workbook = XLSX.read(data, {type: 'array'});
                const sheetName = workbook.SheetNames[0];
                const worksheet = workbook.Sheets[sheetName];
                const jsonData = XLSX.utils.sheet_to_json(worksheet, {header: 1});
                console.log('Excel data:', jsonData);
                displayData(jsonData);
                };
                reader.readAsArrayBuffer(file);  
                
            } else {
                alert('파일 선택이 취소되었습니다.');
            }
        });

        function displayData(data) {
            const tbody = document.getElementById('listBody');
            var   uploadChk = true;
            tbody.innerHTML = '';
            var   dataRow = $('#data_row').val() ? parseInt($('#data_row').val())  : 2; // 기본값 3번째 줄 (인덱스 2)

            // 헤더 제외하고 데이터 처리
            for (let i = dataRow; i < data.length; i++) {
                const row = data[i];
                if (row.length > 0 && row[4] >= '0') {                    
                    console.log('pre row :', row);
                    // var tradeDttm = row[0];
                    // if (typeof tradeDttm === 'number') {
                    //     // 엑셀에서 날짜가 숫자로 올 경우 처리
                    //     var date = XLSX.SSF.parse_date_code(tradeDttm);
                    //     tradeDttm = `${date.y}-${String(date.m).padStart(2, '0')}-${String(date.d).padStart(2, '0')} ${String(date.H).padStart(2, '0')}:${String(date.M).padStart(2, '0')}:${String(date.S).padStart(2, '0')}`;                        
                    //     row[0] = tradeDttm;
                    // }

                    row[0] = row[0].replace('.','-').replace('.','-'); // 엑셀에서 날짜가 .으로 구분되어 올 수 있어 변환                    
                    var checkResult = validateRow(row);
                    const tr = document.createElement('tr');
                    if (checkResult !== '정상') {
                        tr.style.backgroundColor = '#f8f9fa';
                        uploadChk = false;
                    }
                    console.log('pre row :', row);
                    tr.innerHTML = `
                        <td>${row[0] || ''}</td>
                        <td>${row[1] || ''}</td>
                        <td>${row[2] || ''}</td>                        
                        <td style="text-align: right;">${row[3] || ''}</td>
                        <td style="text-align: right;">${row[4] || ''}</td>
                        <td style="text-align: right;">${row[5] || ''}</td>
                        <td>${row[6] || ''}</td>
                        <td>${checkResult || ''}</td>
                    `;
                    tbody.appendChild(tr);
                }
            } 

            if (uploadChk) {
                alert('모든 데이터가 정상입니다. 업로드가 가능합니다.');
                $('#btn_upload').show();
            } else {
                alert('일부 데이터에 오류가 있습니다. 오류를 확인해주세요.');
                $('#btn_upload').hide();
            }   
        } 

        function validateRow(row) {            
            // datetime 형식 검증 (yyyy-mm-dd hh:mm:ss)
            const tradeDate = row[0].replace('.','-').replace('.','-'); // 엑셀에서 날짜가 .으로 구분되어 올 수 있어 변환
            const datetimeRegex = /^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$/;            
            if (!datetimeRegex.test(tradeDate)) {
                return '날짜 형식 오류 (yyyy-mm-dd hh:mm:ss)';
            }            
            // 실제 날짜 유효성 검사
            const dateObj = new Date(tradeDate);
            if (isNaN(dateObj.getTime())) {
                return '유효하지 않은 날짜';
            } 
            // 오늘 날짜인지 확인
            var toDay = returnDate('today');  
            var rowDate = tradeDate.split(' ')[0];
            console.log('toDay , rowDate :', toDay, rowDate);
            if (toDay !== rowDate) {
                return '오늘 날짜가 아닙니다';
            }             
            return '정상';
        }
      
      $('#btn_upload').click(function () {
            if (!$('#corp_type').val()) {
                alert('구분을 선택해주세요.');
                return false;
            }
            if ($('#corp_type').val() === 'CH' && !$('#chain_no').val()) {
                alert('가맹점을 선택해주세요.');
                return false;
            } 

            if ($('#corp_type').val() === 'OP' && !$('#corp_cd').val()) {
                alert('운영사를 선택해주세요.');
                return false;
            }
             
            // 테이블 데이터를 FormData에 추가
            const tableRows = $('#tbl_upload_data tbody tr');
            const tableData = [];
            tableRows.each(function(index) {
                const row = $(this);
                const rowData = {
                    tradeDttm: row.find('td').eq(0).text(),
                    tradeGb: row.find('td').eq(1).text(),
                    remark: row.find('td').eq(2).text(),
                    outAmt: row.find('td').eq(3).text(),
                    inAmt: row.find('td').eq(4).text(),
                    remainAmt: row.find('td').eq(5).text(),
                    centerNm: row.find('td').eq(6).text()
                };
                tableData.push(rowData);
            }); 
            const formData = {
                corp_type: $('#corp_type').val(),
                corp_cd: $('#corp_cd').val(),
                chain_no: $('#chain_no').val(),
                bank_cd: $('#bank_cd').val(),
                ent_user_id: $('#ent_user_id').val(),
                excelData: tableData
            }; 

            alert($('#corp_type').val() + ' / ' + $('#corp_cd').val() + ' / ' + $('#chain_no').val() + ' / ' + $('#bank_cd').val() + ' / ' + tableData.length + '건 업로드 진행합니다.');
            ConfirmdialogToJsonAjax('create', '/deposit/upload/uploadExcel', formData, fn_return_result);
            
        });

        function fn_return_result(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;   
          
          if (resultCode == 'S000') {                               

            swal('성공', '작업을 정상적으로 완료하였습니다.' + resultMsg, 'success');       
          } else {  
            swal('실패', resultMsg, 'error');
          }
        } 
    });
    </script>
</head>
<div class="content">         
    <div class="row g-1 mb-1">
        <div class="card">
            <div class="card-header"> 
                <div class="row flex-between-end">
                    <div class="col-lg-2 align-self-center">
                        <h4 class="mb-0">입금 자료 UPLOAD</h4>
                    </div>
                    <div class="col-lg-10">
                        <form id="frm_sch" name="frm_sch" onsubmit="return false;" novalidate=""> 
                        <div class="row mb-1">  
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group input-group-sm mb-1 me-1">
                                        <label class="col-sm-2 col-form-label col-form-label-sm" for="corp_type">구분</label>
                                        <div class="col-sm-4">
                                            <select class="form-select form-control-sm me-1" id="corp_type" name="corp_type">
                                                <option value="CH" selected>가맹점</option>
                                                <option value="OP">운영사</option>
                                            </select>
                                        </div> 
                                        <div class="col-sm-6" id="corp_select_chain">
                                            <select class="form-select form-control-sm me-1" id="chain_no" name="chain_no"></select>                                            
                                        </div>                             
                                        <div class="col-sm-6" id="corp_select_op" style="display: none;">
                                            <select class="form-select form-control-sm me-1"   id="corp_cd" name="corp_cd">
                                                <option value="">선택</option>
                                            </select>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group input-group-sm mb-1 me-1">
                                    <label class="col-sm-3 col-form-label col-form-label-sm" for="bank_cd">은행</label>
                                    <div class="col-sm-9">
                                        <select class="form-select form-control-sm me-1" id="bank_cd" name="bank_cd">
                                            <option value="020" selected>우리은행</option>
                                            <option value="039">경남은행</option>
                                        </select>
                                    </div>                      
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group input-group-sm mb-1">
                                    <label class="col-sm-7 col-form-label col-form-label-sm" for="data_row">데이터 Row</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="data_row" name="data_row" value="3" />
                                    </div>                                 
                                </div>
                            </div> 
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mb-1">
                                    <input type="file" class="form-control" id="excel_file" name="file" accept=".xlsx, .xls" placeholder="엑셀로 변환 후 업로드" />
                                    <button type="button" class="btn btn-primary" id="btn_upload" name="btn_upload">Upload</button> 
                                </div>
                            </div> 
                        </div> 
                        </form>
                    </div> 
                </div>
            </div> 
            <div class="card-body pt-0 px-0" style="padding-top: 0px">
                <div class="table-responsive scrollbar">
                    <table class="table table-sm fs-9 mb-0 selectable-table table-hover selectable table-bordered" id="tbl_upload_data">
                        <thead>
                            <tr>
                                <th class="text-center">거래일시</th> 
                                <th class="text-center">적요</th>
                                <th class="text-center">기재내용</th>
                                <th class="text-center">찾으신금액</th>
                                <th class="text-center">맡기신금액</th>
                                <th class="text-center">거래후잔액</th>
                                <th class="text-center">취급점</th> 
                                <th class="text-center">데이터 확인</th> 
                            </tr>
                        </thead>
                        <tbody class="list" id="listBody"></tbody>
                    </table>
                </div>
            </div> 
        </div>
    </div> 
</div>
</html>
