<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.manage.api.mapper.ScrapMapper">

	<select id="getQueryTotalCnt" resultType="int">
		SELECT FOUND_ROWS()
	</select>    

        <select id="getUserCheck" parameterType="com.web.manage.api.domain.ScrapUserVO" resultType="int">
                SELECT  COUNT(1)
                  FROM  TB_USER
                WHERE  USER_ID     = #{userId}
                AND  USER_PWD    = SHA2(#{userPwd}, 256)
                AND  CORP_TYPE   = 'SC'
                AND  USE_YN      = 'Y'                
        </select>    
        <select id="getUserAuthKeyCheck" parameterType="com.web.manage.api.domain.ScrapUserVO" resultType="int">
                SELECT  COUNT(1)
                  FROM  TB_USER
                 WHERE  USER_ID     = #{userId}
                   <!-- AND  USER_PWD    = SHA2(#{userPwd}, 256) -->
                   AND  USER_AUTH_KEY = #{userAuthKey}
                   AND  USE_YN      = 'Y'                
        </select>                     

        <update id="setUserAuthKey" parameterType="com.web.manage.api.domain.ScrapUserVO">
                UPDATE  TB_USER
                   SET  USER_AUTH_KEY   = #{userAuthKey}
                 WHERE  USER_ID         = #{userId}
        </update> 

        <insert id="writeScrapErrorLog" parameterType="com.web.manage.api.domain.ScrapErrorLogVO">
                INSERT INTO     TB_SCRAP_ERROR_LOG (
                        SCRAP_DTTM	, VAN_CD		, CHAIN_NO		, CHAIN_NM		
                        , LOGIN_ID	, LOGIN_PWD		, ERROR_MSG
                ) VALUES (                                   
                        NOW()	        , #{vanCd}		, #{chainNo}		, #{chainNm}	
                        , #{loginId}    , #{loginPwd}	        , #{errorMsg}     
                )    
        </insert> 

        <insert id="writeScrapLog" parameterType="com.web.manage.api.domain.ScrapLogVO">
                INSERT INTO     TB_SCRAP_LOG (
                        CHAIN_NO        , SCRAP_GB      , VAN_CD        
                        <!-- , LOGIN_ID      , LOGIN_PWD      -->
                        , LAST_SCRAP_DTTM
                        , UPLOAD_CNT    , SAVE_CNT      , DUP_CNT       , RSLT_MSG
                ) VALUES (                                   
                        #{chain_no}	, #{scrap_gb}   , #{van_cd}     
                        <!-- , #{login_id}   , #{login_pwd}	 -->
                        , NOW()
                        , #{upload_cnt} , #{save_cnt}	, #{dup_cnt}    , #{rslt_msg}     
                )    
        </insert>    

        <select id="getVanChainList" parameterType="com.web.manage.api.domain.ScrapCompVO" resultType="java.util.HashMap">
                SELECT 	TC.CHAIN_NO 		AS chainNo
                        , TC.CHAIN_NM		AS chainNm
                        , TC.BIZ_NO 		AS bizNo
                        , VN.VAN_CD		AS vanCd
                        , CD.CODE_NM 		AS vanNm
                        , VN.VAN_ID             AS loginId
                        , VN.VAN_PWD            AS loginPwd
                        , VN.TERM_ID            AS vanUrl
                FROM 	TB_CHAIN TC
                        JOIN TB_CHAIN_VAN VN ON VN.CHAIN_NO = TC.CHAIN_NO
                                AND VN.USE_YN = 'Y'
                                AND VN.VAN_CD = #{vanCd}
                                AND VN.USE_YN = 'Y'
                        JOIN TB_CODE CD ON CD.CODE = VN.VAN_CD
                                AND CD.CODE_GRP_CD = 'VAN_CD'          
                                AND CD.USE_YN = 'Y'                
                WHERE  TC.SVC_STAT IN ('O', 'R')       
                <if test="chainNo != null and chainNo != ''">			
                        AND   TC.CHAIN_NO = #{chainNo}
                </if>
                AND  NOT EXISTS(
                                SELECT 1 
                                  FROM TB_SCRAP_LOG SL          
                                 WHERE SL.CHAIN_NO  = TC.CHAIN_NO       
                                   AND SL.SCRAP_GB  IN ('VAN', 'DELI')
                                   AND SL.VAN_CD    = #{vanCd}
                                   AND SL.LAST_SCRAP_DTTM &gt;= DATE_SUB(NOW(), INTERVAL 90 MINUTE)
                        )                                       
                ORDER 	BY TC.CHAIN_NO  
	</select> 
        <select id="getBankChainList" parameterType="com.web.manage.api.domain.ScrapCompVO" resultType="java.util.HashMap">
                SELECT  CHAIN_NO                AS chainNo
                        , CHAIN_NM              AS chainNm       
                        , BANK_CD               AS bankCd
                        , ACCOUNT_NO            AS accountNo
                        , ACCOUNT_PWD           AS accountPwd
                        , ACCOUNT_TP            AS accountTp    
			, SEARCH_ID             AS searchId
                        , SEARCH_PWD            AS searchPwd
                        , BIZ_NO                AS bizNo
                        , BOSS_REGNO            AS bossRegNo
                        , ACCOUNT_NM            AS accountNm
                        , CASE WHEN ACCOUNT_TP = 'PERS' THEN SUBSTR(BOSS_REGNO, 3, 6)
                                 ELSE SUBSTR(BIZ_NO, 6, 5) END AS authNo                
                FROM  (                                                                       
                        SELECT TC.CHAIN_NO              AS CHAIN_NO                                  
                                , TC.CHAIN_NM     	AS CHAIN_NM                                 
                                , TC.ABANK_CD           AS BANK_CD                                  
                                , TC.ABANK_ACCOUNT_NO   AS ACCOUNT_NO                               
                                , TC.ABANK_PWD   	AS ACCOUNT_PWD                              
                                , TC.ABANK_SEARCH_ID	AS SEARCH_ID
                                , TC.ABANK_SEARCH_PWD	AS SEARCH_PWD
                                , CASE WHEN TC.ABANK_ACCOUNT_TP = 'LAW' THEN 'COMP' ELSE 'PERS' END  AS ACCOUNT_TP
                                , REPLACE(TC.BIZ_NO, '-', '')       	AS BIZ_NO                               
                                , REPLACE(TC.CEO_BIRTH_DT, '-', '')     AS BOSS_REGNO                           
                                , TC.ABANK_DEPOSITOR    AS ACCOUNT_NM                           
                        FROM    TB_CHAIN TC                                                       
                        WHERE   TC.SVC_STAT     IN ('O', 'R')  
                           AND	TC.ABANK_CD	 = #{bankCd}
                          AND   TC.ABANK_SPEED_YN  = 'Y'
                          AND   TC.USE_YN 	= 'Y'
                        <if test='chainNo != null and chainNo != ""'>   
                            AND 	TC.CHAIN_NO = #{chainNo}
                        </if>
                        AND  NOT EXISTS (
                                        SELECT 1 FROM TB_SCRAP_LOG SL                        
                                         WHERE SL.CHAIN_NO  = TC.CHAIN_NO                                
                                           AND SL.SCRAP_GB  = 'BANK'                                       
                                           AND SL.VAN_CD    = #{bankCd}
                                           AND SL.LAST_SCRAP_DTTM &gt;= DATE_SUB(NOW(), INTERVAL '90' MINUTE)     
                                	)
                         UNION  ALL
                        SELECT  CORP_CD           	AS CHAIN_CD                                 
                                , CORP_NM		AS CHAIN_NM                                               
                                , BANK_CD          	AS BANK_CD                                  
                                , ACCOUNT_NO      	AS ACCOUNT_NO                               
                                , ACCOUNT_PWD   	AS ACCOUNT_PWD     
                                , WEB_ID       		AS SEARCH_ID                               
                                , WEB_PWD   		AS ACCOUNT_PWD                         
                                , 'COMP'                AS ACCOUNT_TP                                
                                , REPLACE(BIZ_NO, '-', '')   AS BIZ_NO                           
                                , ''                    AS BOSS_REG_NO                              
                                , DEPOSITOR     	AS ACCOUNT_NM                               
                          FROM 	TB_CORP CR                                                      
                         WHERE  USE_YN = 'Y'       
                           AND 	CORP_TYPE = 'OP'
                           AND 	BANK_CD 	  = #{bankCd}                                   
                           AND  NOT EXISTS(                                                     
                                        SELECT 1 FROM TB_SCRAP_LOG SL                        
                                         WHERE SL.CHAIN_NO  = CR.CORP_CD                                
                                           AND SL.SCRAP_GB  = 'BANK'                                       
                                           AND SL.VAN_CD    = #{bankCd}
                                           AND SL.LAST_SCRAP_DTTM &gt;= DATE_SUB(NOW(), INTERVAL '90' MINUTE)     
                                        )                                                     
                        ) VT                                                                    
                ORDER  BY VT.CHAIN_NO        
        </select>

        <select id="getScrapCardSalesList" parameterType="com.web.manage.api.domain.ScrapCompVO" resultType="java.util.HashMap">
                SELECT 	TC.CHAIN_NO 		AS chainNo      
                        , TC.CHAIN_NM  		AS chainNm 
                        , TC.CARDSALES_ID       AS cardSalesId          
                        , TC.CARDSALES_PWD      AS cardSalesPwd
                FROM    TB_CHAIN TC   
                WHERE 	TC.SVC_STAT IN ('O', 'R')     
                AND 	TC.CARDSALES_ID IS NOT NULL
                AND 	TC.USE_YN = 'Y'    
                <if test="chainNo != null and chainNo != ''">			
                        AND   TC.CHAIN_NO = #{chainNo}
                </if>
                AND  NOT EXISTS(
                                SELECT 1 
                                  FROM TB_SCRAP_LOG SL          
                                 WHERE SL.CHAIN_NO  = TC.CHAIN_NO       
                                   AND SL.SCRAP_GB  IN ('CS')
                                   AND SL.VAN_CD    = 'CARDSALES'
                                   AND SL.LAST_SCRAP_DTTM &gt;= DATE_SUB(NOW(), INTERVAL 90 MINUTE)
                        )                                       
                ORDER 	BY TC.CHAIN_NO  
	</select> 
                 

	<insert id="scrapUploadVanData" parameterType="com.web.manage.api.domain.ScrapVanDataVO">
                INSERT INTO TB_SCRAP_VAN_DATA(
                        TRADE_NO        , VAN_CD        , CHAIN_NO      , CARD_REG_NO   , MID
                        , CONF_NO       , CONF_GB       , CONF_RSLT     , CONF_DTTM     , CONF_TYPE     , CARD_TYPE
                        , CARD_NO       , CARD_ACQ      , CARD_ISSUE    , CONF_AMT      , INSTALL_MON   , ORG_CONF_DT
                        , STORE_ID      , BIZ_NO        , BIZ_NM        , CAT_ID        , USE_YN        , ENT_DTTM
                ) VALUES (
                        #{tradeNo}      , #{vanCd}      , #{chainNo}    , #{mid}        , #{mid}
                        , #{confNo}     , #{confGb}     , #{confRslt}   , #{confDttm}   , #{confType}   , #{cardType}
                        , #{cardNo}     , #{cardAcq}    , #{cardIssue}  , #{confAmt}    , #{installMon} , #{orgConfDt}
                        , #{storeId}    , #{bizNo}      , #{bizNm}      , #{catId}      , 'Y'           , NOW()
                )                
	</insert>

        <insert id="scrapUploadDeliData" parameterType="com.web.manage.api.domain.ScrapDeliDataVO">
                INSERT INTO TB_SCRAP_DELI_DATA(
                        CHAIN_NO                , VAN_CD                , CARD_ACQ              , ORDER_NO              , ORDER_DTTM
                        , ORDER_TYPE            , CAMPAIGN_ID           , ORDER_NM              , PAY_TYPE              , DELI_TYPE             , ORDER_AMT             
                        , ST_INFO_A             , ST_INFO_B             , ST_INFO_C             , ST_INFO_D             , ST_INFO_E             , ST_INFO_F
                        , ST_DEPOSIT_AMT        , ST_DEPOSIT_DT         , STORE_NM              , ORDER_INFO            , USE_YN                , ENT_DTTM
                ) VALUES (
                        #{chainNo}             , #{vanCd}             , #{cardAcq}           , #{orderNo}           , #{orderDttm}
                        , #{orderType}         , #{campaignId}        , #{orderNm}           , #{payType}           , #{deliType}          , #{orderAmt}
                        , #{stInfoA}           , #{stInfoB}           , #{stInfoC}           , #{stInfoD}           , #{stInfoE}           , #{stInfoF}
                        , #{stDepositAmt}      , #{stDepositDt}       , #{storeNm}           , #{orderInfo}         , 'Y'                  , NOW()
                )
        </insert> 


        <insert id="scrapUploadBankData" parameterType="com.web.manage.api.domain.ScrapBankDataVO">
                INSERT INTO TB_SCRAP_BANK_DATA
                (
                        CHAIN_NO		, BANK_CD		, ACCOUNT_NO	        , TRADE_DTTM		, TRADE_GB	
                        , REMARK		, OUT_AMT		, IN_AMT		, REMAIN_AMT		, CENTER_NM
                        , ENT_DTTM
                ) VALUES (
                        #{chainNo}		, #{bankCd}		, #{accountNo}	        , #{tradeDttm}		, #{tradeGb}				 
                        , #{remark}		, #{outAmt}		, #{inAmt}		, #{remainAmt}		, #{centerNm}
                        , NOW()
                )
        </insert> 

        <insert id="scrapUploadCardSalesData" parameterType="com.web.manage.api.domain.ScrapCardSalesDataVO">
                INSERT INTO TB_SCRAP_CS_SALES_DATA
                (
                        BCID			, MID			, APP_NO		, CARD_COMPANY		, CARD_TYPE		, CARD_NO
                        , ISTM_MONTH	        , APP_AMOUNT	        , FEE_AMOUNT	        , PAY_AMOUNT		, DDATE			, DTIME
                        , DCHECK		, PDATE			, PAYDAY		, SCRAP_DTM		, SITE_ID
                        , USE_YN		, ENT_DTTM
                ) VALUES (
                        #{bcid}#		, #{mid}#		, #{appNo}#		, #{cardCompany}#	, #{cardType}#	        , #{cardNo}#
                        , #{istmMonth}#	, #{appAmount}#	, #{feeAmount}#	, #{payAmount}#		, #{ddate}#		, #{dtime}#
                        , #{dcheck}#		, #{pdate}#		, #{payday}#		, #{scrapDtm}#		, #{siteId}#
                        , 'Y'			, NOW()							
                )	
                 
        </insert> 

        <insert id="scrapUploadKsolutionData" parameterType="com.web.manage.api.domain.ScrapKsolutionVO">
                INSERT INTO TB_SCRAP_KSOLUTION_DATA
                (
                        CHAIN_NO	, CHAIN_NM	, BIZ_NO	, DEPO_DT	, DEPO_TM	
                        , CARD_CORP_NM	, DEPO_AMT	, ENT_DTTM
                ) VALUES (
                        #{chainNo}	, #{chainNm}	, #{bizNo}	, #{depoDt}	, #{depoTm}
                        , #{cardCorpNm}	, #{depoAmt}	, NOW()
                )
        </insert>


        <update id="callProcTransVanDocu" parameterType="com.web.manage.api.domain.ScrapProcTransVO" statementType="CALLABLE">
		{ 
                        CALL PRC_SCRAP_TRANS_VAN_DOCU(
                                        #{chainNo, mode=IN, jdbcType=VARCHAR}
                                        , #{userId, mode=IN, jdbcType=VARCHAR}
                                        , #{resultCode, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Integer}
                                        , #{resultMsg, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
                        ) 
		}
	</update>

        <update id="callProcTransDeliDocu" parameterType="com.web.manage.api.domain.ScrapProcTransVO" statementType="CALLABLE">
		{ 
            CALL PRC_SCRAP_TRANS_DELI_DOCU(
                #{chainNo, mode=IN, jdbcType=VARCHAR}
                , #{userId, mode=IN, jdbcType=VARCHAR}
                , #{resultCode, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Integer}
                , #{resultMsg, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
            ) 
		}
	</update>

        <update id="callProcTransBankDeposit" parameterType="com.web.manage.api.domain.ScrapProcTransVO" statementType="CALLABLE">
		{ 
            CALL PRC_SCRAP_TRANS_BANK_DEPOSIT(
                #{chainNo, mode=IN, jdbcType=VARCHAR}
                , #{userId, mode=IN, jdbcType=VARCHAR}
                , #{resultCode, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Integer}
                , #{resultMsg, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
            ) 
		}
	</update>

        <update id="callProcTransKsolution" parameterType="com.web.manage.api.domain.ScrapProcTransVO" statementType="CALLABLE">
		{ 
            CALL PRC_SCRAP_TRANS_KSOLUTION_DATA(
                #{userId, mode=IN, jdbcType=VARCHAR}
                , #{resultCode, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Integer}
                , #{resultMsg, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
            ) 
		}
	</update>

        	
</mapper>