<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.manage.user.mapper.UserMngMapper">
    <select id="getQueryTotalCnt" resultType="int">
        SELECT FOUND_ROWS()
    </select>
    <select id="userMngListRetrieve" parameterType="hashMap" resultType="hashMap">
        SELECT SQL_CALC_FOUND_ROWS 
                TU.USER_ID          AS user_id
                , TU.USER_NM        AS user_nm
                , TU.CORP_CD        AS corp_cd
                , TC.CORP_NM        AS corp_nm
                , TU.CORP_TYPE	 	AS corp_type
                , GET_CODE_NM('CORP_TYPE', TU.CORP_TYPE ) AS corp_type_nm                
                , TU.user_pwd       AS user_pwd
                , TU.user_gb        AS user_gb
                , TU.auth_grp_cd    AS auth_grp_cd       
                , GET_CODE_NM('AUTH_GRP_CD', TU.auth_grp_cd ) AS auth_grp_nm
                , IFNULL(TU.hp_no, '-') AS hp_no
                , TU.tel_no         AS tel_no
                , IFNULL(TU.email, '-') AS email
                , TU.zip_no
                , TU.addr
                , TU.addr_dtl
                , TU.use_yn
                , DATE_FORMAT(IFNULL(TU.upt_dttm, TU.ent_dttm), '%Y-%m-%m %H:%i:%s') 	AS upt_dttm
                , IFNULL(TU.upt_user_id, TU.ent_user_id)								AS upt_user_id
          FROM  TB_USER TU
                JOIN TB_CORP TC ON TC.CORP_CD = TU.CORP_CD 
                        AND TC.USE_YN = 'Y'
         WHERE  1 = 1
        <if test ="userAuthGrpCd != 'AG0001' and userAuthGrpCd != 'AG0002' ">            
           AND  TU.USE_YN = 'Y'
        </if>
        <if test="userAuthGrpCd != null and userAuthGrpCd != 'AG0001'">
           AND TU.AUTH_GRP_CD != 'AG0001'       /* 시스템 관리자 제외 */ 
        </if> 
        <if test="schgb_user_val != ''">
			<choose>
				<when test="schgb_user == 'schgb_user_id'">
					AND TU.USER_ID = #{schgb_user_val}
				</when>
				<when test="schgb_user == 'schgb_user_nm'">
					AND TU.USER_NM LIKE CONCAT('%', #{schgb_user_val}, '%')
				</when>
			</choose>
		</if>
		<if test="sch_corp_type != ''">			
			AND TU.CORP_TYPE = #{sch_corp_type}
		</if>
		 
        <choose>
			<when test="sidx != '' and sidx != null ">
				ORDER BY ${sidx} ${sord}
			</when>
			<otherwise>
				ORDER BY TU.ENT_DTTM DESC
			</otherwise>
		</choose>
    </select>
    <select id="getCorpList" resultType="hashMap">
        SELECT  CORP_CD     as code
                , CORP_NM   as codeNm
          FROM  TB_CORP
         WHERE  1= 1
         <if test="corp_type != ''">
            AND   CORP_TYPE = #{corp_type}
        </if>          
          AND   USE_YN  = 'Y'
    </select>

    <select id="getUserIdDupChk" parameterType="java.util.HashMap" resultType="int">
	SELECT  COUNT(1)
          FROM  TB_USER
         WHERE  USER_ID = #{user_id}
	</select>    

    <insert id="userCreate" parameterType="com.web.manage.user.domain.UserVO">
        INSERT INTO TB_USER
        (
              user_id           , corp_cd           , corp_type         , user_nm           , user_pwd
            , user_gb           , auth_grp_cd       , hp_no             , tel_no            , email             
            , zip_no            , addr              , addr_dtl          , use_yn            
            , ent_dttm          , ent_user_id 
        )
        VALUES
        (
            #{user_id}          , #{corp_cd}        , #{corp_type}      , #{user_nm}       , SHA2(#{user_pwd}, 256)            
            , '01'              , #{auth_grp_cd}    , #{hp_no}          , #{tel_no}        , #{email}            
            , #{zip_no}         , #{addr}           , #{addr_dtl}       , #{use_yn}
            , NOW()             , #{ent_user_id} 
        )
    </insert>
    <update id="userUpdate" parameterType="com.web.manage.user.domain.UserVO">
        UPDATE tb_user
           SET
              upt_dttm      = NOW()
            , upt_user_id   = #{upt_user_id} 
        <if test="corp_cd != null and corp_cd != ''">       
            , corp_cd = #{corp_cd}            
        </if>
        <if test="corp_type != null and corp_type != ''">       
            , corp_type = #{corp_type}          
        </if>
        <if test="user_pwd != null and user_pwd != ''">      
            , user_pwd = SHA2(#{user_pwd}, 256)
        </if>
        <if test="user_nm != null and user_nm != ''">       
            , user_nm = #{user_nm}            
        </if>
        <if test="auth_grp_cd != null and auth_grp_cd != ''">   
            , auth_grp_cd = #{auth_grp_cd}        
        </if>
        <if test="email != null and email != ''">         
            , email = #{email}              
        </if>
        <if test="zip_no != null and zip_no != ''">        
            , zip_no = #{zip_no}             
        </if>
        <if test="addr != null and addr != ''">          
            , addr = #{addr}               
        </if>
        <if test="addr_dtl != null and addr_dtl != ''">      
            , addr_dtl = #{addr_dtl}           
        </if>
        <if test="hp_no != null and hp_no != ''">        
            , hp_no = #{hp_no}             
        </if>
        <if test="tel_no != null and tel_no != ''">        
            , tel_no = #{tel_no}             
        </if>
        <if test="use_yn != null and use_yn != ''">        
            , use_yn = #{use_yn}             
        </if>
        WHERE user_id = #{user_id}
    </update>
</mapper>