<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>전문 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />    
    <!-- DataTables Select CSS 추가 -->
    <link rel="stylesheet" href="/css/custom-salesm.css" />

    <script th:inline="none">      
      $(document).ready(function () {           
        $('#frm_sch').onLoadFunction();      
        callAjax('/common/getAgencyList', "", fn_agency_list_setting);
        function fn_agency_list_setting(data) {
          codeSetting('AGENCY_CD', data.data, '#sch_agency_cd', '대리점', '', ''); 
        }

        // callAjax('/common/totalCodelist', "code_grp_cd=('CARD_ACQ')", fn_cardAcq_setting);      
        // function fn_cardAcq_setting(data) {
        //   codeSetting('CARD_ACQ', data.data, '#sch_card_acq', '매입사', '', '');
        // } 

        callAjax('/common/getPreWorkDay', "", fn_sch_sdate_setting);
        function fn_sch_sdate_setting(data) {          
          $('#sch_conf_sdt').val(data.data)
          // $('#sch_conf_sdt').val(data.data).datepicker('update');
        }
        
        callAjax('/common/getToDay', "", fn_sch_edate_setting);
        function fn_sch_edate_setting(data) {
          $('#sch_conf_edt').val(data.data);
          // $('#sch_conf_edt').val(data.data).datepicker('update');
        }

        $('#btn_search').click(function () {   
          tbl_chain_summ.ajax.reload();
          clearDataTable();
        }); 

        function clearDataTable() {
          // 검색조건을 일부러 무효하게 세팅해서 빈 결과 유도
          $('#sch_sub_chain_no').val('###'); // 서버에 없는 값
          // 서버에서 빈 데이터 받게 하고 그리기
          tbl_chain_docu_summ.ajax.reload(null, false);
          tbl_docu_list.ajax.reload(null, false);
        }


        $('#schlist_conf_val').keypress(function (e) {
          if (e.which === 13) { // Enter key pressed
            var value = $(this).val();
            if (value) { // Check if value exists
              tbl_docu_list.ajax.reload();
            }
          }
        }); 

        $('#btn_list_search').click(function () {   
          tbl_docu_list.ajax.reload();
        });

        var tbl_chain_summ = $('#tbl_chain_summ').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/trans/trans/vanDocuMng/list',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              formData = $('#frm_sch').serializeObject();
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
            dataSrc: function (json) {
                // totalSummary 저장
                totalSumm = json.totalSumm || {};
                return json.data;
            },
            // 서버 에러 처리 등 추가 가능
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("DataTables Ajax Error: ", textStatus, errorThrown);
                // 사용자에게 에러 메시지 표시 등
            }
          },
            columns: [
                { 
                  data: 'chain_no',
                  render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                  }
                }
                , { data: 'chain_nm' }                
                , { data: 'conf_dt' }
                , { data: 'conf_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'conf_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') }
                , { data: 'cncl_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') }                
                , { data: 'cncl_amt', render: $.fn.dataTable.render.number(',', '.', 0, '')}  
                , { data: 'tot_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') }                
                , { data: 'tot_amt', render: $.fn.dataTable.render.number(',', '.', 0, '')}  
                , { 
                  data: 'error_cnt', 
                  render: function(data, type, row) {
                    if (data > 0) {
                      return '<span style="color: red; font-weight: bold;">' + $.fn.dataTable.render.number(',', '.', 0, '').display(data) + '</span>';
                    }
                    return $.fn.dataTable.render.number(',', '.', 0, '').display(data);
                  } 
                } 
              ],
            columnDefs: [           
                  { targets: 0, width: '60px', className: 'text-left px-1' }
                , { targets: 1, width: '150px', className: 'text-left px-1' }
                , { targets: 2, width: '90px', className: 'text-left px-1' }                  
                , { targets: 3, width: '80px', className: 'text-right px-1' }
                , { targets: 4, width: '130px', className: 'text-right px-1' }
                , { targets: 5, width: '80px', className: 'text-right px-1' }
                , { targets: 6, width: '130px', className: 'text-right px-1' }
                , { targets: 7, width: '80px', className: 'text-right px-1' }
                , { targets: 8, width: '130px', className: 'text-right px-1' }
                , { targets: 9, width: '80px', className: 'text-right px-1' }
              ],
          order: [[0, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          // responsive: true,
          // scrollCollapse: true,
          pageLength: 20,
          scrollY: '380px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          }, 
          footerCallback: function (row, data, start, end, display) {
              var api = this.api();
              const renderNumber = $.fn.dataTable.render.number(',', '.', 0, '').display;
              const colMap = {
                  3: 'conf_cnt',
                  4: 'conf_amt',
                  5: 'cncl_cnt',
                  6: 'cncl_amt',
                  7: 'tot_cnt',
                  8: 'tot_amt',
              };

              Object.entries(colMap).forEach(([colIdx, key]) => {
                  const footer = api.column(Number(colIdx)).footer();
                  if (footer) {
                      const val = totalSumm[key] || 0;
                      $(footer).html(renderNumber(val));
                  }
              });

              // 기타 푸터 설정
              $(api.column(0).footer()).html('');
              $(api.column(1).footer()).html('합계:');
              $(api.column(2).footer()).html('');
          },         
        });  
 
        $('#tbl_chain_summ').on('click', 'tr', function (e) {
          if ($(this).hasClass('selected')) {
              $(this).removeClass('selected');
          } else {
              tbl_chain_summ.$('tr.selected').removeClass('selected');
              $(this).addClass('selected');
          }
          
          var row = tbl_chain_summ.row(this).data();
          $('#frm_chain_day_summ').clearForm();           
          $('#sch_sub_chain_no').val(row.chain_no);
          $('#sch_sub_chain_nm').val(row.chain_nm);
          $('#sch_sub_conf_dt').val(row.conf_dt);    

          $('#schlist_chain_no').val(row.chain_no);
          $('#schlist_chain_nm').val(row.chain_nm);
          $('#schlist_conf_dt').val(row.conf_dt);      
          $('#schlist_card_acq').val('');
          $('#schlist_conf').val('');
          $('#schlist_conf_val').val('');

          // 수정된 부분: 클릭된 셀 정보 가져오기
          var clickedCell = $(e.target).closest('td');
          var clickedColumnIndex = clickedCell.index();
          if (clickedColumnIndex == 9 && row.error_cnt > 0) {
              // Show modal_scrap
              $('#modal_scrap').modal('show');   
              $('#sch_unproc_chain_no').val(row.chain_no);
              $('#sch_unproc_conf_dt').val(row.conf_dt);
              $('#tbl_unproc_summ').DataTable().ajax.reload();
          } else {
            if ($('#sch_sub_chain_no').val() && $('#sch_sub_conf_dt').val()) {
                tbl_chain_docu_summ.ajax.reload();
                tbl_docu_list.ajax.reload();
              }
          }
        });
        
        var tbl_chain_docu_summ = $('#tbl_chain_docu_summ').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/trans/trans/vanDocuMng/getChainDocuSumm',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              // formData = $('#frm_chain_day_summ').serializeObject();
              formData ={
                sch_sub_chain_no  : $('#sch_sub_chain_no').val(),
                sch_sub_chain_nm  : $('#sch_sub_chain_nm').val(),
                sch_sub_conf_dt   : $('#sch_sub_conf_dt').val(),                
                sch_agency_cd     : $('#sch_agency_cd').val(),
                // sch_card_acq      : $('#sch_card_acq').val(),
                schgb_conf        : $('#schgb_conf').val(),
                schgb_conf_val    : $('#schgb_conf_val').val(),
                schgb_chain       : $('#schgb_chain').val(),
                schgb_chain_val   : $('#schgb_chain_val').val(),                  
              };
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          },
          columns: [
            { data: 'card_acq_nm' },
            { data: 'conf_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'conf_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'cncl_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'cncl_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'tot_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
          ],
          columnDefs: [
            { targets: 0, width: '120px', className: 'text-left' },
            { targets: 1, width: '90px', className: 'text-end' },
            { targets: 2, width: '130px', className: 'text-end' },
            { targets: 3, width: '90px', className: 'text-end' },
            { targets: 4, width: '130px', className: 'text-end' },
            { targets: 5, width: '130px', className: 'text-end' },
          ],
          order: [[0, 'asc']],
          paging: false,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          // responsive: true,
          // scrollCollapse: true,
          pageLength: 10,
          scrollY: '380px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });

        var tbl_docu_list = $('#tbl_docu_list').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/trans/trans/vanDocuMng/getChainVanDocuList',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              // formData = $('#frm_sch_list').serializeObject();
              formData = {
                sch_sub_chain_no  : $('#sch_sub_chain_no').val(),
                sch_sub_chain_nm  : $('#sch_sub_chain_nm').val(),
                sch_sub_conf_dt   : $('#sch_sub_conf_dt').val(),                
                sch_agency_cd     : $('#sch_agency_cd').val(),
                // sch_card_acq      : $('#sch_card_acq').val(),
                schgb_conf        : $('#schgb_conf').val(),
                schgb_conf_val    : $('#schgb_conf_val').val(),
                schgb_chain       : $('#schgb_chain').val(),
                schgb_chain_val   : $('#schgb_chain_val').val(), 
                schlist_card_acq  : $('#schlist_card_acq').val() 
              };
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          }, 
          columns: [
            { data: 'docu_seq' },
            { data: 'van_cd_nm' },
            { data: 'card_iss_nm' },
            { data: 'card_acq_nm' },
            { data: 'card_no' },
            { data: 'card_type_nm' },
            { data: 'conf_gb_nm' },
            { data: 'conf_no' },
            { data: 'conf_dttm' },
            { data: 'conf_amt', render: $.fn.dataTable.render.number(',', '.', 0, '') },
            { data: 'cncl_yn' },
            { data: 'org_conf_dt' },
            { data: 'proc_fg_nm' },
            { data: 'wd_status_nm' },
          ],
          columnDefs: [
            { targets: 0, width: '110px', className: 'text-left' },
            { targets: 1, width: '90px', className: 'text-center' },
            { targets: 2, width: '90px', className: 'text-center' },
            { targets: 3, width: '90px', className: 'text-center' },
            { targets: 4, width: '150px', className: 'text-center' },
            { targets: 5, width: '90px', className: 'text-center' },
            { targets: 6, width: '90px', className: 'text-center' },
            { targets: 7, width: '100px', className: 'text-center' },
            { targets: 8, width: '130px', className: 'text-center' },
            { targets: 9, width: '120px', className: 'text-end' },
            { targets: 10, width: '90px', className: 'text-center' },
            { targets: 11, width: '100px', className: 'text-center' },
            { targets: 12, width: '130px', className: 'text-center' },
            { targets: 13, width: '120px', className: 'text-center' },
          ],
          order: [[0, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          responsive: true,
          scrollCollapse: true,
          pageLength: 20,
          scrollY: '580px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });
        
        $('#tbl_chain_docu_summ').on('click', 'tr', function () {            
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          } else {
            $(this).addClass('selected');
          }

          var row = tbl_chain_docu_summ.row(this).data();
          var currentValue = $('#schlist_card_acq').val();
          var newValue = row.card_acq;
          if (currentValue.includes(newValue)) {
            // Remove the value if it already exists
            var updatedValue = currentValue.split(',').filter(function (value) {
              return value !== newValue;
            }).join(',');
            $('#schlist_card_acq').val(updatedValue);
          } else {
            // Add the value if it doesn't exist
            if (currentValue) {
              $('#schlist_card_acq').val(currentValue + ',' + newValue);
            } else {
              $('#schlist_card_acq').val(newValue);
            }
          } 
          tbl_docu_list.ajax.reload();
          // if ($('#schlist_chain_no').val() && $('#schlist_conf_dt').val()) {
          //   tbl_docu_list.ajax.reload();
          // } 
        });   

        // Excel download button click event
        $('#btn_list_excel').click(function () {
          // var formData = $('#frm_sch_list').serializeObject();
          formData = {
              sch_sub_chain_no  : $('#sch_sub_chain_no').val(),
              sch_sub_chain_nm  : $('#sch_sub_chain_nm').val(),
              sch_sub_conf_dt   : $('#sch_sub_conf_dt').val(),                
              sch_agency_cd     : $('#sch_agency_cd').val(),
              // sch_card_acq      : $('#sch_card_acq').val(),
              schgb_conf        : $('#schgb_conf').val(),
              schgb_conf_val    : $('#schgb_conf_val').val(),
              schgb_chain       : $('#schgb_chain').val(),
              schgb_chain_val   : $('#schgb_chain_val').val(), 
              schlist_card_acq  : $('#schlist_card_acq').val() 
          };
          $.ajax({
            url: '/trans/trans/vanDocuMng/downloadDocuListExcel',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            xhrFields: {
              responseType: 'blob'
            },
            success: function (data, status, xhr) {
              var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = 'DocuList.xlsx';
              link.click();
            },
            error: function (xhr, status, error) {
              alert('Excel download failed.');
            }
          });
        }); 
        
        // 모달 창 표시될때 초기화 처리
        $('#modal_scrap').on('shown.bs.modal', function() {  
          // 모달 열릴 때 첫 번째 포커스 가능 요소로 이동          
          $(this).data('trigger-element', document.activeElement);
          if ($.fn.DataTable.isDataTable('#tbl_unproc_summ')) {
            $('#tbl_unproc_summ').DataTable().destroy();
          }          
          // 새로 초기화
          $('#tbl_unproc_summ').DataTable({ 
              processing: true,
              serverSide: true,
              select: true,
              responsive: true,
              ajax: {
                url: '/trans/trans/vanDocuMng/getUnprocessedSumm',
                contentType: 'application/json',
                dataType: 'JSON',
                type: 'POST',
                data: function (postData) {
                  formData = $('#frm_unproc').serializeObject();
                  Object.assign(postData, formData);
                  return JSON.stringify(postData);
                },
              },
              columns: [
                  { data: 'chain_no' },
                  { data: 'chain_nm' },
                  { data: 'proc_result' },
                  { data: 'un_proc_cnt', render: $.fn.dataTable.render.number(',', '.', 0, '') },  
              ],
              columnDefs: [
                  { targets: 0, width: '100px', className: 'text-left' },
                  { targets: 1, width: '120px', className: 'text-left' },
                  { targets: 2, width: '500px', className: 'text-left' },
                  { targets: 3, width: '100px', className: 'text-end' },
              ],
              order: [[1, 'desc']],
              paging: true,
              lengthChange: false,
              searching: false,
              ordering: true,
              autoWidth: false,
              responsive: true,
              scrollCollapse: true,
              pageLength: 20,
              scrollY: '580px',
              info: false,
              language: {
                emptyTable: '데이터가 없습니다.',
                search: '검색:',
                zeroRecords: '일치하는 데이터가 없습니다.',
                loadingRecords: '로딩중...',
                processing: '처리중...',
              },
          });
          // 첫 번째 포커스 가능 요소로 이동
          $(this).find('button:not([disabled]), input:not([disabled])').first().focus();
           
        });
        
        // 모달이 닫힐 때 포커스 복원
        $('#modal_scrap').on('hidden.bs.modal', function() {
          var triggerElement = $(this).data('trigger-element');
          if (triggerElement) {
            $(triggerElement).focus();
          }
          
          tbl_chain_summ.ajax.reload();
          tbl_chain_docu_summ.ajax.reload();
          tbl_docu_list.ajax.reload();
          return true; // 모달 닫기 허용
        });

        $('#btn_process').click(function () {
          // $('#crud').val('update');
          // var form = $('#frm_unproc');
          
          var checked = true;
          var chain_no = $('#sch_unproc_chain_no').val();
          if(chain_no == '') {
            swal('실패', "가맹점을 먼저 선택해주세요.", 'error');
            checked = false;
            return;
          } 
          var form = {
            chainNo : $('#sch_unproc_chain_no').val(),
            workDate : $('#sch_unproc_conf_dt').val(),
          }
          if (checked) {
            ConfirmdialogToAjax('execute', '/trans/trans/vanDocuMng/callScrapTransVanDocu', form, fn_return_unproc_result);
          }
        });  

        function fn_return_unproc_result(data) {
          if (data.resultCode == 'S000') {
            swal('성공', '처리되었습니다.', 'success');
            $('#tbl_unproc_summ').DataTable().ajax.reload();
          } else {
            swal('실패', data.resultMsg, 'error');
          }
        }
      });
    </script>
  </head>
  <div class="content">    
    <div class="row g-1 mb-1">
      <div class="card">
        <div class="card-header">          
          <div class="row flex-between-end">
            <div class="col-lg-2 align-self-center">
              <h4 class="mb-0">승인전문 조회</h4>
            </div>            
            <div class="col-lg-10">
              <form id="frm_sch" name="frm_sch" onsubmit="return false;" novalidate=""> 
                <div class="row mb-1">  
                  <div class="col-sm-4">
                    <div class="input-group">
                      <div class="input-group input-group-sm mb-1 me-1">
                        <label class="col-sm-2 col-form-label col-form-label-sm" for="ceo_birth_dt">승인일</label>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm " id="sch_conf_sdt" type="text" name="sch_conf_sdt" istyle="date" maxlength="10" required />
                        </div>   
                        <span class="input-group-text">~</span>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm" id="sch_conf_edt" type="text" name="sch_conf_edt" istyle="date" maxlength="10" required />
                        </div>   
                      </div> 
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="input-group input-group-sm mb-1">
                      <select class="form-select form-control-sm me-1" id="sch_agency_cd" name="sch_agency_cd" style="width: 75px">
                        <option value="">대리점</option>
                      </select>
                      <!-- <select class="form-select form-control-sm me-1" id="sch_card_acq" name="sch_card_acq" style="width: 75px">
                        <option value="">카드사</option>
                      </select> -->
                      <select class="form-select form-control-sm me-1" id="schgb_conf" name="schgb_conf" style="width: 75px">
                        <option value="schgb_conf_no">승인 번호</option>
                        <option value="schgb_card_no">카드 번호</option>
                        <option value="schgb_conf_amt">승인 금액</option>
                      </select>
                      <input type="text" class="form-control form-control-sm me-1" id="schgb_conf_val" name="schgb_conf_val" style="width:150px" />
                      <select class="form-select form-control-sm me-1" id="schgb_chain" name="schgb_chain" style="width: 100px">
                        <option value="schgb_chain_nm">가맹점 명</option>
                        <option value="schgb_biz_no">사업자 번호</option>
                      </select>
                      <input type="text" class="form-control form-control-sm me-1" id="schgb_chain_val" name="schgb_chain_val" style="width:150px" />
                      <button type="button" class="btn btn-primary btn-sm" id="btn_search" name="btn_search">조회</button>
                    </div>
                  </div> 
                </div> 
              </form>
            </div>
          </div>          
        </div>
      </div>
    </div>   
    <div class="row g-1 mb-1">
      <div class="col-lg-7">
        <div class="card" style="height: 520px;">
            <div class="card-body pt-0 px-0" style="padding-top: 0px">
              <div class="table-responsive scrollbar">
                <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_chain_summ">  
                  <thead>
                    <tr>
                      <th class="text-center">No</th>
                      <th class="text-center">가맹점 명</th>
                      <th class="text-center">승인 일자</th>
                      <th class="text-center">승인 건</th>
                      <th class="text-center">승인 금액</th>
                      <th class="text-center">취소 건</th>
                      <th class="text-center">취소 금액</th>                
                      <th class="text-center">매출 건</th>
                      <th class="text-center">매출 금액</th>
                      <th class="text-center">미처리</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th colspan="3" class="text-center">총계</th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                      <th class="text-right px-2"></th>
                    </tr>
                  </tfoot>
                  <tbody class="list"></tbody>
                </table>
              </div>
            </div>
        </div>      
      </div>
      <div class="col-lg-5">
        <div class="card" style="height: 520px;">      
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="class=col-lg-0 align-self-center">
              <form id="frm_chain_day_summ" name="frm_chain_day_summ" onsubmit="return false;" novalidate="">
                <input class="form-control form-control-sm" id="sch_sub_chain_no" type="hidden" name="sch_sub_chain_no" readonly="readonly" />
                <input class="form-control form-control-sm" id="sch_sub_chain_nm" type="hidden" name="sch_sub_chain_nm"/>
                <input class="form-control form-control-sm" id="sch_sub_conf_dt" type="hidden" name="sch_sub_conf_dt" readonly="readonly" />
              </form>  
            </div>  
            <div class="table-responsive scrollbar">              
              <table class="table table-striped table-sm fs-9 mb-0 table-hover" id="tbl_chain_docu_summ">
                <thead>
                  <tr>                    
                    <th class="text-center">카드(매입)사</th>
                    <th class="text-center">승인 건</th>
                    <th class="text-center">승인 금액</th>
                    <th class="text-center">취소 건</th>
                    <th class="text-center">취소 금액</th>   
                    <th class="text-center">정산대상액</th>   
                  </tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div> 
        </div>      
      </div>        
    </div>     
    <div class="row g-1 mb-1">
      <div class="card">
        <div class="card-header"> 
          <div class="row flex-between-end">              
            <div class="col-lg-7 align-self-center">
              <h4 class="mb-0">승인전문 상세 List</h4>
            </div>     
            <div class="col-lg-5">
              <form id="frm_sch_list" name="frm_sch_list" onsubmit="return false;" novalidate=""> 
                <!-- <input id="schlist_chain_no" type="hidden" name="schlist_chain_no" />
                <input id="schlist_chain_nm" type="hidden" name="schlist_chain_nm"/>
                <input id="schlist_conf_dt" type="hidden" name="schlist_conf_dt"/> -->
                <input id="schlist_card_acq" type="hidden" name="schlist_card_acq"/>
                <div class="row mb-1">
                  <div class="col-sm-10">
                    <!-- <div class="input-group input-group-sm mb-1">                      
                      <select class="form-select form-control-sm me-1" id="schlist_conf" name="schlist_conf" style="width: 75px">
                        <option value="">승인 정보</option>
                        <option value="schlist_conf_no">승인 번호</option>
                        <option value="schlist_card_no">카드 번호</option>
                        <option value="schlist_conf_amt">승인 금액</option>
                      </select>
                      <input type="text" class="form-control form-control-sm me-1" id="schlist_conf_val" name="schlist_conf_val" style="width:150px" />                        
                      <button type="button" class="btn btn-primary btn-sm" id="btn_list_search" name="btn_list_search">조회</button> 
                    </div> -->
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-primary btn-sm" id="btn_list_excel" name="btn_list_search">Excel</button>
                  </div>
                </div> 
              </form>
            </div>
          </div>          
        </div>
        <div class="card-body pt-0 px-0" style="padding-top: 0px">
          <div class="table-responsive scrollbar">
            <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_docu_list">  
              <thead>
                  <tr>
                    <th class="text-center">일련번호</th> 
                    <th class="text-center">VAN</th>
                    <th class="text-center">발급사</th>
                    <th class="text-center">매입사</th>                
                    <th class="text-center">카드번호</th>
                    <th class="text-center">카드유형</th>
                    <th class="text-center">구분</th>
                    <th class="text-center">승인번호</th>
                    <th class="text-center">승인일시</th>
                    <th class="text-center">승인금액</th>                    
                    <th class="text-center">취소</th>
                    <th class="text-center">원거래일</th>
                    <th class="text-center">사전정산</th>
                    <th class="text-center">정산상태</th>
                  </tr>  
              </thead>
              <tbody class="list"></tbody>
            </table>
          </div>
        </div>        
      </div>     
    </div>    
  </div>

  <div class="modal fade" id="modal_scrap" tabindex="-1" aria-labelledby="unprocessedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Changed modal-lg to modal-xl for larger size -->
      <div class="modal-content">
        <form class="needs-validation" novalidate="" id="frm_unproc" name="frm_unproc" onsubmit="return false;">           
          <input id="sch_unproc_chain_no" type="hidden" name="sch_unproc_chain_no"/>
          <input id="sch_unproc_conf_dt" type="hidden" name="sch_unproc_conf_dt"/>
          <div class="modal-header">
            <h5 class="modal-title">미처리 전문 처리</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0 selectable-table table-hover selectable" id="tbl_unproc_summ">  
                <thead>
                    <tr>
                      <th class="text-center">가맹점 코드</th> 
                      <th class="text-center">가맹점 명</th>
                      <th class="text-center">미처리 메세지 (조치 사항)</th>
                      <th class="text-center">미처리 건</th>   
                    </tr>   
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <h6 class="text-start text-primary">※미처리 메세지 내용에 대한 조치를 먼저한 후 적용 버튼을 클릭하세요.</h6> -->
            <button class="btn btn-primary" id="btn_process" type="submit" aria-label="처리">적용</button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" aria-label="모달 닫기">닫기</button>
          </div>          
        </form>
      </div>
    </div>
  </div>
</html>
