<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.manage.system.mapper.BoardMapper">

	<select id="getQueryTotalCnt" resultType="int">
		SELECT FOUND_ROWS()
	</select>
 
	<select id="getBoardList" parameterType="hashMap" resultType="hashMap">
		SELECT 	SQL_CALC_FOUND_ROWS
				tb.board_seq
				, tb.board_tp
				, GET_CODE_NM('BOARD_TP', BOARD_TP) as brd_tp_nm
				, tb.view_corp 
				, tb.title 
				, tb.conts 
				, tb.use_yn 
				, tb.popup_yn 
				, IFNULL(tb.view_cnt, 0) as view_cnt
				, DATE_FORMAT(tb.ent_dttm, '%Y-%m-%d') as ent_dttm
				, tb.ent_user_id as ent_user_id
				, DATE_FORMAT(tb.upt_dttm, '%Y-%m-%d') as upt_dttm
				, tb.upt_user_id as upt_user_id
				, (SELECT COUNT(1) FROM TB_BOARD_FILE WHERE BOARD_SEQ = tb.board_seq) as file_cnt
		FROM 	TB_BOARD tb
		WHERE 	1 = 1
		 
		<if test="sch_board_tp != '' and sch_board_tp != null">
			AND tb.board_tp = #{sch_board_tp}
		</if>
		
		<if test="sch_tp != ''">
			<if test="sch_tp == '01'">
				AND tb.title LIKE CONCAT('%',#{sch_tp_val},'%')
			</if>
			<if test="sch_tp == '02'">
				AND tb.conts LIKE CONCAT('%',#{sch_tp_val},'%')
			</if>
		</if>
		<choose>
			<when test="sidx != '' and sidx != null ">
				ORDER BY ${sidx} ${sord}
			</when>
			<otherwise>
				ORDER BY tb.ent_dttm DESC
			</otherwise>
		</choose>
		<!-- LIMIT ${start}, ${end} -->
	</select>
	
	<select id="getBoardFileList" resultType="java.util.HashMap">
	/* BoardMapper.getSelectBoardFileList */
		SELECT 	BOARD_SEQ 			AS board_seq
				, FILE_SEQ 			AS file_seq		
				, FILE_NM 			AS file_nm
				, ORIGIN_FILE_NM 	AS origin_file_nm				
				, FILE_PATH 		AS file_path
		FROM 	TB_BOARD_FILE
		WHERE 	1= 1
		<choose>
			<when test="board_seq != '' and board_seq != null ">
				AND BOARD_SEQ = #{board_seq}
			</when>
			<otherwise>
				AND BOARD_SEQ = 'x'
			</otherwise>
		</choose>		
		ORDER 	BY FILE_SEQ
	</select>
	
	<select id="createBoardSeq" resultType="java.lang.String">
	/* BoardMapper.createBoardSeq */
		SELECT GET_JOB_SEQ('TB_BOARD', 'BOARD_SEQ')
	</select>
	
	<select id="getChkFileSeq" parameterType="com.web.manage.system.domain.BoardVO" resultType="java.lang.Integer">
	/* BoardMapper.getChkFileSeq */
		SELECT 	IFNULL(COUNT(1), 0) + 1 AS FSEQ
		  FROM 	TB_BOARD_FILE 
		 WHERE 	BOARD_SEQ = #{board_seq}
	</select>
	
	<select id="generateFileSeq" resultType="java.lang.Integer">
	/* BoardMapper.generateFileSeq */
		SELECT GET_JOB_SEQ('TB_BOARD_FILE', 'FILE_SEQ')
	</select>
	
	<insert id="insertBoardFileInfo" parameterType="com.web.manage.system.domain.BoardVO">
	/* BoardMapper.insertBoardFileInfo */
		INSERT 	INTO TB_BOARD_FILE (
				BOARD_SEQ		, FILE_SEQ			, FILE_NM		, ORIGIN_FILE_NM		, FILE_PATH
		) VALUES (	
				#{board_seq}	, #{file_seq}		, #{file_nm}	, #{origin_file_nm}		, #{file_path}
		) 
	</insert>

	<insert id="boardCreate" parameterType="com.web.manage.system.domain.BoardVO">
		INSERT INTO tb_board
		(
			BOARD_SEQ		
			, board_tp
			<if test='view_corp != null and view_corp != ""'>
			, view_corp
			</if>
			, title
			, conts
			, use_yn
			, ent_dttm
			, ent_user_id
		)
		VALUES( 
			#{board_seq}	, #{board_tp}
			<if test='view_corp != null and view_corp != ""'>
			, #{view_corp}
			</if>
			, #{title}
			, #{conts}
			, #{use_yn}
			, NOW()
			, #{user_id}
		)
	</insert>

	<update id="boardUpdate" parameterType="com.web.manage.system.domain.BoardVO">
		UPDATE tb_board
		SET
			board_tp = #{board_tp}
			<if test='view_corp != null and view_corp != ""'>
			, view_corp = #{view_corp}
			</if>			
			, title = #{title}
			, conts = #{conts}
			, use_yn = #{use_yn}
			, upt_dttm = NOW()
			, upt_user_id = #{user_id}
		WHERE
			board_seq = #{board_seq}
	</update>
	
	<delete id="deleteBoardFile" parameterType="com.web.manage.system.domain.BoardFileVO">
		DELETE 
		  FROM TB_BOARD_FILE
		 WHERE BOARD_SEQ 	= #{board_seq}
		   AND FILE_SEQ  	= #{file_seq}
	</delete>

</mapper>