<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.manage.base.mapper.AgencyMapper">

	<select id="getQueryTotalCnt" resultType="int">
		SELECT FOUND_ROWS()
	</select>    

        <select id="getCeoIdDupChk" parameterType="java.util.HashMap" resultType="int">
	SELECT  COUNT(1)
          FROM  tb_user
         WHERE  user_id = #{user_id}
	</select>    

	<select id="getAgencyList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
                SELECT  agency_no, agency_name, biz_no, law_no, uptae, upjong, email
                        , cont_date, corp_zip_no, corp_addr, corp_addr_dtl
                        , ceo_id, ceo_regno, ceo_name, ceo_zip_no, ceo_addr, ceo_addr_dtl, corp_tel_no, ceo_tel_no
                        , assure_amt, insure_amt, ass_sdate, ass_edate, remark
                        , svc_stat, svc_fee_rate, crd_fee_rate, loan_fee_rate
                        , bank_cd
                        , account_no, depositor, yubo_limit, yubo_rate, tot_yubo_amt
                        , use_yn
                        , IFNULL((SELECT COUNT(1) FROM TB_CHAIN WHERE AGENCY_NO = TA.AGENCY_NO AND USE_YN = 'Y' AND SVC_STAT IN ('R', 'O')), 0) AS chain_cnt
                        , IFNULL(upt_user_id, ent_user_id)                                      as upt_user_id
                        , DATE_FORMAT(IFNULL(upt_dttm, ent_dttm), '%Y-%m-%d %H:%i:%s')          as upt_dttm
                FROM  TB_AGENCY ta
                WHERE  1 = 1 
                <if test="sch_agency_name != ''">
                <if test="sch_agency_name == 'sch_agency_name'">
                        AND agency_name LIKE CONCAT('%',#{sch_agency_name},'%')
                </if>
                </if> 
                <choose>
                        <when test="sidx != ''">
                                ORDER BY ${sidx} ${sord}
                        </when>
                        <otherwise>
                                ORDER BY agency_no DESC
                        </otherwise>
                </choose>
	</select> 

	<select id="createAgencyNo" resultType="java.lang.String">
	/* AgencyMapper.createAgencyNo */
		SELECT GET_JOB_SEQ('TB_AGENCY', 'AGENCY_NO')
	</select>

	<insert id="agencyCreate" parameterType="com.web.manage.base.domain.AgencyVO">
        INSERT INTO tb_agency (
                  agency_no             , agency_name           , biz_no                , law_no           , uptae             , upjong        , email
                , cont_date             , corp_zip_no           , corp_addr             , corp_addr_dtl     , ceo_id            , ceo_regno
                , ceo_name              , ceo_zip_no            , ceo_addr              , ceo_addr_dtl      , corp_tel_no       , ceo_tel_no
                , bank_cd               , account_no            , depositor             , remark            , svc_stat          , use_yn
                <!-- , assure_amt            , insure_amt        , ass_sdate         , ass_edate         
                , svc_fee_rate          , crd_fee_rate      , loan_fee_rate     
                , yubo_limit        , yubo_rate         , tot_yubo_amt -->
                , ent_user_id           , ent_dttm
        ) VALUES (
                #{agency_no}            , #{agency_name}        , #{biz_no}             , #{law_no}        , #{uptae}          , #{upjong}     , #{email}
                , #{cont_date}          , #{corp_zip_no}        , #{corp_addr}          , #{corp_addr_dtl}  , #{ceo_id}         , #{ceo_regno}
                , #{ceo_name}           , #{ceo_zip_no}         , #{ceo_addr}           , #{ceo_addr_dtl}   , #{corp_tel_no}    , #{ceo_tel_no}
                , #{bank_cd}            , #{account_no}         , #{depositor}          , #{remark}         , #{svc_stat}       , #{use_yn}  
                <!-- , #{assure_amt} , #{insure_amt}     , #{ass_sdate}      , #{ass_edate}      
                , #{svc_fee_rate}, #{crd_fee_rate}  , #{loan_fee_rate}  
                , #{yubo_limit}     , #{yubo_rate}      , #{tot_yubo_amt}    -->
                , #{ent_user_id}        , NOW()
        )   
	</insert>
	<update id="agencyUpdate" parameterType="com.web.manage.base.domain.AgencyVO">
        UPDATE  tb_agency
           SET  agency_name = #{agency_name},
                biz_no = #{biz_no},
                law_no = #{law_no},
                uptae = #{uptae},
                upjong = #{upjong},
                email = #{email},
                cont_date = #{cont_date},
                corp_zip_no = #{corp_zip_no},
                corp_addr = #{corp_addr},
                corp_addr_dtl = #{corp_addr_dtl},
                ceo_id = #{ceo_id},
                ceo_regno = #{ceo_regno},
                ceo_name = #{ceo_name},
                ceo_zip_no = #{ceo_zip_no},
                ceo_addr = #{ceo_addr},
                ceo_addr_dtl = #{ceo_addr_dtl},
                corp_tel_no = #{corp_tel_no},
                ceo_tel_no = #{ceo_tel_no},
                assure_amt = #{assure_amt},
                insure_amt = #{insure_amt},
                ass_sdate = #{ass_sdate},
                ass_edate = #{ass_edate},
                remark = #{remark},
                svc_stat = #{svc_stat},
                svc_fee_rate = #{svc_fee_rate},
                crd_fee_rate = #{crd_fee_rate},
                loan_fee_rate = #{loan_fee_rate},
                bank_cd = #{bank_cd},
                account_no = #{account_no},
                depositor = #{depositor},
                yubo_limit = #{yubo_limit},
                yubo_rate = #{yubo_rate},
                tot_yubo_amt = #{tot_yubo_amt},
                use_yn      = #{use_yn},
                upt_user_id = #{upt_user_id},
                upt_dttm = NOW()
         WHERE  agency_no = #{agency_no}
        </update> 
</mapper>