<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.manage.common.mapper.CommonMapper">
    <select id="getTotalCodelist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT code         AS "code"
             , code_nm      AS "codeNm"
             , code_grp_cd  AS "group_code"
             , chk_cd1      AS "chk_cd1"
             , chk_cd2      AS "chk_cd2"
          FROM TB_CODE
         WHERE CODE_GRP_CD IN ${code_grp_cd}
           AND USE_YN = 'Y'
           AND CODE !='CODE'
      ORDER BY CODE_GRP_CD, ORD_NO
	</select>
  <select id="getCreditCorpList" resultType="hashMap">
        SELECT  CORP_CD       as code
                , CORP_NM     as codeNm
                , 'CORP_CD'   AS "group_code"
          FROM  TB_CORP
         WHERE  1= 1
           AND  CORP_TYPE = 'LN'
           AND  USE_YN  = 'Y'
         ORDER  BY 2
  </select>

  <select id="getAgencyList" resultType="hashMap">
        SELECT  AGENCY_NO       as code
                , AGENCY_NM     as codeNm
                , 'AGENCY_NO'   AS "group_code"
          FROM  TB_AGENCY
         WHERE  1= 1
           AND  USE_YN  = 'Y'
         ORDER  BY 2
  </select>

  <select id="getUserIdDupChk" parameterType="java.util.HashMap" resultType="int">
    SELECT  COUNT(1)
            FROM  tb_user
          WHERE  user_id = #{user_id}
	</select>    

  <select id="getPreWorkDay" parameterType="java.util.HashMap" resultType="String">
    SELECT GET_PRE_WORKDAY(DATE_FORMAT(NOW(), '%Y-%m-%d')) AS pre_workday
	</select>

  <select id="getNextWorkDay" parameterType="java.util.HashMap" resultType="String">
    SELECT GET_NEXT_WORKDAY(DATE_FORMAT(NOW(), '%Y-%m-%d')) AS next_workday
	</select>

  <select id="getToDay" parameterType="java.util.HashMap" resultType="String">
    SELECT DATE_FORMAT(NOW(), '%Y-%m-%d') AS to_day
	</select>
</mapper>