<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.manage.common.mapper.CommonMapper">
  <select id="getQueryTotalCnt" resultType="int">
		SELECT FOUND_ROWS()
	</select>

  <select id="getTotalCodelist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT code         AS code
             , code_nm      AS codeNm
             , code_grp_cd  AS group_code
             , chk_cd1      AS chk_cd1
             , chk_cd2      AS chk_cd2
          FROM TB_CODE
         WHERE CODE_GRP_CD IN ${code_grp_cd}
           AND USE_YN = 'Y'
           AND CODE !='CODE'
      ORDER BY CODE_GRP_CD, ORD_NO
	</select>
  <select id="getCreditCorpList" resultType="hashMap">
        SELECT  CORP_CD       as code
                , CORP_NM     as codeNm
                , 'CORP_CD'   AS group_code
          FROM  TB_CORP
         WHERE  1= 1
           AND  CORP_TYPE = 'LN'
           AND  USE_YN  = 'Y'
         ORDER  BY 2
  </select>

  <select id="getChainList" resultType="hashMap">
        SELECT 	CHAIN_NO		  AS code 
                , CHAIN_NM		AS codeNm
                , 'CHAIN_NO'  AS group_code
          FROM 	TB_CHAIN
         WHERE 	USE_YN = 'Y'
           AND  SVC_STAT IN ('O', 'R')
         ORDER	BY CHAIN_NM
  </select>

  <select id="getLinkChainList" resultType="hashMap">
      SELECT 	SQL_CALC_FOUND_ROWS
              TC.CHAIN_NO		            AS chain_no
              , TC.CHAIN_NM             AS chain_nm
              , TU.USER_NM              AS ceo_nm  
              , TC.BIZ_NO               AS biz_no
              , TC.CHAIN_ADDR           AS chain_addr
              , TC.CHAIN_TEL_NO         AS chain_tel_no              
              , TU.TEL_NO               AS ceo_tel_no
        FROM	TB_CHAIN TC
              JOIN TB_USER TU ON TU.USER_ID = TC.CEO_ID 
       WHERE  TC.USE_YN = 'Y'
         AND 	TC.SVC_STAT IN ('O', 'R')  
         AND  TC.CHAIN_NO != #{sch_help_chain_no}
         AND 	NOT EXISTS (SELECT  1 
                            FROM  TB_CHAIN_LINK L
                           WHERE  L.CHAIN_NO  = #{sch_help_chain_no}
                             AND  L.LINK_CHAIN_NO = TC.CHAIN_NO
                          ) 
        <if test="sch_link_chain_nm != null and sch_link_chain_nm != ''">
          AND TC.CHAIN_NM LIKE CONCAT('%', #{sch_help_chain_nm}, '%')
        </if>
        <choose>
            <when test="sidx != ''">
                ORDER BY ${sidx} ${sord}
            </when>
            <otherwise>
                ORDER BY 1 DESC
            </otherwise>
        </choose>
        LIMIT ${start}, ${end}
  </select>

  <select id="getAgencyList" resultType="hashMap">
        SELECT  AGENCY_NO       as code
                , AGENCY_NM     as codeNm
                , 'AGENCY_NO'   AS group_code
          FROM  TB_AGENCY
         WHERE  1= 1
           AND  USE_YN  = 'Y'
         ORDER  BY 2
  </select>

  <select id="getUserIdDupChk" parameterType="java.util.HashMap" resultType="int">
    SELECT  COUNT(1)
            FROM  tb_user
          WHERE  user_id = #{user_id}
	</select>    

  <select id="getPreWorkDay" parameterType="java.util.HashMap" resultType="String">
    SELECT GET_PRE_WORKDAY(DATE_FORMAT(NOW(), '%Y-%m-%d')) AS pre_workday
	</select>

  <select id="getNextWorkDay" parameterType="java.util.HashMap" resultType="String">
    SELECT GET_NEXT_WORKDAY(DATE_FORMAT(NOW(), '%Y-%m-%d')) AS next_workday
	</select>

  <select id="getToDay" parameterType="java.util.HashMap" resultType="String">
    SELECT DATE_FORMAT(NOW(), '%Y-%m-%d') AS to_day
	</select>
</mapper>