<!DOCTYPE html>
<html lang="ko" dir="ltr" data-navigation-type="horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:replace="~{fragments/config :: config}">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>
  </head>
  <meta name="viewport" content="width=1600" />
  
  <body>
    <main class="main" id="top">
      <!--Header 영역을 참조합니다.-->
      <!--<header th:replace="~{fragments/header :: header}"></header>-->
      <!--Navigation 영역을 참조합니다.-->
      <nav th:replace="~{fragments/top_nav :: top_nav}"></nav>

      <!--Content 내용 영역을 참조합니다-->
      <th:block layout:fragment="Content"></th:block>
    </main>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/anchorjs/anchor.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script src="/vendors/feather-icons/feather.min.js"></script>
    <script src="/vendors/dayjs/dayjs.min.js"></script>
    <script src="/vendors/leaflet/leaflet.js"></script>
    <script src="/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
    <script src="/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
    <script src="/js/phoenix.js"></script>
    <script src="/vendors/echarts/echarts.min.js"></script>
    <script src="/js/ecommerce-dashboard.js"></script>
    <style>
       /* 메인 컨테이너 너비 고정 */
      .container, .container-fluid {
          min-width: 1600px !important; /* 원하는 시스템의 최소 너비 */
          width: 1600px !important;
          overflow-x: auto; /* 화면이 작아지면 가로 스크롤바 허용 */
      }

      /* Phoenix 템플릿 특유의 본문 영역 고정 */
      .content {
          min-width: 1600px !important;
      }
    </style>
  </body>
</html>
