<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>대리점 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- DataTables Select CSS 추가 -->
    <link rel="stylesheet" href="/css/custom-salesm.css" />

    <script th:inline="none">      
      function execDaumPostcode(target) {
        new daum.Postcode({
          oncomplete: function (data) {
            var roadAddr = data.roadAddress;
            if (target == 'corp') {
              document.getElementById('corp_addr').value = roadAddr;
              document.getElementById('corp_zip_no').value = data.zonecode;
            } else if (target == 'ceo') {
              document.getElementById('ceo_addr').value = roadAddr;
              document.getElementById('ceo_zip_no').value = data.zonecode;
            }
          },
        }).open();
      }
      $(document).ready(function () {           
        $('#frm_agency_info').onLoadFunction();     
        callAjax('/common/totalCodelist', "code_grp_cd=('BANK_CD')", fn_bank_setting);      
        function fn_bank_setting(data) {
          codeSetting('BANK_CD', data.data, '#bank_cd', '1', '', '');
        }  
        
        var tbl_agency = $('#tbl_agency').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/base/organ/agencyMng/list',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',            
            data: function (postData) {
              formData = $('#frm_sch').serializeObject();
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          },
            columns: [
                { data: 'agency_no' }
                , { data: 'agency_nm' }
                , { data: 'biz_no' }
                , { data: 'corp_tel_no' }
                , { data: 'ceo_nm' }
                , { data: 'ceo_tel_no' }
                , { data: 'cont_dt' }                
                , { data: 'chain_cnt' }           
                , { data: 'use_yn' }                
              ],
            columnDefs: [           
            { targets: 0, width: '150px', className: 'text-center' },
            { targets: 1, width: '300px', className: 'text-left' },
            { targets: 2, width: '200px', className: 'text-center' },
            { targets: 3, width: '200px', className: 'text-center' },
            { targets: 4, width: '200px', className: 'text-center' },
            { targets: 5, width: '200px', className: 'text-center' },
            { targets: 6, width: '150px', className: 'text-center' },
            { targets: 7, width: '150px', className: 'text-right' },
            { targets: 8, width: '100px', className: 'text-center' },
          ],  
          order: [[1, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          responsive: true,
          scrollCollapse: true,
          pageLength: 20,
          scrollY: '550px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });

        $('#btn_search').click(function () {
          tbl_agency.ajax.reload();
        });
        
        $('#tbl_agency').on('click', 'tr', function () {
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          } else {
            tbl_agency.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
          }
          var data = tbl_agency.row(this).data();
          if (data) {
            $('#frm_agency_info')[0].reset();
            $('#agency_no').val(data.agency_no);            
            $('#agency_nm').val(data.agency_nm);
            $('#biz_no').val(data.biz_no);
            $('#upjong').val(data.upjong);            
            $('#uptae').val(data.uptae);
            $('#corp_zip_no').val(data.corp_zip_no);
            $('#cont_dt').val(data.cont_dt);
            $('#corp_addr').val(data.corp_addr);
            $('#corp_addr_dtl').val(data.corp_addr_dtl);
            $('#corp_tel_no').val(data.corp_tel_no);
            $('#ceo_id').val(data.ceo_id);
            // $('#ceo_regno').val(data.ceo_regno);
            $('#ceo_nm').val(data.ceo_nm);
            $('#ceo_zip_no').val(data.ceo_zip_no);
            $('#ceo_addr').val(data.ceo_addr);
            $('#ceo_addr_dtl').val(data.ceo_addr_dtl);            
            $('#ceo_tel_no').val(data.ceo_tel_no);
            $('#email').val(data.email);
            $('#assure_amt').val(data.assure_amt);
            $('#insure_amt').val(data.insure_amt);
            $('#ass_sdate').val(data.ass_sdate);
            $('#ass_edate').val(data.ass_edate);
            $('#remark').val(data.remark);
            $('#svc_stat').val(data.svc_stat);
            $('#svc_fee_rate').val(data.svc_fee_rate);
            $('#crd_fee_rate').val(data.crd_fee_rate);
            $('#loan_fee_rate').val(data.loan_fee_rate);
            $('#bank_cd').val(data.bank_cd);
            $('#account_no').val(data.account_no);
            $('#depositor').val(data.depositor);
            $('#yubo_limit').val(data.yubo_limit);
            $('#yubo_rate').val(data.yubo_rate);
            $('#tot_yubo_amt').val(data.tot_yubo_amt);
            $("input:radio[name='use_yn'][value='" + data.use_yn + "']").prop('checked', true); 
            $('#upt_user_id').val(data.upt_user_id);
            $('#upt_dttm').val(data.upt_dttm);   

            $('#btn_update').show();
            $('#btn_create').hide();
            $('#btn_dupchk').hide();
            $('#ceo_pwd').removeAttr("required");
            // $('#ceo_pwd').attr("required", "required");
            
            $('#crud').val('update'); 
          }  
        });      

        $('#btn_clear').click(function () {
          $('#frm_agency_info').clearForm();
          $("input:radio[name='use_yn'][value='Y']").prop('checked', true);
          // $('#ceo_pwd').removeAttr("required");
          $('#ceo_pwd').attr("required", "required");
          $('#btn_update').hide();
          $('#btn_create').show();
          $('#btn_dupchk').show();
        }); 

        $('#btn_dupchk').click(function () {
          var ceo_id = $('#ceo_id').val();
          if (ceo_id == '') {
            swal('실패', '대표자 ID를 입력하세요.', 'error');
            return;
          } else {
            callAjax('/base/organ/agencyMng/ceoIdDupChk', 'ceo_id=' + ceo_id, fn_ceo_dupchk);
          }
        });
        function fn_ceo_dupchk(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;
          if (resultCode == 'S000') {
            swal('성공', '사용가능한 대표자 ID입니다.', 'success');
          } else {
            swal('실패', resultMsg, 'error');
          }
        } 

        $('#btn_create').click(function () {
          $('#crud').val('create');
          var form = $('#frm_agency_info');
          var checked = true;
          $.each(form, function (i, val) {
            if (!val.checkValidity()) {
              checked = false;
            }
          });
          if (checked) {
            ConfirmdialogToAjax('create', '/base/organ/agencyMng/InsertAgency', $('#frm_agency_info').serialize(), fn_return_result);
          } 
        });

        $('#btn_update').click(function () {
          $('#crud').val('update');
          var form = $('#frm_agency_info');
          var checked = true;
          $.each(form, function (i, val) {
            if (!val.checkValidity()) {
              checked = false;
            }
          });
          if (checked) {
            ConfirmdialogToAjax('update', '/base/organ/agencyMng/UpdateAgency', $('#frm_agency_info').serialize(), fn_return_result);
          }
        });    

        $('#btn_cont_update').click(function () {
          $('#crud').val('update');
          var agency_no = $('#agency_no').val();
          var form = $('#frm_agency_info');
          var checked = true;
          if(agency_no == '') {
            swal('실패', "대리점을 먼저 선택해주세요.", 'error');
            checked = false;
            return;
          }
          if (checked) {
            ConfirmdialogToAjax('update', '/base/organ/agencyMng/UpdateAgencyCont', $('#frm_agency_info').serialize(), fn_return_result);
          }
        }); 

        function fn_return_result(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;
          if (resultCode == 'S000') {
            swal('성공', '작업을 정상적으로 완료하였습니다.', 'success');
            $('#frm_agency_info')[0].reset();    
            tbl_agency.ajax.reload();        
            $("input:radio[name='use_yn'][value='Y']").prop('checked', true);
            // $('#ceo_pwd').removeAttr("required");
            $('#ceo_pwd').attr("required", "required");
            $('#btn_update').hide();
            $('#btn_create').show(); 
            
            // $('#tbl_agency').setGridParam({ url: '/base/organ/agencyMng/list', page: 1, datatype: 'json' }).trigger('reloadGrid');            
          } else {
            swal('실패', resultMsg, 'error');
          }
        }
      });
    </script>
  </head>
  <div class="content">
    
    <div class="row g-3 mb-2">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">대리점 목록</h5>
              </div>
              <div class="col-lg-8">
                <form id="frm_sch" name="frm_sch" onsubmit="return false;" novalidate="">
                  <div class="input-group input-group-sm px-3">
                    <select class="form-select form-control-sm" id="schgb_agency" name="schgb_agency" style="width: 75px">
                      <option value="">선택</option>
                      <option value="schgb_agency_no">대리점 번호호</option>
                      <option value="schgb_agency_nm">대리점 명</option>
                    </select>
                    <input type="text" class="form-control form-control-sm" id="schgb_agency_val" name="schgb_agency_val" style="width: 43%" />
                    <select class="form-select form-control-sm" id="sch_use_yn" name="sch_use_yn" style="width: 75px">
                      <option value="">사용여부</option>
                      <option value="Y">사용</option>
                      <option value="N">미사용</option>
                    </select>
                    <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" id="btn_search" name="btn_search">조회</button></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0 table-hover" id="tbl_agency">
                <thead>
                  <tr>
                    <th class="text-center">대리점 번호</th>
                    <th class="text-center">대리점 명</th>
                    <th class="text-center">사업자 번호</th>
                    <th class="text-center">회사 연락처</th>
                    <th class="text-center">대표자 명</th>
                    <th class="text-center">대표 연락처</th>
                    <th class="text-center">계약일자</th>
                    <th class="text-center">가맹점 수</th>
                    <th class="text-center">운영</th>                    
                  </tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <!-- <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">대리점 상세</h5>
              </div>
            </div>
          </div> -->
          <div class="card-body">
            <div class="min-vh-50">
              <form class="needs-validation" id="frm_agency_info" name="frm_agency_info" onsubmit="return false;" method="post" novalidate=""> 
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item"><a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#tab_agency_info" role="tab" aria-controls="tab-home" aria-selected="true">일반정보</a></li>
                  <li class="nav-item"><a class="nav-link" id="cont-tab" data-bs-toggle="tab" href="#tab_agency_cont" role="tab" aria-controls="tab-profile" aria-selected="false">계약정보</a></li>
                </ul>          
                <div class="tab-content border border-top-2 p-3" id="myTabContent">
                  <div class="tab-pane fade show active" id="tab_agency_info" role="tabpanel" aria-labelledby="tab_agency_info">
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="agency_no">대리점 명</label>                  
                      <div class="col-sm-4">
                        <input class="form-control form-control-sm" id="agency_no" type="text" name="agency_no" readonly="readonly"/>
                      </div>
                      <div class="col-sm-6">
                        <input class="form-control form-control-sm" id="agency_nm" type="text" name="agency_nm" required />
                      </div>
                    </div>                
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="biz_no">사업자 번호</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="biz_no" type="text" name="biz_no" placeholder="123-45-67890" maxlength="20" required />
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="upjung">업종 / 업태</label>
                      <div class="col-sm-5">
                        <input class="form-control form-control-sm" id="upjong" type="text" name="upjong" maxlength="30" required />                    
                      </div>
                      <div class="col-sm-5">
                        <input class="form-control form-control-sm" id="uptae" type="text" name="uptae" maxlength="30" required />
                      </div>                  
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="corp_tel_no">회사연락처</label>                  
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="corp_tel_no" type="text" name="corp_tel_no" placeholder="010-000-0000" istyle="phone" required /> 
                      </div>                  
                    </div>
                    <div class="input-group input-group-sm mb-2"> 
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="addr">회사 주소</label>                     
                      <div class="col-sm-10">
                        <div class="input-group input-group-sm">
                          <input type="hidden" class="form-control form-control-sm" id="corp_zip_no" name="corp_zip_no" required />
                          <input type="text" class="form-control form-control-sm" id="corp_addr" name="corp_addr" readonly="readonly" required />
                          <button type="button" class="btn btn-primary" onclick="execDaumPostcode('corp')">주소검색</button>
                        </div>                    
                        <!-- 상세 주소 입력 -->
                        <input type="text" class="form-control form-control-sm mt-2" id="corp_addr_dtl" name="corp_addr_dtl" placeholder="상세 주소" required />
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="ceo_id">대표자 ID</label>                     
                      <div class="col-sm-10">
                        <div class="input-group input-group-sm">
                          <input type="text" class="form-control form-control-sm" id="ceo_id" name="ceo_id" required maxlength="20" />
                          <button type="button" class="btn btn-primary" id="btn_dupchk">중복</button>
                        </div>
                      </div> 
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="ceo_pwd">PASSWORD</label>                  
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="ceo_pwd" type="password" name="ceo_pwd" maxlength="20" required /> 
                      </div>                  
                    </div>   
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="ceo_nm">대표자 명</label>                  
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="ceo_nm" type="text" name="ceo_nm" required maxlength="20"/> 
                      </div>                  
                    </div>      
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="ceo_tel_no">연락처</label>                  
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="ceo_tel_no" type="text" name="ceo_tel_no" placeholder="010-000-0000" istyle="phone" required /> 
                      </div>                  
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="email">eMail</label>                  
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="email" type="email" name="email" placeholder="example@email.com" istyle="email"/> 
                      </div>                  
                    </div> 
                    <div class="input-group input-group-sm mb-2"> 
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="ceo_addr">대표자 주소</label>                     
                      <div class="col-sm-10">
                        <div class="input-group input-group-sm">
                          <input type="hidden" class="form-control form-control-sm" id="ceo_zip_no" name="cep_zip_no"  />
                          <input type="text" class="form-control form-control-sm" id="ceo_addr" name="ceo_addr" readonly="readonly"  />
                          <button type="button" class="btn btn-primary" onclick="execDaumPostcode('ceo')">주소검색</button>
                        </div>
                        <input type="text" class="form-control form-control-sm mt-2" id="ceo_addr_dtl" name="ceo_addr_dtl" placeholder="상세 주소"  />
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="remark">Memo</label>
                      <div class="col-sm-10">
                        <textarea class="form-control"  id="remark" rows="3" name="remark"></textarea> 
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="use_yn">사용여부</label>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" id="use_yn_y" type="radio" name="use_yn" value="Y" required />
                          <label class="form-check-label" for="use_yn_y">예</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" id="use_yn_n" type="radio" name="use_yn" value="N" required />
                          <label class="form-check-label" for="use_yn_n">아니요</label>
                        </div>
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2"> 
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="addr">수정자 / 일</label>                     
                      <div class="col-sm-10">
                        <div class="input-group input-group-sm">
                          <input type="text" class="form-control form-control-sm" id="upt_user_id" name="upt_user_id" readonly="readonly" />
                          <input type="text" class="form-control form-control-sm" id="upt_dttm" name="upt_dttm" readonly="readonly" /> 
                        </div>                    
                      </div>
                    </div>   
                    <div class="card-footer">  
                      <p class="text-end pb-1 mb-1 pd-1">
                        <button class="btn btn-info text-end" id="btn_clear"><i class="fa fa-check"></i>신규</button>
                        <button class="btn btn-primary text-end" id="btn_update" style="display: none"><i class="fa fa-paste"></i>저장</button>
                        <button class="btn btn-primary text-end" id="btn_create"><i class="fa fa-paste"></i>저장</button>
                      </p>
                    </div>
                  </div>                 
                  <div class="tab-pane fade" id="tab_agency_cont" role="tabpanel" aria-labelledby="tab_agency_cont">
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="cont_dt">계약일</label>
                      <div class="col-sm-10">
                        <input class="form-control datetimepicker flatpickr-input" id="cont_dt" name = "cont_dt" type="text" placeholder="yyyy-mm-dd" data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;Y-m-d&quot;}" readonly="readonly">
                      </div></div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="svc_fee_rate">서비스 수수료</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="svc_fee_rate" type="text" name="svc_fee_rate" placeholder="00.00" istyle="float" />
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="crd_fee_rate">여신 수수료</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="crd_fee_rate" type="text" name="crd_fee_rate" placeholder="00.00" istyle="float"  />
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="loan_fee_rate">대출 수수료</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="loan_fee_rate" type="text" name="loan_fee_rate" placeholder="00.00" istyle="float" />
                      </div>
                    </div>  
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="bank_cd">입금 은행</label>
                      <div class="col-sm-10">
                        <select class="form-select form-select-sm" id="bank_cd" placeholder="" name="bank_cd" />
                          <option value="">선택</option>
                        </select>                        
                      </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="account_no">계좌 번호</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="account_no" type="text" name="account_no" istyle="number"  />
                      </div>
                    </div>  
                    <div class="input-group input-group-sm mb-2">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="depositor">예금주</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="depositor" type="text" name="depositor"  />                    
                      </div>                                   
                    </div>
                    <div class="card-footer">  
                      <p class="text-end pb-1 mb-1 pd-1">
                        <button class="btn btn-primary text-end" id="btn_cont_update"><i class="fa fa-paste"></i>저장</button>
                      </p>
                    </div>       
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>      
    </div>    
  </div>
  
</html>
