<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>가맹점점 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />
    <script th:inline="none">
      $(document).ready(function () {
        callAjax('/common/totalCodelist', "code_grp_cd=('CHAIN_TYPE')", fn_chain_setting);
        function fn_chain_setting(data) {
          codeSetting('CHAIN_TYPE', data.data, '#chain_type', '1', '', '');
        }

        callAjax('/common/totalCodelist', "code_grp_cd=('BANK_CD')", fn_bank_setting);
        function fn_bank_setting(data) {
          codeSetting('BANK_CD', data.data, '#bank_cd', '1', '', '');
        }

        var tbl_chain = $('#tbl_chain').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/base/organ/chainMng/list',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (d) {
              return JSON.stringify(d);
            },
          },
          columns: [
            { data: 'chain_cd' },
            { data: 'chain_name' },
            { data: 'chain_type_nm' },
            { data: 'biz_no' },
            { data: 'bank_cd_nm' },
            { data: 'account_no' },
            { data: 'use_yn' },
            { data: 'upt_dttm' }
          ],
          order: [[1, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          responsive: true,
          scrollCollapse: true,
          pageLength: 20,
          scrollY: '550px',
          info: false,
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });

        $('#tbl_chain').on('click', 'tr', function () {
          var data = tbl_chain.row(this).data();
          if (data) {
            $('#frm_chain_info')[0].reset();
            $('#chain_cd').val(data.chain_cd);
            $('#chain_type').val(data.chain_type).attr('selected', 'selected');
            $('#chain_name').val(data.chain_name);
            $('#biz_no').val(data.biz_no);
            $('#bank_cd').val(data.bank_cd);
            $('#account_no').val(data.account_no);
            $('#account_pwd').val(data.account_pwd);
            $('#web_id').val(data.web_id);
            $('#web_pwd').val(data.web_pwd);
            $('#api_url').val(data.api_url);
            $('#memo').val(data.memo);
            $("input:radio[name='use_yn'][value='" + data.use_yn + "']").prop('checked', true);

            $('#btn_update').show();
            $('#btn_create').hide();
            $('#crud').val('update');
          }
        });

        $('#btn_clear').click(function () {
          $('#frm_chain_info').clearForm();
          $("input:radio[name='use_yn'][value='Y']").prop('checked', true);
          $('#btn_update').hide();
          $('#btn_create').show();
        });

        $('#btn_create').click(function () {
          $('#crud').val('create');
          var form = $('#frm_chain_info');
          var checked = true;
          $.each(form, function (i, val) {
            if (!val.checkValidity()) {
              checked = false;
            }
          });
          if (checked) {
            ConfirmdialogToAjax('create', '/base/organ/chainMng/chainCreate', $('#frm_chain_info').serialize(), fn_return_result);
          }
        });

        $('#btn_update').click(function () {
          $('#crud').val('update');
          var form = $('#frm_chain_info');
          var checked = true;
          $.each(form, function (i, val) {
            if (!val.checkValidity()) {
              checked = false;
            }
          });
          if (checked) {
            ConfirmdialogToAjax('update', '/base/organ/chainMng/chainUpdate', $('#frm_chain_info').serialize(), fn_return_result);
          }
        });

        function fn_return_result(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;
          if (resultCode == 'S000') {
            swal('성공', '작업을 정상적으로 완료하였습니다.', 'success');
            $('#frm_chain_info')[0].reset();
            tbl_chain.ajax.reload();
            $("input:radio[name='use_yn'][value='Y']").prop('checked', true);
            $('#btn_update').hide();
            $('#btn_create').show();
          } else {
            swal('실패', resultMsg, 'error');
          }
        }
      });
    </script>
  </head>
  <div class="content">
    <div class="card mb-2" style="height: 85px">
      <div class="bg-holder d-none d-lg-block bg-card"></div> 
      <div class="card-body position-relative">
        <div class="row">
          <div class="col-lg-8">
            <h4>Chain 관리</h4>
            <nav style="--falcon-breadcrumb-divider: '»'" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/main">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">기초 정보</li>
                <li class="breadcrumb-item active" aria-current="page">조직 관리</li>
                <li class="breadcrumb-item active nav-item dropdown dropdown-hover" aria-current="page">
                  <a class="nav-link dropdown-toggle link-primary d-block" href="#" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">Chain 관리</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item link-600 fw-medium" href="#">가맹점점 정보관리</a></li>
                    <li><a class="dropdown-item link-600 fw-medium" link-body-emphasis href="#">가맹점점 관리</a></li>
                  </ul>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-lg-7">
        <div class="card">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">Chain 목록</h5>
              </div>
            </div>
          </div>
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0" id="tbl_chain">
                <thead>
                  <tr>
                    <th class="text-900">가맹점 코드</th>
                    <th class="text-1200">가맹점 명</th>
                    <th class="text-900">사업자 번호</th>
                    <th class="text-900">대표자 명</th>
                    <th class="text-900">한도 금액</th>
                    <th class="text-900">즉결 잔고</th>
                    <th class="text-900">여신사</th>
                    <th class="text-900">대리점</th>                    
                    <th class="text-900">V/D</th>
                    <th class="text-900">계약</th>
                    <th class="text-900">출금</th>
                  </tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">가맹점 상세</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="min-vh-50">
              <form class="needs-validation" id="frm_chain_info" name="frm_chain_info" onsubmit="return false;" method="post" novalidate="">
                
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-5 col-form-label col-form-label-sm" for="chain_no">가맹점점코드</label>
                      <div class="col-sm-7">
                        <input class="form-control form-control-sm" id="chain_no" type="text" name="chain_no" readonly="readonly" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-5 col-form-label col-form-label-sm" for="chain_name">가맹점 명</label>
                      <div class="col-sm-7">
                        <input class="form-control form-control-sm" id="chain_name" type="text" name="chain_name" required />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-5 col-form-label col-form-label-sm" for="biz_no">사업자번호</label>
                      <div class="col-sm-7">
                        <input class="form-control form-control-sm" id="biz_no" type="text" name="biz_no" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-5 col-form-label col-form-label-sm" for="corp_no">법인 번호</label>
                      <div class="col-sm-7">
                        <input class="form-control form-control-sm" id="corp_no" type="text" name="corp_no" required />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="ceo_id">사업장 정보</label>
                  <div class="col-sm-5">
                    <input class="form-control form-control-sm" id="biz_zip_no" type="text" name="biz_zip_no" required />
                  </div>
                  <div class="col-sm-4">
                    <input class="form-control form-control-sm" id="ceo_nm" type="text" name="ceo_nm" required />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="ceo_id">대표자 정보</label>
                  <div class="col-sm-5">
                    <input class="form-control form-control-sm" id="ceo_user_id" type="text" name="ceo_user_id" required />
                  </div>
                  <div class="col-sm-4">
                    <input class="form-control form-control-sm" id="ceo_nm" type="text" name="ceo_nm" required />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-5 col-form-label col-form-label-sm" for="ceo_reg_no">주민번호</label>
                      <div class="col-sm-7">
                        <input class="form-control form-control-sm" id="ceo_reg_no" type="text" name="ceo_reg_no" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-5 col-form-label col-form-label-sm" for="ceo_mobile_no">연락처</label>
                      <div class="col-sm-7">
                        <input class="form-control form-control-sm" id="ceo_mobile_no" type="text" name="ceo_mobile_no" required />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="ceo_nm">대표자 명</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" id="ceo_nm" type="text" name="ceo_nm" required />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="bank_cd">운영계좌 은행</label>
                  <div class="col-sm-9">
                    <select class="form-select form-select-sm" id="bank_cd" placeholder="" name="bank_cd" required>
                      <option value="">선택</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="credit_name">여신사 명</label>                  
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm" id="credit_cd" type="text" name="credit_cd" readonly="readonly"/>
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control form-control-sm" id="credit_name" type="text" name="credit_name" required />
                  </div>
                </div>
                
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="biz_no">사업자 번호</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" id="biz_no" type="text" name="biz_no" required />
                  </div>
                </div>

                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="bank_cd">운영계좌 은행</label>
                  <div class="col-sm-9">
                    <select class="form-select form-select-sm" id="bank_cd" placeholder="" name="bank_cd" required>
                      <option value="">선택</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="account_no">계좌번호/비번</label>
                  <div class="col-sm-6">
                    <input class="form-control form-control-sm" id="account_no" type="text" name="account_no" required />                    
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm" id="account_pwd" type="text" name="account_pwd" required />
                  </div>                  
                </div>

                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="web_id">조회 ID/PWD</label>
                  <div class="col-sm-5">
                    <input class="form-control form-control-sm" id="web_id" type="text" name="web_id" required />
                  </div>
                  <div class="col-sm-4">
                    <input class="form-control form-control-sm" id="web_pwd" type="text" name="web_pwd" required />
                  </div>
                </div>

                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="credit_type">여신사 유형</label>
                  <div class="col-sm-9">
                    <select class="form-select form-select-sm" id="credit_type" placeholder="" name="credit_type" required>
                      <option value="">선택</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="api_url">API URL</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" id="api_url" type="text" name="api_url" />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="memo">Memo</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" id="memo" type="text" name="memo"/>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="use_yn">사용여부</label>
                  <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="use_yn_y" type="radio" name="use_yn" value="Y" required />
                      <label class="form-check-label" for="use_yn_y">예</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="use_yn_n" type="radio" name="use_yn" value="N" required />
                      <label class="form-check-label" for="use_yn_n">아니요</label>
                    </div>
                  </div>
                </div>

                <p class="text-end pb-0 mb-0 pd-0">
                  <button class="btn btn-info text-end" id="btn_clear"><i class="fa fa-check"></i>신규</button>
                  <button class="btn btn-primary text-end" id="btn_update" style="display: none"><i class="fa fa-paste"></i>저장</button>
                  <button class="btn btn-primary text-end" id="btn_create"><i class="fa fa-paste"></i>저장</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>

      
    </div>    
  </div>
  
</html>
  
