<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>운영조직 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>    
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/vendors/fullcalendar/index.global.min.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />
    
    <!-- DataTables Select CSS 추가 -->
    <link rel="stylesheet" href="/css/custom-salesm.css" />

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="none">      
      $(document).ready(function () {
        $('#frm_workday').onLoadFunction();   
          
        $('#tbl_workday').on('click', 'tr', function () {  
          // if ($(this).hasClass('selected')) {
          //   $(this).removeClass('selected');
          // } else {
          //   tbl_workday.$('tr.selected').removeClass('selected');
          //   $(this).addClass('selected');
          // }

          // 해당 행의 데이터 로드
          alert('click');
          const data = tbl_workday.row(this).data();
          
          if (data) {
            
            // $('#frm_workday')[0].reset();
            // $('#corp_cd').val(data.corp_cd);
            // $('#corp_type').val(data.corp_type).attr('selected', 'selected');
            // $('#corp_nm').val(data.corp_nm);
            // $('#biz_no').val(data.biz_no);
            // $('#bank_cd').val(data.bank_cd);            
            // $('#account_no').val(data.account_no);
            // $('#account_pwd').val(data.account_pwd);
            // $('#web_id').val(data.web_id);
            // $('#web_pwd').val(data.web_pwd);            
            // $('#api_url').val(data.api_url);
            // $('#memo').val(data.memo);  
            // $("input:radio[name='working'][value='" + data.working + "']").prop('checked', true);
            // $('#upt_user_id').val(data.upt_user_id);
            // $('#upt_dttm').val(data.upt_dttm);   

            $('#btn_update').show();
            $('#btn_create').hide();
            $('#crud').val('update'); 
          }  
        });      

        $('#btn_clear').click(function () {
          $('#frm_workday').clearForm();
          $("input:radio[name='working'][value='Y']").prop('checked', true);
          $('#btn_update').hide();
          $('#btn_create').show(); 
        }); 
        
        $('#btn_create').click(function () {
          $('#crud').val('create');
          var form = $('#frm_workday');
          var checked = true;
          $.each(form, function (i, val) {
            if (!val.checkValidity()) {
              checked = false;
            }
          });
          if (checked) {
            ConfirmdialogToAjax('create', '/base/organ/corpMng/corpCreate', $('#frm_workday').serialize(), fn_return_result);
          } 
        });
 

        function fn_return_result(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;
          if (resultCode == 'S000') {
            swal('성공', '작업을 정상적으로 완료하였습니다.', 'success');
            $('#frm_workday')[0].reset();    
            tbl_workday.ajax.reload();        
            $("input:radio[name='working'][value='Y']").prop('checked', true);
            $('#btn_update').hide();
            $('#btn_create').show(); 
            
            // $('#tbl_workday').setGridParam({ url: '/base/organ/corpMng/list', page: 1, datatype: 'json' }).trigger('reloadGrid');            
          } else {
            swal('실패', resultMsg, 'error');
          }
        }
        
      });
    </script>
  </head>
  <div class="content">    
    <div class="row g-3 mb-1">
      <div class="col-lg-10">
        <div class="card">
          <!-- <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-2">영업일 관리</h5>
              </div>
            </div>                
          </div>           -->
          <div class="card-body pt-1 px-1" style="padding-top: 0px">             
            <div data-calendar='{"events":[{"title":"Bootcamp","start":"2025-02-02"}]}' class="fc fc-media-screen fc-direction-ltr fc-theme-standard">
                <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr">
                    <div class="fc-toolbar-chunk">
                        <div class="fc-button-group">
                            <button type="button" title="Previous Month" aria-pressed="false" class="fc-prev-button fc-button fc-button-primary">
                                <span class="fc-icon fc-icon-chevron-left" role="img"></span>
                            </button>
                            <button type="button" title="Next Month" aria-pressed="false" class="fc-next-button fc-button fc-button-primary">
                                <span class="fc-icon fc-icon-chevron-right" role="img"></span>
                            </button>
                        </div>
                        <button type="button" title="This Month" disabled="" aria-pressed="false" class="fc-today-button fc-button fc-button-primary">today</button>
                    </div>
                    <div class="fc-toolbar-chunk">
                        <h2 class="fc-toolbar-title" id="fc-dom-1">March 2025</h2>
                    </div>
                    <div class="fc-toolbar-chunk">
                        <div class="fc-button-group">
                            <button type="button" title="Month view" aria-pressed="true" class="fc-dayGridMonth-button fc-button fc-button-primary fc-button-active">Month</button>
                            <button type="button" title="Week view" aria-pressed="false" class="fc-timeGridWeek-button fc-button fc-button-primary">Week</button>
                            <button type="button" title="Day view" aria-pressed="false" class="fc-timeGridDay-button fc-button fc-button-primary">Day</button>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="fc-dom-1" class="fc-view-harness fc-view-harness-active" style="height: 500px;">
                  <div class="fc-dayGridMonth-view fc-view fc-daygrid">
                  <table role="grid" class="fc-scrollgrid fc-scrollgrid-liquid" id="tbl_workday" name="tbl_workday">
                    <thead role="rowgroup">
                    <tr role="presentation" class="fc-scrollgrid-section fc-scrollgrid-section-header">
                      <th role="presentation">
                      <div class="fc-scroller-harness">
                        <div class="fc-scroller" style="overflow: hidden;">
                        <table role="presentation" class="fc-col-header" style="width: 1518px;">
                          <thead role="presentation">
                          <tr role="row">
                            <th role="columnheader" class="fc-col-header-cell fc-day fc-day-mon">
                            <div class="fc-scrollgrid-sync-inner">
                              <a aria-label="Monday" class="fc-col-header-cell-cushion">Mon</a>
                            </div>
                            </th>
                            <th role="columnheader" class="fc-col-header-cell fc-day fc-day-tue">
                            <div class="fc-scrollgrid-sync-inner">
                              <a aria-label="Tuesday" class="fc-col-header-cell-cushion">Tue</a>
                            </div>
                            </th>
                            <th role="columnheader" class="fc-col-header-cell fc-day fc-day-wed">
                            <div class="fc-scrollgrid-sync-inner">
                              <a aria-label="Wednesday" class="fc-col-header-cell-cushion">Wed</a>
                            </div>
                            </th>
                            <th role="columnheader" class="fc-col-header-cell fc-day fc-day-thu">
                            <div class="fc-scrollgrid-sync-inner">
                              <a aria-label="Thursday" class="fc-col-header-cell-cushion">Thu</a>
                            </div>
                            </th>
                            <th role="columnheader" class="fc-col-header-cell fc-day fc-day-fri">
                            <div class="fc-scrollgrid-sync-inner">
                              <a aria-label="Friday" class="fc-col-header-cell-cushion">Fri</a>
                            </div>
                            </th>
                            <th role="columnheader" class="fc-col-header-cell fc-day fc-day-sat">
                            <div class="fc-scrollgrid-sync-inner">
                              <a aria-label="Saturday" class="fc-col-header-cell-cushion">Sat</a>
                            </div>
                            </th>
                            <th role="columnheader" class="fc-col-header-cell fc-day fc-day-sun"></th>
                            <div class="fc-scrollgrid-sync-inner"></div>
                              <a aria-label="Sunday" class="fc-col-header-cell-cushion">Sun</a>
                            </div>
                            </th>
                          </tr>
                          </thead>
                        </table>
                        </div>
                      </div>
                      </th>
                    </tr>
                    </thead>
                    <tbody role="rowgroup">
                    <tr role="presentation" class="fc-scrollgrid-section fc-scrollgrid-section-body fc-scrollgrid-section-liquid">
                      <td role="presentation">
                      <div class="fc-scroller-harness fc-scroller-harness-liquid">
                        <div class="fc-scroller fc-scroller-liquid-absolute" style="overflow: hidden auto;">
                        <div class="fc-daygrid-body fc-daygrid-body-unbalanced" style="width: 1518px;"></div>
                            <table role="presentation" class="fc-scrollgrid-sync-table" style="width: 1518px; height: 1076px;">
                            <tbody role="presentation"></tbody>
                            <tr role="row"></tr>
                            <td aria-labelledby="fc-dom-2" role="gridcell" data-date="2025-02-24" class="fc-day fc-day-mon fc-day-past fc-day-other fc-daygrid-day">
                              <div class="fc-daygrid-day-frame fc-scrollgrid-sync-inner">
                              <div class="fc-daygrid-day-top"></div>
                              <a aria-label="February 24, 2025" id="fc-dom-2" class="fc-daygrid-day-number">24</a>
                              </div>
                              <div class="fc-daygrid-day-events"></div>
                              <div class="fc-daygrid-day-bottom" style="margin-top: 0px;"></div>
                              </div>
                              <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <!-- Additional days omitted for brevity -->
                            </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                      </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">일정 상세</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="min-vh-50">
              <form class="needs-validation" id="frm_workday" name="frm_workday" onsubmit="return false;" method="post" novalidate=""> 
                <div class="input-group input-group-sm mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="corp_type">날짜</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" id="work_date" type="text" name="work_date" readonly="readonly" istyle="date"/>  
                  </div>                  
                </div>                
                <div class="input-group input-group-sm mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="working">휴일</label>
                  <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="working_y" type="radio" name="working" value="Y" required />
                      <label class="form-check-label" for="working_y">예</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="working_n" type="radio" name="working" value="N" required />
                      <label class="form-check-label" for="working_n">아니요</label>
                    </div>
                  </div>
                </div>
                <div class="input-group input-group-sm mb-2">
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="day_nm">휴일명</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" id="day_nm" type="text" name="day_nm" disabled/>  
                  </div>                  
                </div> 
                <div class="input-group input-group-sm mb-2"> 
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="addr">수정자</label>                     
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control form-control-sm" id="upt_user_id" name="upt_user_id" readonly="readonly" /> 
                    </div>                    
                  </div>
                </div>    
                <div class="input-group input-group-sm mb-2"> 
                  <label class="col-sm-3 col-form-label col-form-label-sm" for="addr">수정일</label>                     
                  <div class="col-sm-9">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control form-control-sm" id="upt_dttm" name="upt_dttm" readonly="readonly" /> 
                    </div>                    
                  </div>
                </div>  
                <p class="text-end pb-0 mb-0 pd-0">
                  <button class="btn btn-info text-end" id="btn_clear"><i class="fa fa-check"></i>신규</button>
                  <button class="btn btn-primary text-end" id="btn_update" style="display: none"><i class="fa fa-paste"></i>저장</button>
                  <button class="btn btn-primary text-end" id="btn_create"><i class="fa fa-paste"></i>저장</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
</html>
