<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.manage.loan.mapper.LoanSubMapper">
    <select id="getQueryTotalCnt" resultType="int">
		SELECT FOUND_ROWS()
	</select> 
    <select id="getLoanSubSummary" parameterType="java.util.HashMap" resultType="java.util.HashMap">        
        /* LoanSubMapper.getSubSummary */
        SELECT  SQL_CALC_FOUND_ROWS
                TC.CHAIN_NO                     AS chain_no
                , TC.CHAIN_NM                   AS chain_nm
                , TC.SVC_STAT                   AS svc_stat
                , IFNULL(SM.MIN_REG_DATE, DATE_FORMAT(NOW(), '%Y-%m-%d'))               AS min_reg_date
                , IFNULL(SM.MAX_REG_DATE, DATE_FORMAT(NOW(), '%Y-%m-%d'))               AS max_reg_date
                , IFNULL(OCCUR_AMT, 0)  	AS occur_amt
                , IFNULL(OCCUR_BASE_AMT, 0) 	AS occur_base_amt
                , IFNULL(OCCUR_SVC_AMT, 0) 	AS occur_svc_amt
                , IFNULL(OCCUR_CRD_AMT, 0) 	AS occur_crd_amt
                , IFNULL(RECV_AMT, 0) 	        AS recv_amt                        
                , IFNULL(RECV_BASE_AMT, 0) 	AS recv_base_amt
                , IFNULL(RECV_SVC_AMT, 0) 	AS recv_svc_amt
                , IFNULL(RECV_CRD_AMT, 0) 	AS recv_crd_amt
                , IFNULL(REMAIN_AMT, 0) 	AS remain_amt
                , IFNULL(REMAIN_BASE_AMT, 0) 	AS remain_base_amt
                , IFNULL(REMAIN_SVC_AMT, 0) 	AS remain_svc_amt
                , IFNULL(REMAIN_CRD_AMT, 0) 	AS remain_crd_amt
        FROM	TB_CHAIN TC  
                LEFT OUTER JOIN (        
                    SELECT	SM.CHAIN_NO
                            , MIN(REG_DATE) 	        AS MIN_REG_DATE
                            , MAX(REG_DATE) 	        AS MAX_REG_DATE
                            , SUM(SM.OCCUR_AMT) 		AS OCCUR_AMT
                            , SUM(SM.OCCUR_BASE_AMT) 	AS OCCUR_BASE_AMT
                            , SUM(SM.OCCUR_SVC_AMT) 	AS OCCUR_SVC_AMT
                            , SUM(SM.OCCUR_CRD_AMT) 	AS OCCUR_CRD_AMT
                            , SUM(SM.RECV_AMT) 	        AS RECV_AMT
                            , SUM(SM.RECV_BASE_AMT) 	AS RECV_BASE_AMT
                            , SUM(SM.RECV_SVC_AMT) 	        AS RECV_SVC_AMT
                            , SUM(SM.RECV_CRD_AMT) 	        AS RECV_CRD_AMT
                            , SUM(SM.REMAIN_AMT) 	        AS REMAIN_AMT
                            , SUM(SM.REMAIN_BASE_AMT) 	AS REMAIN_BASE_AMT
                            , SUM(SM.REMAIN_SVC_AMT) 	AS REMAIN_SVC_AMT
                            , SUM(SM.REMAIN_CRD_AMT) 	AS REMAIN_CRD_AMT    
                    FROM 	TB_SUB_MST SM
                    WHERE   SM.USE_YN = 'Y' 
                      AND   SUB_TYPE = 'L'
                      AND   SUB_CODE IN ('L01001', 'L02001')
                    <if test="sch_reg_sdt != null and sch_reg_sdt != ''">
                            AND  SM.REG_DATE &gt;= #{sch_reg_sdt} 
                    </if>
                    <if test="sch_reg_edt != null and sch_reg_edt != ''">
                            AND  SM.REG_DATE &lt;= #{sch_reg_edt} 
                    </if>  
                    <if test="sch_chain_no != null and sch_chain_no != ''"> 
                        AND  SM.CHAIN_NO = #{sch_chain_no} 
                    </if>   
                    <if test="sch_sub_status != null and sch_sub_status != ''">
                        AND  SM.SUB_STATUS = #{sch_sub_status} 
                    </if> 
                    GROUP 	BY SM.CHAIN_NO
                ) SM ON SM.CHAIN_NO = TC.CHAIN_NO
        WHERE	TC.USE_YN = 'Y'         
        <if test='sch_chain_all == null'>
			AND  TC.SVC_STAT IN ('O', 'R')
		</if>
        <if test="sch_chain_no != null and sch_chain_no != ''"> 
            AND  TC.CHAIN_NO = #{sch_chain_no} 
        </if>      
        <if test='sch_agency_cd != null and sch_agency_cd != ""'>
            AND  TC.AGENCY_CD = #{sch_agency_cd}
        </if>
        <if test='sch_chain_nm != null and sch_chain_nm != ""'>
            AND  TC.CHAIN_NM LIKE CONCAT('%', #{sch_chain_nm}, '%')
        </if>                  
        <choose>
            <when test="orderBy != '' and orderBy != null">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY 1
            </otherwise>
        </choose>                
        LIMIT  ${start}, ${end}
    </select>
    
    <select id="getLoanSubSummaryTotal" parameterType="java.util.HashMap" resultType="java.util.HashMap">        
        /* LoanSubMapper.getSubSummaryTotal */
        SELECT  IFNULL(SUM(OCCUR_AMT), 0)  	AS occur_amt
                , IFNULL(SUM(OCCUR_BASE_AMT), 0) 	AS occur_base_amt
                , IFNULL(SUM(OCCUR_SVC_AMT), 0) 	AS occur_svc_amt
                , IFNULL(SUM(OCCUR_CRD_AMT), 0) 	AS occur_crd_amt
                , IFNULL(SUM(RECV_AMT), 0) 	        AS recv_amt                        
                , IFNULL(SUM(RECV_BASE_AMT), 0) 	AS recv_base_amt
                , IFNULL(SUM(RECV_SVC_AMT), 0) 	AS recv_svc_amt
                , IFNULL(SUM(RECV_CRD_AMT), 0) 	AS recv_crd_amt
                , IFNULL(SUM(REMAIN_AMT), 0) 	AS remain_amt
                , IFNULL(SUM(REMAIN_BASE_AMT), 0) 	AS remain_base_amt
                , IFNULL(SUM(REMAIN_SVC_AMT), 0) 	AS remain_svc_amt
                , IFNULL(SUM(REMAIN_CRD_AMT), 0) 	AS remain_crd_amt
        FROM	TB_CHAIN TC  
                LEFT OUTER JOIN (        
                    SELECT	SM.CHAIN_NO
                            , MIN(REG_DATE) 	        AS MIN_REG_DATE
                            , MAX(REG_DATE) 	        AS MAX_REG_DATE
                            , SUM(SM.OCCUR_AMT) 		AS OCCUR_AMT
                            , SUM(SM.OCCUR_BASE_AMT) 	AS OCCUR_BASE_AMT
                            , SUM(SM.OCCUR_SVC_AMT) 	AS OCCUR_SVC_AMT
                            , SUM(SM.OCCUR_CRD_AMT) 	AS OCCUR_CRD_AMT
                            , SUM(SM.RECV_AMT) 	        AS RECV_AMT
                            , SUM(SM.RECV_BASE_AMT) 	AS RECV_BASE_AMT
                            , SUM(SM.RECV_SVC_AMT) 	        AS RECV_SVC_AMT
                            , SUM(SM.RECV_CRD_AMT) 	        AS RECV_CRD_AMT
                            , SUM(SM.REMAIN_AMT) 	        AS REMAIN_AMT
                            , SUM(SM.REMAIN_BASE_AMT) 	AS REMAIN_BASE_AMT
                            , SUM(SM.REMAIN_SVC_AMT) 	AS REMAIN_SVC_AMT
                            , SUM(SM.REMAIN_CRD_AMT) 	AS REMAIN_CRD_AMT    
                    FROM 	TB_SUB_MST SM
                    WHERE   SM.USE_YN = 'Y' 
                      AND   SUB_TYPE = 'L'
                      AND   SUB_CODE IN ('L01001', 'L02001')
                    <if test="sch_reg_sdt != null and sch_reg_sdt != ''">
                        AND  SM.REG_DATE &gt;= #{sch_reg_sdt} 
                    </if>
                    <if test="sch_reg_edt != null and sch_reg_edt != ''">
                        AND  SM.REG_DATE &lt;= #{sch_reg_edt} 
                    </if>  
                    <if test="sch_chain_no != null and sch_chain_no != ''"> 
                        AND  SM.CHAIN_NO = #{sch_chain_no} 
                    </if>   
                    <if test="sch_sub_status != null and sch_sub_status != ''">
                        AND  SM.SUB_STATUS = #{sch_sub_status} 
                    </if> 
                    GROUP 	BY SM.CHAIN_NO
                ) SM ON SM.CHAIN_NO = TC.CHAIN_NO
        WHERE	TC.USE_YN = 'Y'         
        <if test='sch_chain_all == null'>
			AND  TC.SVC_STAT IN ('O', 'R')
		</if>
        <if test="sch_chain_no != null and sch_chain_no != ''"> 
            AND  TC.CHAIN_NO = #{sch_chain_no} 
        </if>   
        <if test='sch_chain_nm != null and sch_chain_nm != ""'>
            AND  TC.CHAIN_NM LIKE CONCAT('%', #{sch_chain_nm}, '%')
        </if>
    </select>

    <select id="getChainLoanSubList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* SubtractMapper.getChainSubList */
        SELECT  SQL_CALC_FOUND_ROWS
                SM.SUB_NO                                       AS sub_no
                , SM.CHAIN_NO                                   AS chain_no       
                , SM.SUB_STATUS                                 AS sub_status        
                , GET_CODE_NM('SUB_STATUS', SM.SUB_STATUS) 		AS sub_status_nm
                , SM.CHAIN_NO                                   AS chain_no    
                , TC.CHAIN_NM			                		AS chain_nm
                , GET_CODE_NM('SVC_STAT', TC.SVC_STAT)          AS svc_stat_nm
                , SM.REG_DATE                                   AS reg_date
                , IFNULL(SM.RESV_DATE, '')                      AS resv_date
                , SM.SUB_TYPE                                   AS sub_type    
                , GET_CODE_NM('SUB_TYPE', SM.SUB_TYPE) 	        AS sub_type_nm
                , SM.SUB_CODE                                   AS sub_code
                , GET_CODE_NM('SUB_CODE', SM.SUB_CODE) 	        AS sub_code_nm
                , IFNULL(SM.SUB_MEMO, '')                   	AS sub_memo                        
                , IFNULL(SM.OCCUR_AMT, 0)       AS occur_amt
                , IFNULL(SM.OCCUR_BASE_AMT, 0)  AS occur_base_amt
                , IFNULL(SM.OCCUR_SVC_AMT, 0)   AS occur_svc_amt                
                , IFNULL(SM.OCCUR_CRD_AMT, 0)   AS occur_crd_amt
                , IFNULL(SM.RECV_AMT, 0)        AS recv_amt
                , IFNULL(SM.RECV_BASE_AMT, 0)   AS recv_base_amt
                , IFNULL(SM.RECV_SVC_AMT, 0)    AS recv_svc_amt 
                , IFNULL(SM.RECV_CRD_AMT, 0)    AS recv_crd_amt
                , IFNULL(SM.REMAIN_AMT, 0)      AS remain_amt      
                , IFNULL(SM.REMAIN_BASE_AMT, 0) AS remain_base_amt       
                , IFNULL(SM.REMAIN_SVC_AMT, 0)  AS remain_svc_amt 
                , IFNULL(SM.REMAIN_CRD_AMT, 0)  AS remain_crd_amt
                , SM.SHIFT_FLAG                 AS shift_flag
                , SM.SHIFT_SUB_NO               AS shift_sub_no                         
                , SM.LOAN_NO                    AS loan_no
                , SM.LOAN_SC_SEQ                AS loan_sc_seq
                , SM.ADJUST_NO                  AS adjust_no
                , SM.REMIT_NO                   AS remit_no
                , SM.USE_YN                     AS use_yn
                , DATE_FORMAT(IFNULL(SM.UPT_DTTM, SM.ENT_DTTM), '%Y-%m-%d %H:%i:%s')      AS upt_dttm
                , IFNULL(SM.UPT_USER_ID, SM.ENT_USER_ID) 		                  AS upt_user_id
        FROM 	TB_SUB_MST SM
                STRAIGHT_JOIN TB_CHAIN TC ON TC.CHAIN_NO = SM.CHAIN_NO
                                AND TC.USE_YN  = 'Y'
        WHERE	1 = 1
          AND   SUB_TYPE = 'L'
          AND   SUB_CODE IN ('L01001', 'L02001')
          AND   SM.CHAIN_NO =  #{sch_list_chain_no}
        <if test ="userAuthGrpCd != 'AG0001' and userAuthGrpCd != 'AG0002' ">            
              AND  SM.USE_YN = 'Y'
        </if>        
        <if test='sch_reg_sdt != null and sch_reg_sdt != ""'>
            AND  SM.REG_DATE &gt;= #{sch_reg_sdt} 
        </if>
        <if test='sch_reg_edt != null and sch_reg_edt != ""'>
            AND  SM.REG_DATE &lt;= #{sch_reg_edt} 
        </if>    
        <if test='sch_sub_status != null and sch_sub_status != ""'>
            AND  SM.SUB_STATUS = #{sch_sub_status} 
        </if>              
        <choose>
            <when test="orderBy != '' and orderBy != null">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY 1 desc
            </otherwise>
        </choose>                
        LIMIT  ${start}, ${end}
    </select>

    <select id="getChainLoanSubListTotal" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        /* SubtractMapper.getChainLoanSubListTotal */
        SELECT  IFNULL(SUM(SM.OCCUR_AMT), 0)       AS occur_amt
                , IFNULL(SUM(SM.OCCUR_BASE_AMT), 0)  AS occur_base_amt
                , IFNULL(SUM(SM.OCCUR_SVC_AMT), 0)   AS occur_svc_amt                
                , IFNULL(SUM(SM.OCCUR_CRD_AMT), 0)   AS occur_crd_amt
                , IFNULL(SUM(SM.RECV_AMT), 0)        AS recv_amt
                , IFNULL(SUM(SM.RECV_BASE_AMT), 0)   AS recv_base_amt
                , IFNULL(SUM(SM.RECV_SVC_AMT), 0)    AS recv_svc_amt 
                , IFNULL(SUM(SM.RECV_CRD_AMT), 0)    AS recv_crd_amt
                , IFNULL(SUM(SM.REMAIN_AMT), 0)      AS remain_amt      
                , IFNULL(SUM(SM.REMAIN_BASE_AMT), 0) AS remain_base_amt       
                , IFNULL(SUM(SM.REMAIN_SVC_AMT), 0)  AS remain_svc_amt 
                , IFNULL(SUM(SM.REMAIN_CRD_AMT), 0)  AS remain_crd_amt             
        FROM 	TB_SUB_MST SM
                STRAIGHT_JOIN TB_CHAIN TC ON TC.CHAIN_NO = SM.CHAIN_NO
                                AND TC.USE_YN  = 'Y'
        WHERE	1 = 1
          AND   SUB_TYPE = 'L'
          AND   SUB_CODE IN ('L01001', 'L02001')
          AND   SM.CHAIN_NO =  #{sch_list_chain_no}
        <if test='sch_reg_sdt != null and sch_reg_sdt != ""'>
            AND  SM.REG_DATE &gt;= #{sch_reg_sdt} 
        </if>
        <if test='sch_reg_edt != null and sch_reg_edt != ""'>
            AND  SM.REG_DATE &lt;= #{sch_reg_edt} 
        </if>        
    </select>
</mapper>    