<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" layout:fragment="Content">
  <head>
    <title>게시판 관리</title>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/datatables.net/dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dropzone/dropzone-min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css" />
    <link href="/vendors/dropzone/dropzone.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/custom-salesm.css" />
    <script th:inline="none">
      $(document).ready(function () {
        function resetPreviewArea() {
          $('#tbl_preview tbody').html('');
          $('#fileview_area').css('display', 'none');
        }
        callAjax('/common/totalCodelist', "code_grp_cd=('BOARD_TP')", fn_code_setting);

        function fn_code_setting(data) {
          codeSetting('BOARD_TP', data.data, '#sch_board_tp,#board_tp', '게시구분', '', '');          
        }

        tinymce.init({
          selector: 'textarea#conts',
          height: '357',
          menubar: false,
        });

        var tbl_board = $('#tbl_board').DataTable({
          processing: true,
          serverSide: true,
          select: true,
          responsive: true,
          ajax: {
            url: '/manage/system/board/list',
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            data: function (postData) {
              formData = $('#frm_sch').serializeObject();
              Object.assign(postData, formData);
              return JSON.stringify(postData);
            },
          }, 
          columns: [             
            { data: 'brd_tp_nm' },
            { data: 'title' },
            { data: 'ent_dttm' },
            { data: 'ent_user_id' },
            { data: 'view_cnt' }, 
          ],
          columnDefs: [
            { targets: 0, width: '100px', className: 'text-center' },
            { targets: 1, width: '200px', className: 'text-center' },
            { targets: 2, width: '120px', className: 'text-left' },
            { targets: 3, width: '100px', className: 'text-left' },
            { targets: 4, width: '90px', className: 'text-center' },            
          ], 
          order: [[2, 'desc']],
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          autoWidth: false,
          responsive: true,
          scrollCollapse: false,
          pageLength: 25,
          scrollY: '610px',
          info: false, 
          language: {
            emptyTable: '데이터가 없습니다.',
            search: '검색:',
            zeroRecords: '일치하는 데이터가 없습니다.',
            loadingRecords: '로딩중...',
            processing: '처리중...',
          },
        });

        $('#tbl_board').on('click', 'tr', function () {
           if ($(this).hasClass('selected')) {
              $(this).removeClass('selected');
          } else {
              tbl_board.$('tr.selected').removeClass('selected');              
              $(this).addClass('selected');
          } 

          $('#frm_board_info').clearForm();
          var row = tbl_board.row(this).data();
          $("input:radio[name='use_yn']").prop('checked', false);
          $("input:radio[name='use_yn'][value='" + row.use_yn + "']").prop('checked', true);

          $('#frm_board_info').autoMapping(row);
          tinymce.activeEditor.setContent(row.conts);

          if (row.file_cnt > 0) { 
            $('#fileview_area').css('display', 'inline');
            tbl_file.ajax.reload();
          } else {
            $('#fileview_area').css('display', 'none');
          } 
          
          $('#btn_board_update').show();
          $('#btn_board_create').hide();
        });

        $('#btn_board_clear').click(function () {
          $('#frm_board_info').clearForm();
          $('#fileview_area').css('display', 'none');

          // $('input:radio[name=use_yn]').prop('checked', false);
          $("input:radio[name='use_yn'][value='Y']").prop('checked', true);

          tinymce.activeEditor.setContent('');

          $('#btn_board_update').hide();
          $('#btn_board_create').show();
        }); 
        
        $('#btn_search').click(function () {
          $('#frm_board_info').clearForm();
          tbl_board.ajax.reload(); 
        });

        $('#btn_board_create').click(function () {
          $('#brd_status').val('create');
          // $('#frm_board_info').attr('action', '/manage/system/board/boardCreate');
          // $('#frm_board_info').submit();
          var form = $('#frm_board_info');
          var checked = true;
          $.each(form, function (i, val) {
            if (!val.checkValidity()) {
              checked = false;
            }
          });
          if (checked) { 
            if (!confirm("저장하시겠습니까?")) {              
              return;
            }
            var formData = new FormData($('#frm_board_info')[0]);
            $.ajax({
              url: '/manage/system/board/boardCreate',
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function (response) {
                fn_return_board(response);
              },
              error: function (xhr, status, error) {
                Swal.fire('실패', '저장 중 오류가 발생했습니다.', 'error');
              }
            }); 
          }
        });

        $('#btn_board_update').click(function () {
          $('#brd_status').val('update');
          var form = $('#frm_board_info');
          var checked = true;
          var board_seq = $('#board_seq').val();
          if(board_seq == '') {
            swal('실패', "게시글을 먼저 선택해주세요.", 'error');
            checked = false;
            return;
          }
          $.each(form, function (i, val) {
            if (!val.checkValidity()) {
              checked = false;
            }
          });
          if (checked) {
            swal({
              title: "수정하시겠습니까?",
              text: "입력하신 내용으로 저장합니다.",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            }).then((willSave) => {
              if (willSave) {
                var formData = new FormData($('#frm_board_info')[0]);
                $.ajax({
                  url: '/manage/system/board/boardUpdate',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function (response) {
                    fn_return_board(response);
                  },
                  error: function (xhr, status, error) {
                    swal('실패', resultMsg, 'error');
                  }
                });
              }
            });
            return;
          }
        });

        function fn_return_board(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg;
          $('#frm_board_info')[0].reset();
          // editor.html.set(''); 
          tinymce.activeEditor.setContent('');
          if (resultCode == 'S000') {
            swal('성공', '작업을 정상적으로 완료하였습니다.', 'success');
            tbl_board.ajax.reload();
            // $('#tbl_board').setGridParam({ url: '/manage/system/board/list', page: 1, datatype: 'json' }).trigger('reloadGrid');
          }
        } 
        // --------------------------------------------------------------- frm_board_info 정보 처리 ---------------------------------------------------
        var tbl_file = $('#tbl_file').DataTable({
            processing: true,
            serverSide: true,
            select: true,           
            ajax: {
              url: '/manage/system/board/boardFileList',
              contentType: 'application/json',
              dataType: 'JSON',
              type: 'POST',
              data: function (postData) {
                formData = $('#frm_board_info').serializeObject();
                Object.assign(postData, formData);
                return JSON.stringify(postData);
              },
            },
            columns: [
                  { data: 'origin_file_nm' }                
                , {
                    data: null,
                    render: function(data, type, row) {
                      if (row.file_path) {
                        return '<a href="' + row.file_path + '" download="' + row.origin_file_nm + '" class="btn btn-success btn-xs" style="padding: 0.1rem 0.3rem; font-size: 0.80rem;">다운로드</a>';
                      }
                      return '';
                    }
                  }
                , { 
                    data: null,
                    render: function(data, type, row) {
                    return '<button type="button" class="btn btn-danger btn-xs btn-file-delete" data-file-seq="' + row.file_seq + '" style="padding: 0.1rem 0.3rem; font-size: 0.80rem;">삭제</button>';
                    } 
                  }
              ],
            columnDefs: [
            { targets: 0, width: '300px', className: 'text-center' },
            { targets: 1, width: '90px', className: 'text-right' },
            { targets: 2, width: '90px', className: 'text-center' }, 
            ],
            order: [[0, 'desc']],
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            responsive: false,
            autoWidth: false,
            scrollX: true ,
            scrollCollapse: true,
            // pageLength: 5,
            scrollY: '100px',
            info: false,
            language: {
              emptyTable: '데이터가 없습니다.',
              search: '검색:',
              zeroRecords: '일치하는 데이터가 없습니다.',
              loadingRecords: '로딩중...',
              processing: '처리중...',
            }, 
        }); 

        $(document).on('click', '.btn-file-delete', function() {
          var fileSeq = $(this).data('file-seq');
          var boardSeq = $('#board_seq').val();
          if (!boardSeq) {
            swal('경고', '게시글 정보가 없습니다.', 'warning');
            return;
          } 
          Swal.fire({
            title: '삭제 확인',
            text: '선택한 파일을 삭제하시겠습니까?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '예',
            cancelButtonText: '아니오',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6'
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: '/manage/system/board/deleteFile',
                type: 'POST',
                data: {
                  board_seq: boardSeq,
                  file_seq: fileSeq
                },
                success: function (data) {
                  Swal.fire('성공', '파일이 삭제되었습니다.', 'success');
                  tbl_file.ajax.reload();
                },
                error: function () {
                  Swal.fire('오류', '파일 삭제에 실패하였습니다.', 'error');
                }
              });
            }
          });
        });

        // $('#tbl_file').on('click', 'tr', function () {
        //   if ($(this).hasClass('selected')) {
        //     $(this).removeClass('selected');
        //   } else {
        //     tbl_file.$('tr.selected').removeClass('selected');
        //     $(this).addClass('selected');
        //   } 
        // });      

        function fn_file_return_result(data) {
          var resultCode = data.resultCode;
          var resultMsg = data.resultMsg; 
          if (resultCode == 'S000') { 
            swal('성공', '작업을 정상적으로 완료하였습니다.', 'success');
            tbl_card.ajax.reload();                 
          } else {
            swal('실패', resultMsg, 'error');
          }
        } 

        function deleteFile(fileSeq){
          var boardSeq = $('#board_seq').val();
          if (!boardSeq) {
            swal('경고', '게시글 정보가 없습니다.', 'warning');
            return;
          }

          swal({
            title: '삭제 확인',
            text: '선택한 파일을 삭제하시겠습니까?',
            icon: 'warning',
            buttons: true,
            dangerMode: true,
          }).then((willDelete) => {
            if (willDelete) {
              $.ajax({
                url: '/manage/system/board/file/delete',
                type: 'POST',
                data: {
                  boardSeq: boardSeq,
                  fileSeq: fileSeq
                },
                success: function (data) {
                  fn_file_return_result(data);
                },
                error: function (xhr, status, error) {
                  swal('오류', '파일 삭제에 실패하였습니다.', 'error');
                }
              });
            }
          });
        }

        $('#file_upload').change(function (e) {
          var files = e.target.files;
          console.log(files.length);
          if (files.length > 0) {
            var uploadFile = $(this);
            var filename = this.files[0].name;
            var files = !!this.files ? this.files : [];
            var maxSize = 50 * 1024 * 1024;
            var fileSize = files[0].size;

            if (!files.length || !window.FileReader) return;
            var fileExt = filename.slice(filename.indexOf('.') + 1).toLowerCase();
            if (fileSize > maxSize) {
              $('#upload_file').val('');
              swal('경고', '업로드 파일은 50MB까지만 가능합니다.', 'error');
              return;
            }

            var reader = new FileReader();
            reader.readAsDataURL(files[0]);
            reader.onloadend = function () {
              if (files.length > 1) {
                filename = filename + ' 외 ' + (files.length - 1) + '개';
              }
              $('#upload_file').val(filename);
            };
          }
        }); 
        
      });
    </script>
  </head>
  <div class="content">     
    <div class="row g-3 mb-3">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-lg-4 align-self-center">
                <h4 class="mb-0">게시글 목록</h4>
              </div>    
              <div class="col-lg-8">
                <form id="frm_sch" name="frm_sch" onsubmit="return false;" novalidate="">
                  <div class="input-group input-group-sm px-3">                    
                    <select class="form-select form-control-sm" id="sch_board_tp" name="sch_board_tp" style="width: 75px">
                      <option value="">게시구분</option>                
                    </select>
                    <select class="form-select form-control-sm" id="sch_tp" name="sch_tp" style="width: 75px">
                      <option value="sch_tp_title">제목</option>                
                      <option value="sch_tp_conts">내용</option>
                    </select>
                    <input type="text" class="form-control form-control-sm" id="sch_tp_val" name="sch_tp_val"  />
                    <span class="input-group-btn"><button type="button" class="btn btn-primary btn-sm" id="btn_search" name="btn_search">조회</button></span>
                  </div>
                </form>
              </div> 
            </div>
          </div>
          <div class="card-body pt-0 px-0" style="padding-top: 0px">
            <div class="table-responsive scrollbar">
              <table class="table table-striped table-sm fs-9 mb-0" id="tbl_board">
                <thead>
                  <tr>
                    <th>게시판 구분</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>작성자</th>
                    <th>조회수</th>
                  </tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <div class="row flex-between-end">
              <div class="col-auto align-self-center">
                <h5 class="mb-0">게시판 상세</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="min-vh-50">
              <form class="needs-validation" id="frm_board_info" name="frm_board_info" onsubmit="return false;" method="post" enctype="multipart/form-data" novalidate="">
                <input type="hidden" id="board_seq" name="board_seq" />
                <input type="hidden" id="brd_status" name="brd_status" />                
                <div class="row mb-2">                  
                  <div class="col-sm-8">
                    <div class="input-group input-group-sm mb-1">
                      <label class="col-sm-3 col-form-label col-form-label-sm" for="brd_tp">게시 구분</label>
                      <div class="col-sm-9">
                        <select class="form-select form-select-sm" id="board_tp" placeholder="" name="board_tp" required>
                          <option value="">선택</option>
                        </select>
                      </div>   
                    </div>
                  </div>                
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-1">
                      <label class="col-sm-3 col-form-label col-form-label-sm" for="use_yn">사용여부</label>
                      <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" id="use_yn_y" type="radio" name="use_yn" value="Y" required />
                          <label class="form-check-label" for="use_yn_y">예</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" id="use_yn_n" type="radio" name="use_yn" value="N" required />
                          <label class="form-check-label" for="use_yn_n">아니요</label>
                        </div>
                      </div>     
                    </div>                    
                  </div>                  
                </div>      
                <div class="row mb-2">  
                  <div class="col-sm-8">
                    <div class="input-group input-group-sm mb-1">
                      <label class="col-sm-3 col-form-label col-form-label-sm" for="title">제목</label>
                      <div class="col-sm-9">
                        <input class="form-control form-control-sm" id="title" type="text" name="title" required />
                      </div>   
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-1">
                      <input class="form-control form-control-sm bg-light" id="ent_user_id" type="text" name="ent_user_id" readonly  />
                      <input class="form-control form-control-sm bg-light" id="ent_dttm" type="text" name="ent_dttm" readonly />
                    </div>
                  </div>                
                </div>            
                <div class="row mb-3">
                  <!-- <label class="col-form-label col-form-label-sm" for="conts">내용</label> -->
                  <textarea class="tinymce d-none" id="conts" name="conts"></textarea>
                </div>
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label col-form-label-sm" for="file_upload">파일</label>
                  <div class="col-sm-10">
                    <input class="form-control form-control-sm" id="file_upload" type="file" name="file_upload" novalidate multiple="multiple" />
                    <div class="form-group" id="fileview_area" style="display: none">
                      <div class="col-md-12">
                        <table class="table table-striped table-sm fs-9 mb-0" id="tbl_file">
                          <thead>
                            <th style="width: 300px; text-align: center">파일명</th>
                            <th style="width: 90px; text-align: center">다운로드</th>
                            <th style="width: 90px; text-align: center">삭제</th>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>                  
                </div>
                <p class="text-end pb-0 mb-0 pd-0">
                  <button type="button" "btn btn-info text-end" id="btn_board_clear"><i class="fa fa-check"></i>신규</button>
                  <button type="button" "btn btn-primary text-end" id="btn_board_update" style="display: none"><i class="fa fa-paste"></i>저장</button>
                  <button type="button" "btn btn-primary text-end" id="btn_board_create"><i class="fa fa-paste"></i>저장</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
